<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper-wide">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites',
                              'action' => 'add'), null, true
                    ) ?>"><span>My website</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>General Configuration</h3>
                </header>
                <section class="content-box-table">
                    <?php if ($this->showTopErrorBox == true): ?>
                        <div class="box box-error">Please check errors and try
                            again
                        </div>
                    <?php endif; ?>
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
        <!-- Right column/section -->
        <aside class="column width2">
            <div class="content-box">
                <header>
                    <h3>Quick info</h3>
                </header>
                <section>
                    <dl>
                        <dt><?php echo $this->quickInfo->subject; ?></dt>
                        <dd><?php echo $this->quickInfo->body; ?></dd>
                    </dl>
                </section>
            </div>
        </aside>
        <!-- End of Right column/section -->
    </div>
    <!-- End of Wrapper -->
</div>