<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Site configuration</h1>
    </div>
</div>

<div class="container">
    <div class="containerinner">
        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>General Setup</h2>
                    <div class="help fr">
                        <?php if ($this->isSaved == true): ?>
                            <span class="label success">Saved</span>
                        <?php endif; ?>
                        &nbsp;
                    </div>
                </div>

                <?php if ($this->showTopErrorBox == true): ?>
                    <div class="alert-message block-message error">Please check
                        errors and try again
                    </div>
                <?php endif; ?>

                <?php echo $this->form; ?>

                <div class="mycampaignsheader">
                    <h2>Installation instructions</h2>
                </div>

                <?php if ((bool)$this->site->sidebar_script_active == true): ?>
                    <div class="alert-message block-message success">Script
                        detected for <?php echo $this->siteUrl; ?></div>
                <?php else: ?>
                    <div class="alert-message block-message warning">Script not
                        detected for <?php echo $this->siteUrl; ?>. Please
                        follow the instructions to install on your site or use
                        one of the provided plugins.
                    </div>
                <?php endif; ?>

                <div class="clearfix">
                    <p class="codeinstallation">Copy and paste the following
                        code into your HTML near the footer section of your
                        site:</p>
                    <br/>
                    <textarea rows="18" cols="20" class="full codeinstallation"
                              readonly="readonly">
    <script type="text/javascript">
      var wingrin_settings = {
          siteId: '<?php echo $this->site->external_site_id; ?>',
          cssFresh: false,
          cssFreshKey: 100
      };

      (function () {
          if ('http:' == document.location.protocol) {
              var wgsrc = '<?php echo $this->testUrlPrefix; ?>/Assets/js/' + wingrin_settings.siteId + '/wingrin.min.js';
              document.write(unescape("%3Cscript src='" + wgsrc + "' type='text/javascript' async='true' %3E%3C/script%3E"));
          }
      })();
    </script>
                    </textarea>
                </div>

                <div class="mycampaignsheader">
                    <h2>Plugins and Help</h2>
                </div>

                <?php echo $this->quickInfo->subject; ?>
                <?php echo $this->quickInfo->body; ?>
            </div>
        </div>
    </div>
</div>

<!-- End of Wrapper -->
<script type="text/javascript">
    var ajaxImageUploadUrl = "<?php echo $this->url(
        array('module' => 'user', 'controller' => 'sites',
              'action' => 'ajax-image-upload'), null, true
    )?>";
    var ajaxDeleteImageUrl = "<?php echo $this->url(
        array('module' => 'user', 'controller' => 'sites',
              'action' => 'ajax-delete-image'), null, true
    )?>";
    var currentUploadedImage = null;

    $(function () {
        reloadLightbox();
    });

    function reloadLightbox() {
        $("a.lightbox").lightBox({
            imageLoading: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-ico-loading.gif",
            imageBtnClose: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-close.gif",
            imageBtnPrev: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-prev.gif",
            imageBtnNext: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-next.gif"
        });
    }

    function uploadImage() {

        currentUploadedImage = $('#loaded_image_container').html();

        $('#loaded_image_container').empty();
        var loadingBarImage = '<img src="<?php echo Zend_Controller_Front::getInstance(
        )->getBaseUrl(); ?>/img/loader.gif" alt="Uploading...."/>';
        $('#loaded_image_container').append(loadingBarImage);

        $("#edit_site_form").ajaxForm({
            url: ajaxImageUploadUrl,
            dataType: 'json',
            success: uploadImageCompleted

        }).submit();
    }

    function uploadImageCompleted(result) {
        $('#loaded_image_container').empty();
        //$('#image_file').parent().find('ul.errors').empty();

        if (result.error == false) {
            var uploadedImage = '<a href="' + result.image_url + '" class="lightbox" id="img_' + result.image_id + '" style="border: 0 none;"><img src="' + result.thumbnail_url + '" alt="" class="thumbnail"/></a>';
            $('#loaded_image_container').append(uploadedImage);

            $('#image_data_container').empty();

            var imageName = '<b class="big">' + result.image_name + '</b><br/>';
            $('#image_data_container').append(imageName);

            var imageSize = '<small><b>' + result.image_size + 'kB</b></small>'
            $('#image_data_container').append(imageSize);

            var deleteImageLink = '&nbsp;<a href="#" onclick="deleteImage(\'' + result.owner_id + '\', \'' + result.image_name + '\'); return false;">remove</a>';
            $('#image_data_container').append(deleteImageLink);

            var showImageLink = '&nbsp;&middot;&nbsp;<a href="#" onclick="$(\'#img_' + result.image_id + '\').click(); return false;">show</a>'
            $('#image_data_container').append(showImageLink);

            reloadLightbox();

        } else {
            $('#loaded_image_container').append(currentUploadedImage);
            var errorMessage = '<li>' + result.error_message + '</li>';
            $('#image_file').parent().find('ul.errors').append(errorMessage);
        }

        $("#edit_site_form").ajaxFormUnbind();
    }

    function deleteImage(ownerId, imageName) {
        $.ajax({
            url: ajaxDeleteImageUrl,
            dataType: 'json',
            data: 'owner_id=' + ownerId + '&image_name=' + imageName,
            success: deleteImageCompleted
        });
    }

    function deleteImageCompleted() {
        $('#loaded_image_container').empty();
        $('#image_data_container').empty();
    }

</script>
</div>