<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Site Management</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites'),
                        null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites',
                              'action' => 'add'), null, true
                    ) ?>"><span>Add New</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <section class="content-box-table">
                    <?php if ($this->paginatedSites->getTotalItemCount()
                        > 10
                    ): ?>
                        <table class="full">
                            <tr>
                                <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                                <td valign="top"
                                    align="right"><?php echo $this->paginationControl(
                                        $this->paginatedSites, 'Sliding',
                                        'pagination_control.phtml'
                                    ); ?></td>
                            </tr>
                        </table>
                    <?php endif; ?>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Site Name</th>
                            <th>Domain</th>
                            <th>ID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedSites as $site): ?>
                            <tr>
                                <td><?php echo $site->site_name ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('module'     => 'user',
                                              'controller' => 'sites',
                                              'action'     => 'edit',
                                              'site_id'    => $site->site_id),
                                        null, true
                                    ) ?>"><?php echo $site->site_url; ?></a>
                                    <a href="<?php echo $this->prepareUrl(
                                        $site->site_url
                                    ); ?>" class="img_link"><img
                                                src="<?php echo Zend_Controller_Front::getInstance(
                                                )->getBaseUrl(
                                                ); ?>/img/external_link.jpg"
                                                alt=""/></a>
                                </td>
                                <td><?php echo $site->external_site_id; ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('module'     => 'user',
                                              'controller' => 'sites',
                                              'action'     => 'edit',
                                              'site_id'    => $site->site_id),
                                        null, true
                                    ) ?>">Edit</a>&nbsp;&nbsp;
                                    <?php if ($site->total_campaigns == 0): ?>
                                        |&nbsp;&nbsp;<a
                                                href="<?php echo $this->url(
                                                    array('module'     => 'user',
                                                          'controller' => 'sites',
                                                          'action'     => 'delete',
                                                          'site_id'    => $site->site_id),
                                                    null, true
                                                ) ?>"
                                                onclick="return confirm('Are you sure that you want to delete this site ?');">Delete</a>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <?php if ($this->paginatedSites->getTotalItemCount()
                        > 10
                    ): ?>
                        <div class="dataTables_info">
                            Showing <?php echo $this->itemsStart; ?>
                            to <?php echo $this->itemsEnd; ?>
                            of <?php echo $this->totalItems; ?> entries
                        </div>
                    <?php endif; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
