<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Site settings xxx &rarr; <span><?php echo $this->siteUrl; ?></span>
        </h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper-wide">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites'),
                        null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites',
                              'action' => 'edit', 'site_id' => $this->siteId),
                        null, true
                    ) ?>"><span>General configuration</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'sites',
                              'action' => 'javascript',
                              'site_id' => $this->siteId), null, true
                    ) ?>"><span>JavaScript Code</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Install JavaScript Code</h3>
                </header>
                <section class="content-box-table">
                    <?php if ((bool)$this->site->sidebar_script_active
                        == true
                    ): ?>
                        <div class="box box-success">Script detected
                            on <?php echo $this->siteUrl; ?></div>
                    <?php else: ?>
                        <div class="box box-error">Script not detected
                            on <?php echo $this->siteUrl; ?></div>
                    <?php endif; ?>
                    <br/>
                    <table width="100%" class="full no-style no-border"
                           cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <label style="text-transform: none;">Paste the
                                    following code once in the footer of your
                                    site:</label>
                                <textarea rows="10" cols="20" class="full"
                                          readonly="readonly">
<script type="text/javascript">
  var wingrin_settings = {
      siteId: '<?php echo $this->site->external_site_id; ?>',
      cssFresh: false,
      cssFreshKey: 100
  };

  (function () {
      if ('http:' == document.location.protocol) {
          var wgsrc = '<?php echo $this->testUrlPrefix; ?>/Assets/js/' + wingrin_settings.siteId + '/wingrin.min.js';
          document.write(unescape("%3Cscript src='" + wgsrc + "' type='text/javascript' async='true' %3E%3C/script%3E"));
      }
  })();
</script>
</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="text-transform: none;">Your Site
                                    ID is:&nbsp;&nbsp;</label><input type="text"
                                                                     value="<?php echo $this->site->external_site_id; ?>"
                                                                     readonly="readonly"
                                                                     class="readonly"
                                                                     size="23">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <dt><?php echo $this->quickInfo->subject; ?></dt>
                                <dd><?php echo $this->quickInfo->body; ?></dd>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>


<!--

    OLD CODE - NEED TO USE THIS BUT HAVE TO FIX LOADING ISSUE IN HEAD. 
    <script type="text/javascript">
    var wingrin_settings = {
        siteId: '<?php echo $this->site->external_site_id; ?>',
        cssFresh: false
    };

    (function() {
        if ('http:' == document.location.protocol)
        {
            var wgsc = document.createElement('script'); wgsc.type = 'text/javascript'; wgsc.async = true;
            wgsc.src = '<?php echo $this->testUrlPrefix; ?>/client/wingrin.min.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wgsc, s);
        }
    })();
</script> -->