<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      id="<?php echo $this->element->getAttrib('id'); ?>"
      enctype="<?php echo $this->element->getAttrib('enctype'); ?>">
    <fieldset>

        <div class="row editsiterow">
            <div class="span6">
                <div class="clearfix">
                    <label for="site_url" class="required">Site Url:</label>
                    <div class="input">
                        <div class="input-prepend">
                            <span class="add-on">http://</span>
                            <?php echo $this->element->site_url; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="clearfix">
                    <?php echo $this->element->external_site_id; ?>
                </div>
            </div>
            <div class="span2">
                <?php echo $this->element->save; ?>
            </div>
        </div>
    </fieldset>
</form>