<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <fieldset class="campaignsetup">
        <div class="row entryprocess">
            <div class="span6 entryquestions offset1">
                <h3>To enter, the the user will</h3>

                <div class="row">
                    <div class="span6 form-stacked">
                        <div class="clearfix">
                            <?php echo $this->element->allow_skill_question; ?>
                            <label for="allow_skill_question">Answer a skill
                                question</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 form-stacked">
                        <div class="clearfix">
                            <?php echo $this->element->allow_multiple_choice_question; ?>
                            <label for="allow_multiple_choice_question">Answer a
                                multiple choice question</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row entryprocess form-stacked">
            <?php if ($this->element->skill_question->getValue() == null
            && (bool)$this->element->allow_skill_question->getValue()
            == false): ?>
            <div id="skill_question_container" class="span6 offset1"
                 style="display: none;">
                <?php else: ?>
                <div id="skill_question_container" class="span6 offset1">
                    <?php endif; ?>

                    <h4>Skill question</h4>

                    <div class="row">
                        <div class="span6">
                            <div class="clearfix">
                                <?php echo $this->element->skill_question; ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            <div class="clearfix">
                                <?php echo $this->element->max_words; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row entryprocess form-stacked">
                <?php if ($this->element->question->getValue() == null
                && (bool)$this->element->allow_multiple_choice_question->getValue(
                ) == false): ?>
                <div id="multiple_choice_question_container"
                     class="span6 offset1" style="display: none;">
                    <?php else: ?>
                    <div id="multiple_choice_question_container"
                         class="span6 offset1">
                        <?php endif; ?>

                        <h4>Multiple choice question</h4>

                        <div class="row">
                            <div class="span6">
                                <div class="clearfix">
                                    <?php echo $this->element->question; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <div class="clearfix">
                                    <?php echo $this->element->answer1; ?>
                                </div>
                            </div>
                            <div class="span1">
                                <div class="clearfix">
                                    <label for="answer1_correct">Correct</label>
                                    <?php echo $this->element->answer1_correct; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <div class="clearfix">
                                    <?php echo $this->element->answer2; ?>
                                </div>
                            </div>
                            <div class="span1">
                                <div class="clearfix">
                                    <?php echo $this->element->answer2_correct; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <div class="clearfix">
                                    <?php echo $this->element->answer3; ?>
                                </div>
                            </div>
                            <div class="span1">
                                <div class="clearfix">
                                    <?php echo $this->element->answer3_correct; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span5">
                                <div class="clearfix">
                                    <?php echo $this->element->answer4; ?>
                                </div>
                            </div>
                            <div class="span1">
                                <div class="clearfix">
                                    <?php echo $this->element->answer4_correct; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row entryprocess">
                    <div class="span6 mailproviders offset1">
                        <h3>What do you want to do with user details?</h3>
                        <div class="row">
                            <div class="span6 form-stacked">
                                <div class="clearfix">
                                    <?php echo $this->element->user_details; ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span6 form-stacked">
                                <div class="clearfix">
                                    <?php if ($this->element->user_details->getValue(
                                    ) == 'send_emails'): ?>
                                    <?php if ($this->element->mail_list_provider_name->getValue(
                                        ) != null
                                    ): ?>
                                        <div>
                                            <b>You are
                                                using:</b>&nbsp;<?php echo $this->element->mail_list_provider_name->getValue(
                                            ); ?><br/><br/>
                                            <b>Selected
                                                list:</b>&nbsp;<?php echo $this->element->mail_list_name->getValue(
                                            ); ?><br/><br/>
                                        </div>
                                    <?php endif; ?>
                                    <div id="providers_link_container">
                                        <a href="#" class="data-controls-modal"
                                           data-controls-modal="providers_popup"
                                           data-backdrop="true"
                                           data-keyboard="true">Change
                                            provider?</a></div>
                                </div>
                                <?php else: ?>
                                    <div id="providers_link_container"
                                         style="display: none;">
                                        You need to first <a href="#"
                                                             class="data-controls-modal"
                                                             data-controls-modal="providers_popup"
                                                             data-backdrop="true"
                                                             data-keyboard="true">select
                                            a provider</a>.
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="configuration_panel_container"></div>

            <div class="row">
                <div class="span14 offset1">
                    <div class="actions"
                         style="padding: 0 0 5px 0; margin-top: 40px;">
                        <div style="float:left;  margin-top: 30px; margin-left: 20px;">
                            <a href="<?php echo $this->url(
                                array('module'         => 'user',
                                      'controller'     => 'competitions',
                                      'action'         => 'look',
                                      'competition_id' => $this->element->competition_id->getValue(
                                      )), null, true
                            ) ?>">&larr; Back</a>
                        </div>
                        <div style="margin-left:550px;">
                            <?php echo $this->element->save; ?>
                        </div>
                    </div>
                </div>
            </div>

            <?php echo $this->element->competition_id; ?>
            <?php echo $this->element->question_id; ?>

            <?php echo $this->element->primary_highlight_color; ?>
            <?php echo $this->element->primary_background_color; ?>
            <?php echo $this->element->primary_font_color; ?>
            <?php echo $this->element->primary_border_color; ?>
            <?php echo $this->element->primary_button_color; ?>
            <?php echo $this->element->primary_button_font_color; ?>
            <?php echo $this->element->primary_header_color; ?>
            <?php echo $this->element->primary_button_gradient_1; ?>
            <?php echo $this->element->primary_button_gradient_2; ?>
            <?php echo $this->element->full_image_path; ?>
            <?php echo $this->element->show_image; ?>
            <?php echo $this->element->show_countdown_timer; ?>
            <?php echo $this->element->get_started_button_text; ?>
            <?php echo $this->element->competition_name; ?>
            <?php echo $this->element->intro_text; ?>
    </fieldset>
</form>