<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Customise sidebar &rarr; <span><?php echo $this->site->getSite_Name(
                ); ?>:<?php echo $this->site->getSite_Url(); ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'customise'),
                        null, true
                    ) ?>"><span>Sites</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'customise',
                              'action' => 'style',
                              'site_id' => $this->site->getSite_Id()), null,
                        true
                    ) ?>"><span>Select style</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Select sidebar style</h3>
                </header>

                <section class="content-box-table">
                    <h4>Select style</h4>
                    <hr/>
                    <?php echo $this->sidebarThemesGallery; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            // We only want these styles applied when javascript is enabled
            $('div.navigation').css({
                'width': '280px',
                height: '500px',
                'float': 'left'
            });
            $('div.content').css('display', 'block');

            // Initially set opacity on thumbs and add
            // additional styling for hover effect on thumbs
            var onMouseOutOpacity = 0.67;
            $('#thumbs ul.thumbs li').opacityrollover({
                mouseOutOpacity: onMouseOutOpacity,
                mouseOverOpacity: 1.0,
                fadeSpeed: 'fast',
                exemptionSelector: '.selected'
            });

            // Initialize Advanced Galleriffic Gallery
            var gallery = $('#thumbs').galleriffic({
                delay: 2500,
                numThumbs: 10,
                preloadAhead: 10,
                enableTopPager: true,
                enableBottomPager: true,
                maxPagesToShow: 7,
                imageContainerSel: '#slideshow',
                controlsContainerSel: '#controls',
                captionContainerSel: '#caption',
                loadingContainerSel: '#loading',
                renderSSControls: false,
                renderNavControls: false,
                playLinkText: '',
                pauseLinkText: '',
                prevLinkText: '',
                nextLinkText: '',
                nextPageLinkText: 'Next &rsaquo;',
                prevPageLinkText: '&lsaquo; Prev',
                enableHistory: false,
                autoStart: false,
                syncTransitions: true,
                defaultTransitionDuration: 900,
                onSlideChange: function (prevIndex, nextIndex) {
                    // 'this' refers to the gallery, which is an extension of $('#thumbs')
                    var themeId = this.find('ul.thumbs').children().eq(nextIndex).find('a.thumb').attr('id');
                    $('#theme_id').val(themeId);

                    this.find('ul.thumbs').children()
                        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                        .eq(nextIndex).fadeTo('fast', 1.0);
                },
                onPageTransitionOut: function (callback) {
                    this.fadeTo('fast', 0.0, callback);
                },
                onPageTransitionIn: function () {
                    this.fadeTo('fast', 1.0);
                }
            });
            $.galleriffic.gotoImage('<?php echo $this->externalThemeId; ?>');

        });

    </script>
</div>