<form action="#" id="connection_form">
    <fieldset>
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span4">
                        <div class="clearfix">
                            <label class="fl">API Key:</label>
                            <?php echo $this->apiKeyField; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="clearfix">
                            <input type="button" value="Connect" class="btn primary fr" id="test_connection_button" onclick="testProviderConnection(); return false;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
               <img src="<?php echo $this->logoUrl; ?>" alt="">
            </div>
        </div>
    </fieldset>
</form>
