<div class="container" style="width:400px;margin-top:90px;margin-bottom:160px;">
    <div class="containerinner">
        <div class="row" id='test_div'>
            <div class="span6" style="margin-left:50px;">
                <div class="mycampaignsheader">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
        <?php echo $this->form; ?>
    </div>
</div>