<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <fieldset class="loginregform">
        <div class="row">
            <div class="span6" style="margin-left:50px;">
                <div class="clearfix">
                    <?php echo $this->element->email; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->password; ?>
                </div>
                <div class="clearfix">
                    <div class="fl">
                        <div class="input">
                            <?php echo $this->element->submit; ?>
                        </div>
                    </div>
                    <div class="fr forgotpassword">
                        <a href="<?php echo $this->url(
                            array('controller' => 'index',
                                  'action'     => 'registration'), null, true
                        ) ?>">Need an account?</a>
                        <a href="<?php echo $this->url(
                            array('controller' => 'index',
                                  'action'     => 'forgotpassword'), null, true
                        ) ?>">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>