<div class="container" style="width:400px;margin-top:90px;margin-bottom:160px;">
    <div class="containerinner">
        <div class="row">
            <div class="span6" style="margin-left:50px;">
                <div class="mycampaignsheader">
                    <h2>Forgot password</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6" style="margin-left:50px;">
                Please check your email and copy the recovery key into the box
                below or follow the link in the email.

                <fieldset class="loginregform">
                    <div class="clearfix">
                        <?php echo $this->form; ?>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>