<div class="container" style="border:none;background:none;">
    <div class="row">
        <div class="span8">
            <div class="container"
                 style="width:450px;margin-top:90px;margin-bottom:160px;">
                <div class="containerinner">
                    <div class="row">
                        <div class="span6" style="margin-left:50px;">
                            <div class="mycampaignsheader">
                                <h2>Signup now for FREE</h2>
                            </div>
                        </div>
                    </div>


                    <?php if ($this->allowRegistration == 1): ?>
                        <?php echo $this->form; ?>
                    <?php else: ?>
                        <div class="row">
                            <div class="span6">
                                <div class="box box-info">Registrations
                                    currently on hold
                                </div>
                                <p>If you would like to participate in our BETA
                                    program please <a
                                            href="http://business.wingrin.com/contact">contact
                                        us</a></p>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="span8">
            <div style="width:450px;margin-top:90px;margin-bottom:160px;">
                <div class="containerinner">
                    <?php echo $this->quickInfo->body; ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".password").pstrength();
    });
</script>