<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <fieldset style="width:350px;">
        <div class="row">
            <div class="span7">

                <div class="clearfix">
                    <label for="site_url" class="required">Site Url:</label>
                    <div class="input">
                        <div class="input-prepend">
                            <span class="add-on">http://</span>
                            <input type="text" name="site_url" id="site_url"
                                   value="" style="width:165px;">
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <label for="firstname" class="required">First Name:</label>
                    <?php echo $this->element->firstname; ?>
                </div>

                <div class="clearfix">
                    <label for="lastname" class="required">Lastname:</label>
                    <?php echo $this->element->lastname; ?>
                </div>

                <div class="clearfix">
                    <label for="email" class="required">Email:</label>
                    <?php echo $this->element->email; ?>
                </div>

                <div class="clearfix">
                    <label for="email" class="required">Country:</label>
                    <?php echo $this->element->country; ?>
                </div>


                <div class="clearfix">
                    <label for="email" class="required">Time zone:</label>
                    <?php echo $this->element->timezone; ?>
                </div>

                <div class="clearfix">
                    <label for="password" class="required">Password:</label>
                    <?php echo $this->element->password; ?>
                </div>

                <div class="clearfix">
                    <label for="confirm_password" class="required">Confirm
                        password:</label>
                    <?php echo $this->element->confirm_password; ?>
                </div>

                <div class="clearfix">
                    <?php echo $this->element->submit; ?>
                </div>
            </div>
        </div>

    </fieldset>
</form>