/*

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to
update the template. Simply copy an existing style from style.css to
this file, and modify it to your liking.

*/ /* misc */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5;
    font: 13px/1.231;
    background-color: #F0F7FC;
}

.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #D9E7F3;
}

.containerinner {
    margin: 0 auto;
    text-align: left;
    padding: 20px 0px;
}

.cl {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    line-height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none !important;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.hd {
    display: none;
}

.no-pl {
    padding-left: 0px;
}

.no-ml {
    margin-left: 0px;
}

.container .containerinner .zeroleftm {
    margin-left: 0px;
}

.strong {
    font-weight: bold !important;
}

/* Main Elements */
#logo {
    margin-right: 10px;
}

#top {
    border-bottom: 3px solid #57AFE6;
}

#header {
    color: #fff;
}

#header .pills a {
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 16px;
}

#header .pills a:hover {
    color: #fff;
    text-decoration: none;
}

#header a {
    color: #fff;
    text-decoration: none;
}

#header a:hover {
    color: #fff;
    text-decoration: underline;
}

/*
.header-top {
	background: #2c2c2c;
	padding: 6px 25px 2px;
}
*/
.header-top {
    background: #0473B2 url("../img/nav_bg.png") repeat-x scroll;
    position: relative;
    float: right;
    padding: 8px 1% 0px 10px;
    margin-top: -15px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.login-header-top {
    padding: 2px 150px 3px;
    background: #0473B2 url("../img/nav_bg.png") repeat-x scroll;
}

.login-header-top a {
    color: #F0FCFF !important;
    font-size: 11px;
    margin: 0px 10px 0 10px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login-header-top a:hover {
    text-decoration: underline !important;
}

#login-title {
    padding: 10px 0 10px;
}

header#logintop {
    width: 100%;
    background: #0473B2 url("../img/nav_bg.png") repeat-x scroll;
}

.header-middle {
    background: #0473B2 url("../img/intro_bg.png") repeat-x;
    width: 99%;
    padding: 15px 1% 0px 0px;
}

.header-bottom {
    background: #313131 url('../img/header-bottom.gif') repeat-x bottom;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    padding: 7px 0px;
}

#header p {
    margin: 0 0 5px 0;
}

#header span {
    color: #6e7d87;
}

html[xmlns] #nav {
    display: block;
}

* html #nav {
    height: 1%;
}

/* breadcrumbs */
#breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}

#breadcrumbs li {
    display: inline;
    font-size: 12px;
    line-height: normal;
    float: none;
    font-size: 14px;
}

#breadcrumbs li a {
    float: none;
    display: inline;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
}

#breadcrumbs li.bold a {
    font-weight: bold;
}

#breadcrumbs li:HOVER {
    background: none;
    padding: 0;
}

#breadcrumbs li:HOVER A {
    text-de coration: underline;
    padding: 0;
}

.breadcrumbs li a:HOVER {
    text-decoration: underline;
    background: none;
    padding: 0;
}

.blue .content-box {
    border: 1px solid #329ECC;
}

.blue .content-box header {
    background: #5092DC;
}

.green .content-box {
    border: 1px solid #11aa00;
}

.green .content-box header {
    background: #11aa00;
}

.green .content-box header h3 {
    color: white;
}

.yellow .content-box {
    border: 1px solid #f2dd8c;
}

.yellow .content-box header {
    background: #fff5cc;
}

.yellow .content-box header h3 {
    color: #78787f;
}

.grey .content-box {
    border: 1px solid #999999;
}

.grey .content-box header {
    background: #dcdcdc;
}

.grey .content-box header h3 {
    color: #78787f;
}

table.stylized th {
    background-color: #5092DC !important;
}

.content-box-table {
    padding: 8px;
    float: none;
    overflow: hidden;
}

.olive-content-box-table {
    padding: 8px;
    float: none;
    overflow: hidden;
}

.content-box dd {
    margin-bottom: 10px;
}

.two-column td {
    width: 50%;
}

.content-box {
    margin-top: 18px;
    padding-bottom: 18px;
}

.content-box-light {
    margin-top: 18px;
    padding-bottom: 18px;
}

.clear {
    clear: both;
}

form {
    overflow: hidden;
}

.list {
    overflow-y: scroll;
}

ul.nav-a {
    margin-top: 18px;
}

#type {
    min-width: 100px;
}

fieldset {
    margin: 20px 0;
    padding: 0;
}

table.no-border td {
    border-bottom: none !important;
}

.mr {
    margin-right: 50px;
}

.listbox {
    border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
    border-style: solid;
    border-width: 1px;
    color: #777777;
    padding: 4px;
    overflow-y: scroll;
    width: 50%;
}

.width2 .listbox {
    width: 100%;
}

.today {
    background: #FFFFAA !important;
}

.other {
    color: #c4c4c4;
}

#token-type {
    width: 200px;
}

textarea {
    font-size: 12px;
}

.gray-small {
    width: 50%;
}

.gray-small .content-box {
    border: 1px solid #999999;
}

.gray-small .content-box header {
    background: none repeat scroll 0 0 #999999;
}

.gray-small .content-box-closed header {
    background: url("../img/toggle.gif") no-repeat scroll 96% 15px #999999;
}

.gray-small section {
    width: 95%;
    margin-top: 18px;
}

.calendar-page {
    padding-top: 18px;
}

.calendar-page h3 {
    margin-top: 0;
}

.pointer {
    cursor: pointer;
}

.center {
    margin-left: 30%;
}

.calendar-page-location {
    margin-top: 16px;
}

#dialog {
    text-align: center;
}

.low-width {
    float: left;
    width: 30%;
    margin-right: 20px;
    margin-top: 16px;
    height: 239px;
}

.loc-sett {
    width: 65%;
    float: left;
}

td.site-list-td {
    border: 1px;
    border-style: solid;
    padding: 5px;
}

.column {
    padding-bottom: 20px;
}

input.readonly {
    background-color: #dcdcdc;
    cursor: default;
}

#token_id {
    width: 200px;
}

img.thumbnail {
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
}

ul.errors {
    color: #B94A48;
    list-style: square outside none;
}

ul.errors li {
    color: #B94A48;
}

.container input.error, .container textarea.error {
    color: #B94A48;
    border-color: #EE5F5B;
}

.container input.error:focus, .container textarea.error:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

td.lock_label {
    vertical-align: middle;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

a.img_link {
    border-bottom: none !important;
}

.pstrength-minchar {
    font-size: 10px;
}

#password_bar {
    margin-top: 5px;
}

.pstrength-info {
    margin-bottom: 4px;
}

.rego-text {
    float: left;
    width: 250px;
}

.rego-text p {
    margin-top: 0px;
}

.rego-image {
    float: right;
}

.rego-lower {
    margin-top: 50px;
}

.rego-heading {
    margin-bottom: 0px;
}

span.http_label {
    font-size: 20px;
    vertical-align: middle;
}

div.loaded_image_container {
    margin-top: 14px;
    margin-left: 3px;
    margin-bottom: 27px;
}

div.loaded_image_container img {
    border: 1px solid #CCCCCC;
}

div.upload_form_container {
    margin-top: 20px;
}

a.inactive {
    font-weight: bold;
    cursor: default;
    border-bottom: none !important;
    background-color: white !important;
}

a.white {
    color: white !important;
    vertical-align: middle !important;
}

a.white:hover {
    background-color: transparent !important;
    border-bottom: none !important;
}

span.title {
    color: #4D5762;
    position: relative;
    word-spacing: -0.1em;
    font-weight: bold;
    font-size: 16px;
}

#preview_content_container {
    margin: 10px 10px 10px 60px;
}

#previewframe {
    border: 1px solid;
}

.mycampaignsheader {
    margin: 15px 5px 15px 5px;
    border-bottom: 1px solid #A9D2E8;
    height: 45px;
}

.mycampaignsheader h2 {
    color: #036;
    float: left;
    font-family: 'Duru Sans', cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 12px;
}

.mycampaignsheader input {
    margin-top: 12px;
}

.campaignlist {
    margin-top: 20px;
    margin-bottom: 80px;
}

.campaignlist table thead {
    background: #0473B2;
    color: #FFFFFF;
}

.campaignlist table tbody img {
    margin-right: 10px;
    margin-bottom: -5px;
}

/* Login and registration form overrides as the containerbox is smaller. */
fieldset.loginregform input.large {
    width: 100px;
}

fieldset.loginregform label {
    width: 90px;
}

fieldset.loginregform .input {
    margin-left: 100px;
}

/** Login page **/
.forgotpassword a {
    display: block;
    margin-top: 5px;
    margin-right: 15px;
}

.signupbold {
    font-weight: bold;
}

/** Registration page */
.regtestimonials {
    width: 400px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.regtestimonialwrapper {
    width: 130px;
    height: 140px;
    margin: 0 0 10px 20px;
    border: 1px solid #D9DADB;
    border-image: initial;
    float: left;
    position: relative;
}

.regtestimonial img {
    height: 37px;
}

.regtestimonial {
    border: 1px solid white;
    width: 128px;
    height: 138px;
    padding: 5px;

    text-align: center;
    background: linear-gradient(#F8F9FA, #F1F2F3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F9FA), to(#F1F2F3));
    background: -webkit-linear-gradient(#F8F9FA, #F1F2F3);
    background: -moz-linear-gradient(#F8F9FA, #F1F2F3);
    background: -ms-linear-gradient(#F8F9FA, #F1F2F3);
    background: -o-linear-gradient(#F8F9FA, #F1F2F3);
    background: linear-gradient(#F8F9FA, #F1F2F3);
}

.regtestimonial p {
    margin-top: 5px;
    font-style: italic;
    text-shadow: 1px 1px white;
    text-align: center;
}

.regtestimonial p span {
    font-style: normal;
}

/** General **/

fieldset h3 {
    color: #003366;
    font-family: 'Duru Sans', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 20px;
}

fieldset h4 {
    color: #003366;
    font-family: 'Duru Sans', cursive;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin: 10px 0 20px;
}

form fieldset .editsiterow .input {
    margin-left: 70px;
}

form fieldset .editsiterow label {
    width: 65px;
}

form fieldset .editsiterow .span2 .input {
    margin-left: 0px;
}

form fieldset .editsiterow .span2 .input input {
    margin-top: -12px;
}

textarea.codeinstallation {
    cursor: default;
    font-size: 110%;
    font-family: 'Courier New';
}

p.codeinstallation {
    font-size: 120%;
    font-weight: bold;
}

/* Get the footer to stick to the bottom of the page */
#bottom {
    height: 100px;
    position: relative;
}

.push {
    height: 100px;
    clear: both;
}

#contentwrapper {
    min-height: 100%;
    margin-bottom: -100px;
    position: relative;
}

/* Look and feel configuration */
fieldset.campaignsetup {
    margin-top: 5px;
}

fieldset.campaignsetup input.large {
    width: 100px;
}

fieldset.campaignsetup .input {
    margin-left: 100px;
}

fieldset.campaignsetup label.nofloatlabel {
    float: right;
    margin-right: 240px;
}

.lookandfeel {
    margin-bottom: 10px;
}

.container .containerinner .form-stacked label.show_countdown_timer {
    display: inline;
    margin-right: 50px;
    width: 100px;
}

.container .containerinner fieldset.campaignsetup .form-stacked label {
    font-weight: normal;
}

.container .containerinner fieldset.campaignsetup .inputs-list li label {
    width: 800px;
}

.container .containerinner fieldset.campaignsetup .inputs-list li span {
    float: left;
}

.container .containerinner fieldset.campaignsetup .inputs-list li {
    margin-bottom: 30px;
}

.container .containerinner fieldset.campaignsetup .inputs-list li .input-prepend {
    margin-left: 30px;
}

fieldset.campaignsetup .timespan {
    width: 60px;
}

fieldset.campaignsetup input.large {
    width: 150px;
}

.lookandfeel span {
    margin-left: 2px;
}

fieldset.campaignsetup .fontselection .input {
    margin-left: 0px;
}

#primary_font_style {
    width: 280px;
}

.campaignsetup h3 {
    margin-top: 20px;
    border-bottom: 1px solid #A9D2E8;
    padding-bottom: 5px;
}

.campaignsetup h4 {
    margin-top: 10px;
    border-bottom: 1px solid #A9D2E8;
    padding-bottom: 5px;
}

/* Configuration steps CSS */
ul.configsteps, ul.configsteps li {
    display: inline;
}

ul.configsteps, ul.configsteps li a, ul.configsteps {
    color: #003366;
    font-family: 'Duru Sans', cursive;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin: 0px 10px 5px 0;

}

ul.configsteps li a:hover {
    text-decoration: none;
    color: blue;
}

div.configsteps {
    margin-top: 20px;
    padding: 20px 0 0 420px;
}

ul.configsteps li a.selected span {
    background-color: #57AFE6;
}

ul.configsteps, ul.configsteps li a span {
    padding: 4px 5px 4px;
}

/* Upload success on look and feel */
.campaignsetup #success_message_container {
    position: absolute;
    margin-top: -24px;
    margin-left: 120px;
}

.campaignsetup #success_message_container .box {
    background: url("../img/accept.png") no-repeat 8px 50%;
    border: none;
}

/* Help link */
.mycampaignsheader .help a {
    text-decoration: underline;
}

.mycampaignsheader .help {
    margin-top: 22px;
}

.campaignsetup .add-on {
    z-index: 0;
}

/* User entry process */
fieldset.campaignsetup .entryprocess .entryquestions label {
    width: 200px;
    float: left;
    margin-left: 20px;
    text-align: left;
}

fieldset.campaignsetup .entryprocess .entryquestions input {
    float: left;
}

/* User entry process */
fieldset.campaignsetup .entryprocess .mailproviders .input label {
    width: 350px;
    text-align: left;
}

fieldset.campaignsetup .entryprocess .mailproviders .input label input,
fieldset.campaignsetup .entryprocess .mailproviders .input {
    margin-right: 4px;
    margin-left: 0px;
}

#providers_link_container {
    margin-left: 20px;
}

#providers_popup label {
    text-align: left;
    width: 120px;
}

/** Terms and conditions */
.actions .termsandconditions a.btn-publish {
    font-size: 25px;
}

.actions .termsandconditions .clearfix,
.actions .termsandconditions .clearfix .input {
    display: inline;
    float: left;
}

.campaignsetup .termsandconditions label.sampletc {
    width: 150px;
    text-align: left;
    margin-left: 20px;
}

.termsandconditions .wysiwyg {
    height: 280px;
}

/** popover fixes */

.popover .inner h3.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.popover .inner .content {
    display: block;
    width: auto;
}

.popover .inner .content p {
    word-spacing: normal;
    margin-top: 0px;
}

/* campaign control page */
.campaigncontrol .mycampaignsheader h2 {
    font-size: 18px;
}

.campaigncontrol .campaignactions {
    margin-left: 30px;
}

.campaigncontrol .campaignactions h4 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.campaigncontrol .campaignactions .clearfix {
    margin-bottom: 5px;
}

.campaigncontrol .campaignactions img {
    margin-bottom: -5px;
}

.campaigncontrol .campaignactions.well {
    margin-bottom: 0px;
}

.campaigncontrol .legend table {
    width: auto;
}

.campaigncontrol .legend table td.legendColorBox,
.campaigncontrol .legend table td.legendLabel {
    border: none;
    padding: 2px;
}

.campaigncontrol .entriesheader {
    margin-top: 20px;
    border-bottom: 1px solid #A9D2E8;
}

.campaigncontrol .entriesheader h3 {
    float: left;
    border: none;
    margin-bottom: 0px;
}

.campaigncontrol .entriesheader span {
    float: right;
    margin-top: 30px;
}

/** Widget preview */
.preview_container {
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    background-color: #FFFFFF;
    border-color: #D9E7F3;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;

    -moz-box-shadow: -3px 0 3px 0 #ebebeb;
    -webkit-box-shadow: -3px 0 3px 0 #ebebeb;
    box-shadow: -3px 0 3px 0 #ebebeb;

    position: absolute;
    top: 330px;
    right: 0px;
}

.preview_containerinner {
    margin: 0 auto;
    padding: 20px 0px 20px 20px;
    text-align: left;
}

.preview_containerinner fieldset,
.preview_containerinner h3 {
    margin-top: 10px;
}