.fc, .fc .fc-header, .fc .fc-content {
    font-size: 1em;
}

.fc {
    direction: ltr;
    text-align: left;
}

.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fc td, .fc th {
    padding: 0;
    vertical-align: top;
}

table.fc-header {
    width: 100%;
}

.fc-header-left {
    width: 25%;
}

.fc-header-left table {
    float: left;
}

.fc-header-center {
    text-align: center;
    width: 50%;
}

.fc-header-center table {
    margin: 0 auto;
}

.fc-header-right {
    width: 25%;
}

.fc-header-right table {
    float: right;
}

.fc-header-title {
    margin-top: 0;
    white-space: nowrap;
}

.fc-header-space {
    padding-left: 10px;
}

.fc-rtl .fc-header-title {
    direction: rtl;
}

.fc-header .fc-state-default, .fc-header .ui-state-default {
    cursor: pointer;
    margin-bottom: 1em;
}

.fc-header .fc-state-default {
    border-width: 1px 0;
    padding: 0 1px;
}

.fc-header .fc-state-default, .fc-header .fc-state-default a {
    border-style: solid;
}

.fc-header .fc-state-default a {
    border-width: 0 1px;
    display: block;
    margin: 0 -1px;
    text-decoration: none;
    width: 100%;
}

.fc-header .fc-state-default span {
    border-style: solid;
    border-width: 1px 0 1px 1px;
    display: block;
    padding: 3px 5px;
}

.fc-header .ui-state-default {
    padding: 4px 6px;
}

.fc-header .fc-state-default span, .fc-header .ui-state-default span {
    white-space: nowrap;
}

.fc-header .fc-no-right {
    padding-right: 0;
}

.fc-header .fc-no-right a {
    border-right: 0 none;
    margin-right: 0;
}

.fc-header .ui-no-right {
    border-right: 0 none;
}

.fc-header .fc-corner-left {
    margin-left: 1px;
    padding-left: 0;
}

.fc-header .fc-corner-right {
    margin-right: 1px;
    padding-right: 0;
}

.fc-header .fc-state-default, .fc-header .fc-state-default a {
    border-color: #777777;
    color: #333333;
}

.fc-header .fc-state-default span {
    background: none repeat scroll 0 0 #E8E8E8;
    border-color: #FFFFFF #FFFFFF #D1D1D1;
}

.fc-header .fc-state-active a {
    color: #FFFFFF;
}

.fc-header .fc-state-down span, .fc-header .fc-state-active span {
    background: none repeat scroll 0 0 #888888;
    border-color: #808080 #808080 #909090;
}

.fc-header .fc-state-disabled a {
    color: #999999;
}

.fc-header .fc-state-disabled, .fc-header .fc-state-disabled a {
    border-color: #CCCCCC;
}

.fc-header .fc-state-disabled span {
    background: none repeat scroll 0 0 #F0F0F0;
    border-color: #FFFFFF #FFFFFF #F0F0F0;
}

.fc-widget-content {
    border: 1px solid #CCCCCC;
}

.fc-content {
    clear: both;
}

.fc-content .fc-state-default {
    border-color: #CCCCCC;
    border-style: solid;
}

.fc-content .fc-state-highlight {
    background: none repeat scroll 0 0 #FFFFCC;
}

.fc-content .fc-not-today {
    background: none repeat scroll 0 0 transparent;
}

.fc-cell-overlay {
    background: none repeat scroll 0 0 #99CCFF;
    opacity: 0.2;
}

.fc-view {
    overflow: hidden;
    width: 100%;
}

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
    background-color: #3366CC;
    border-color: #3366CC;
    border-style: solid;
    color: #FFFFFF;
}

.fc-event {
    text-align: left;
}

.fc-event a {
    cursor: pointer;
    font-size: 0.85em;
    overflow: hidden;
    text-decoration: none;
}

.fc-event-editable {
    cursor: pointer;
}

.fc-event-time, .fc-event-title {
    padding: 0 1px;
}

.fc-event a {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.fc-rtl .fc-event a {
    text-align: right;
}

.fc .ui-resizable-handle {
    background: url("data:image/gif;base64,AAAA") repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    display: block;
    position: absolute;
    z-index: 99999;
}

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}

.fc-event-hori a {
    border-width: 0;
}

.fc-content .fc-corner-left {
    margin-left: 1px;
}

.fc-content .fc-corner-left a {
    border-left-width: 1px;
    margin-left: -1px;
}

.fc-content .fc-corner-right {
    margin-right: 1px;
}

.fc-content .fc-corner-right a {
    border-right-width: 1px;
    margin-right: -1px;
}

.fc-event-hori .ui-resizable-e {
    cursor: e-resize;
    height: 100% !important;
    right: -3px !important;
    top: 0 !important;
    width: 7px !important;
}

.fc-event-hori .ui-resizable-w {
    cursor: w-resize;
    height: 100% !important;
    left: -3px !important;
    top: 0 !important;
    width: 7px !important;
}

.fc-event-hori .ui-resizable-handle {

}

.fc-grid table {
    width: 100%;
}

.fc .fc-grid th {
    border-width: 0 0 0 1px;
    text-align: center;
}

.fc .fc-grid td {
    border-width: 1px 0 0 1px;
}

.fc-grid th.fc-leftmost, .fc-grid td.fc-leftmost {
    border-left: 0 none;
}

.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 0;
}

.fc-grid .fc-event-time {
    font-weight: bold;
}

.fc-rtl .fc-grid {
    direction: rtl;
}

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}

.fc .fc-agenda th, .fc .fc-agenda td {
    border-width: 1px 0 0 1px;
}

.fc .fc-agenda .fc-leftmost {
    border-left: 0 none;
}

.fc-agenda tr.fc-first th, .fc-agenda tr.fc-first td {
    border-top: 0 none;
}

.fc-agenda-head tr.fc-last th {
    border-bottom-width: 1px;
}

.fc .fc-agenda-head td, .fc .fc-agenda-body td {
    background: none repeat scroll 0 0 transparent;
}

.fc-agenda-head th {
    text-align: center;
}

.fc-agenda .fc-axis {
    font-weight: normal;
    padding: 0 4px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
}

.fc-agenda-head tr.fc-all-day th {
    height: 35px;
}

.fc-agenda-head td {
    padding-bottom: 10px;
}

.fc .fc-divider div {
    font-size: 1px;
    height: 2px;
}

.fc .fc-divider .fc-state-default {
    background: none repeat scroll 0 0 #EEEEEE;
}

.fc .fc-agenda-body td div {
    height: 20px;
}

.fc .fc-agenda-body tr.fc-minor th, .fc .fc-agenda-body tr.fc-minor td {
    border-top-style: dotted;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 0;
}

.fc-event-vert {
    border-width: 0 1px;
}

.fc-event-vert a {
    border-width: 0;
}

.fc-content .fc-corner-top {
    margin-top: 1px;
}

.fc-content .fc-corner-top a {
    border-top-width: 1px;
    margin-top: -1px;
}

.fc-content .fc-corner-bottom {
    margin-bottom: 1px;
}

.fc-content .fc-corner-bottom a {
    border-bottom-width: 1px;
    margin-bottom: -1px;
}

.fc-event-vert span {
    display: block;
    position: relative;
    z-index: 2;
}

.fc-event-vert span.fc-event-time {
    border: 0 none;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.fc-event-vert span.fc-event-title {
    line-height: 13px;
}

.fc-event-vert span.fc-event-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.fc-event-vert .ui-resizable-s {
    bottom: 0 !important;
    cursor: s-resize;
    font-family: monospace;
    font-size: 11px !important;
    height: 8px !important;
    line-height: 8px !important;
    text-align: center;
    width: 100% !important;
}