div.content {
    /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
    display: none;
    float: left;
    width: 400px;
}

div.content-competitions {
    display: none;
    float: left;
    width: 240px;
}

div.content a, div.content-competitions a, div.navigation a {
    text-decoration: none;
    color: #777 !important;
}

div.content a:focus, div.content a:hover, div.content a:active {
    text-decoration: underline;
}

div.content-competitions a:focus, div.content-competitions a:hover, div.content-competitions a:active {
    text-decoration: underline;
}

div.controls {
    margin-top: 5px;
    height: 23px;
}

div.controls-competitions {
    margin-top: 0px;
    height: 0px;
}

div.controls a {
    padding: 5px;
}

div.ss-controls {
    float: left;
}

div.nav-controls {
    float: right;
}

div.slideshow-container {
    position: relative;
    clear: both;
    height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
}

div.slideshow-container-competitions {
    position: relative;
    clear: both;
    height: 150px; /* This should be set to be at least the height of the largest image in the slideshow */
}

div.loader-competitions {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/galleriffic/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
}

div.slideshow {

}

div.slideshow-competitions {

}

div.slideshow span.image-wrapper, div.slideshow-competitions span.image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

div.slideshow span.image-wrapper {
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
}

div.slideshow a.advance-link {
    display: block;
    width: 380px;
    height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
    line-height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: left;
    border-bottom: none !important;
    background-color: white !important;
}

div.slideshow-competitions a.advance-link {
    display: block;
    width: 240px;
    height: 150px; /* This should be set to be at least the height of the largest image in the slideshow */
    line-height: 150px; /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: left;
    border-bottom: none !important;
    background-color: white !important;
}

div.slideshow, div.slideshow-competitions a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    background-color: #ffffff !important;
    text-decoration: none;
}

div.slideshow, div.slideshow-competitions img {
    vertical-align: middle;
    /*border: 1px solid #ccc;*/
}

div.download {
    float: right;
}

div.caption-container {
    position: relative;
    clear: left;
    height: 20px;
}

span.image-caption {
    display: block;
    position: absolute;
    width: 500px;
    top: 0;
    left: 0;
}

div.caption {
    padding: 12px;
}

div.image-title {
    font-weight: bold;
    font-size: 1.4em;
}

div.image-desc {
    line-height: 1.3em;
    padding-top: 12px;
}

div.navigation {
    /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}

ul.thumbs {
    clear: both;
    margin: 0;
    padding: 0;
}

ul.thumbs li {
    float: left;
    padding: 0;
    margin: 5px 10px 5px 0;
    list-style: none;
}

a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
}

ul.thumbs li.selected a.thumb {
    background: #000;
}

a.thumb:focus {
    outline: none;
}

ul.thumbs img {
    border: none;
    display: block;
}

div.pagination {
    clear: both;
}

div.navigation div.top {
    margin-bottom: 12px;
    height: 11px;
}

div.navigation div.bottom {
    margin-top: 12px;
}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px !important;
    padding: 4px 7px 2px 7px !important;
    border: 1px solid #ccc !important;
}

div.pagination a:hover {
    background-color: #eee !important;
    text-decoration: none;
}

div.pagination span.current {
    font-weight: bold;
    background-color: #000;
    border-color: #000;
    color: #fff;
}

div.pagination span.ellipsis {
    border: none;
    padding: 5px 0 3px 2px;
}
