<!-- Page title -->
<div id="pagetitle">
    <h1>Campaign control</h1>
</div>

<!-- End of Page title -->

<!-- Page content -->

<div class="container">
    <div class="containerinner campaigncontrol">
        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>Campaign: <?php echo $this->campaign->getCampaign_Name(
                        ); ?></h2>
                    <div class="help fr">
                        <a href="#" class="data-controls-modal"
                           data-controls-modal="help_popup" data-backdrop="true"
                           data-keyboard="true">Help</a>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="campaignsetup">
            <div class="row">
                <div class="span14 offset1">

                    <div class="row">
                        <div class="span9">
                            <table>
                                <thead>
                                <tr>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Entries</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td width="25%">
                                        <?php if ($this->competition->getCampaign_Comp_Start_Date(
                                            ) != null
                                        ): ?>
                                            <?php echo $this->competition->getFormattedStartDate(
                                            ); ?><br/>
                                            Time:&nbsp;<?php echo $this->competition->getFormattedStartTime(
                                            ); ?><br/>
                                        <?php else: ?>
                                            Not set
                                        <?php endif; ?>
                                    </td>
                                    <td width="25%">
                                        <?php if ($this->competition->getCampaign_Comp_End_Date(
                                            ) != null
                                        ): ?>
                                            <?php echo $this->competition->getFormattedEndDate(
                                            ); ?><br/>
                                            Time:&nbsp;<?php echo $this->competition->getFormattedEndTime(
                                            ); ?><br/>
                                        <?php else: ?>
                                            Not set
                                        <?php endif; ?>
                                    </td>
                                    <td>
                                        <?php echo $this->competition->total_entries; ?>
                                    </td>
                                    <td width="25%">
                                        <?php if ($this->competition->campaign_comp_status
                                            == CAMPAIGN_STATUS_SCHEDULED
                                        ) { ?>
                                            <span class="label success"><?php echo $this->showCampaignStatus(
                                                    $this->competition->campaign_comp_status
                                                ); ?></span>
                                        <?php } else {
                                            if ($this->competition->campaign_comp_status
                                                == CAMPAIGN_STATUS_RUNNING
                                            ) { ?>
                                                <span class="label warning"><?php echo $this->showCampaignStatus(
                                                        $this->competition->campaign_comp_status
                                                    ); ?></span>
                                            <?php } else {
                                                if ($this->competition->campaign_comp_status
                                                    == CAMPAIGN_STATUS_COMPLETED
                                                ) { ?>
                                                    <span class="label"><?php echo $this->showCampaignStatus(
                                                            $this->competition->campaign_comp_status
                                                        ); ?></span>
                                                <?php } else { ?>
                                                    <span class="label notice"><?php echo $this->showCampaignStatus(
                                                            $this->competition->campaign_comp_status
                                                        ); ?></span>
                                                <?php }
                                            }
                                        } ?>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="span4 campaignactions well">
                            <h4>Campaign Actions</h4>
                            <div class="clearfix">
                                <img alt="Edit"
                                     rel="popover"
                                     data-content="You can edit your campaign at any time up until it is completed."
                                     data-original-title="Edit Campaign"
                                     src="<?php echo Zend_Controller_Front::getInstance(
                                     )->getBaseUrl(); ?>/img/pencil_25.png">
                                <?php if ($this->competition->campaign_comp_status
                                    != CAMPAIGN_STATUS_COMPLETED
                                ): ?>
                                    <a href="<?php echo $this->url(
                                        array('module'         => 'user',
                                              'controller'     => 'competitions',
                                              'action'         => 'look',
                                              'competition_id' => $this->competitionId),
                                        null, true
                                    ); ?>">Edit Settings</a>
                                <?php else: ?>
                                    <a href="<?php echo $this->url(
                                        array('module'         => 'user',
                                              'controller'     => 'competitions',
                                              'action'         => 'look',
                                              'competition_id' => $this->competitionId),
                                        null, true
                                    ); ?>">View Setup</a>
                                <?php endif; ?>
                            </div>
                            <div class="clearfix">
                                <img alt="Download CSV" rel="popover"
                                     data-content="You can download a list of entrants during and after your campaign as a CSV file which can be opened in Excel and other spreadsheeet software."
                                     data-original-title="Download Entries"
                                     src="<?php echo Zend_Controller_Front::getInstance(
                                     )->getBaseUrl(); ?>/img/csv_icon_25.png">
                                <?php if ((int)$this->competition->total_entries
                                    > 0
                                ): ?>
                                    <span id="download_csv_block"><?php echo $this->showDownloadCsvLink(
                                            $this->campaign->getCampaign_Id(),
                                            $this->competition->campaign_comp_id
                                        ); ?></span>
                                <?php else: ?>
                                    No CSV to download yet
                                <?php endif; ?>
                            </div>
                            <div class="clearfix">
                                <?php if ($this->competition->campaign_comp_status
                                    == CAMPAIGN_STATUS_RUNNING
                                ): ?>
                                    <img alt="Pause campaign" rel="popover"
                                         data-content="You can pause a running campaign to stop it appearing on your site."
                                         data-original-title="Pause Campaign"
                                         src="<?php echo Zend_Controller_Front::getInstance(
                                         )->getBaseUrl(
                                         ); ?>/img/pause_icon_25.png">
                                    <a href="<?php echo $this->url(
                                        array('module'         => 'user',
                                              'controller'     => 'competitions',
                                              'action'         => 'pause-competition',
                                              'competition_id' => $this->competitionId),
                                        null, true
                                    ); ?>">Pause campaign</a>
                                <?php elseif ($this->competition->campaign_comp_status
                                    == CAMPAIGN_STATUS_PAUSED
                                ): ?>
                                    <img src="<?php echo Zend_Controller_Front::getInstance(
                                    )->getBaseUrl(); ?>/img/start_sample.png">
                                    <a href="<?php echo $this->url(
                                        array('module'         => 'user',
                                              'controller'     => 'competitions',
                                              'action'         => 'start-competition',
                                              'competition_id' => $this->competitionId),
                                        null, true
                                    ); ?>">Start campaign</a>
                                <?php else: ?>
                                    <img alt="Pause campaign" rel="popover"
                                         data-content="You can pause a running campaign to stop it appearing on your site."
                                         data-original-title="Pause Campaign"
                                         src="<?php echo Zend_Controller_Front::getInstance(
                                         )->getBaseUrl(
                                         ); ?>/img/pause_icon_25.png">
                                    Campaign not running
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span14">
                            <h3>Entry Graph</h3>
                            <div id="placeholder" style="height:300px"></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="span14 entriesheader">
                            <h3>Last 10 Entries</h3>
                            <span class="fr">Your timezone: <b><?php echo Zend_Registry::get(
                                        'Timezone'
                                    ); ?></b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span14">
                            <?php if (count($this->lastEntriesList) > 0): ?>
                                <div class="campaignlist">
                                    <table class="bordered-table zebra-striped">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Email</th>
                                            <th>Answer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach (
                                            $this->lastEntriesList as $entry
                                        ): ?>
                                            <tr>
                                                <td width="25%"><?php echo $entry->getFormattedEntryDate(
                                                    ); ?></td>
                                                <td width="25%"><?php echo $entry->entrant_email; ?></td>
                                                <td width="50%"><?php echo $entry->campaign_comp_entry_answer; ?></td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            <?php else: ?>
                                <div class="campaignlist">
                                    <table class="bordered-table zebra-striped">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Email</th>
                                            <th>Answer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="3">No entries for this
                                                campaign yet
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!-- End of Wrapper -->

<script type="text/javascript">

    $(function () {
        $("img[rel=popover]")
            .popover({
                offset: 10,
                placement: 'left'
            })
            .click(function (e) {
                e.preventDefault()
            })
    })

    var generateCSVUrl = '<?php echo $this->url(
        array('module' => null, 'controller' => 'campaigns',
              'action' => 'generatecsv'), null, true
    );?>';
    var downloadCSVUrl = '<?php echo $this->url(
        array('module' => null, 'controller' => 'campaigns',
              'action' => 'downloadcsv'), null, true
    );?>';
    var campaignId = '';
    var competitionId = '';
    var graphData = [];
    var ticksData = [];

    <?php foreach($this->statsList as $stat): ?>
    graphData.push([<?php echo $stat->getStatDateGraph(
    );?>, <?php echo $stat->getEntries();?>]);
    <?php endforeach; ?>

    <?php foreach($this->graphDatesRange as $label => $value): ?>
    ticksData.push([<?php echo $value;?>, "<?php echo $label;?>"]);
    <?php endforeach; ?>

    var options = {
        bars: {show: true, barWidth: 43200},
        xaxis: {
            minTickSize: [1],
            tickDecimals: 0,
            ticks: ticksData
        }
    };

    $.plot($("#placeholder"), [{
        data: graphData,
        label: "Num Entries"
    }], options);

    if (graphData.length == 0) {
        $("#placeholder").append('<div style="position:relative;left:330px;top:-200px;color:#666;font-size:smaller">Entries will be visible when competition is live</div>');
        $("#placeholder").append('<div style="position:relative;left:380px;top:-10px;color:#666;font-size:smaller">Entry Date</div>');
    }

    function generateCSV(argCampaignId, argCompetitionId) {
        campaignId = argCampaignId;
        competitionId = argCompetitionId;
        //competitionBlockId = '#competition_container_'+competitionId;

        $.ajax({
            url: generateCSVUrl,
            dataType: 'json',
            data: 'id=' + campaignId + '&campaign_comp_id=' + competitionId,
            success: generateCSVCompleted
        });
    }

    function generateCSVCompleted(result) {
        if (result.error == 0) {
            $('#download_csv_block').empty();

            var url = downloadCSVUrl + '/id/' + campaignId + '/campaign_comp_id/' + competitionId;
            var downloadLink = '<a href=' + url + '>Download</a>';
            $('#download_csv_block').append(downloadLink);
        }
    }

</script>