<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Dashboard</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div class="container">
    <div class="containerinner">
        <div class="row">
            <!-- Left column/section -->
            <?php if (count($this->weekWithoutSidebar) > 0): ?>
                <?php echo $this->partial(
                    "dashboard/top_message.phtml", array('boxColor'   => 'grey',
                                                         'sitesList'  => $this->weekWithoutSidebar,
                                                         'parentView' => $this)
                ); ?>
            <?php elseif (count($this->sitesWithoutSidebar) > 0): ?>
                <?php echo $this->partial(
                    "dashboard/top_message.phtml", array('boxColor'   => 'yellow',
                                                         'sitesList'  => $this->sitesWithoutSidebar,
                                                         'parentView' => $this)
                ); ?>
            <?php endif; ?>

            <?php if (count($this->competitionsList) > 0): ?>
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>My Campaigns</h2><a href="#"
                                            class="btn success data-controls-modal fr"
                                            data-controls-modal="create_competition_popup"
                                            data-backdrop="true"
                                            data-keyboard="true">Add New
                        Campaign</a></div>
            </div>
            <div class="campaignlist">
                <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                        <th>Competition</th>
                        <th>Status</th>
                        <th>Interactions</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->competitionsList as $competition): ?>
                        <tr>
                            <td>
                                <b><?php echo $competition->campaign_comp_name; ?></b><br>
                                <?php if ($competition->campaign_comp_type
                                    == COMPETITION_TYPE_BASIC_COMPETITION
                                ): ?>
                                    Competition<br>
                                <?php elseif ($competition->campaign_comp_type
                                    == COMPETITION_TYPE_BASIC_DEAL
                                ): ?>
                                    Deal of the day<br>
                                <?php elseif ($competition->campaign_comp_type
                                    == COMPETITION_TYPE_BASIC_SIGNUP_FORM
                                ): ?>
                                    Newsletter signup<br>
                                <?php elseif ($competition->campaign_comp_type
                                    == COMPETITION_TYPE_BASIC_ANNOUNCEMENT
                                ): ?>
                                    Announcement<br>
                                <?php endif; ?>
                                <?php if ($competition->getCampaign_Comp_Start_Date(
                                    ) != null
                                ): ?>
                                    Starts <?php echo $competition->getFormattedStartDate(
                                    ); ?>, ends <?php echo $competition->getFormattedEndDate(
                                    ); ?>
                                <?php else: ?>
                                    Not scheduled. Please complete setup.
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php if ($competition->campaign_comp_status
                                    == CAMPAIGN_STATUS_SCHEDULED
                                ) { ?>
                                    <span class="label success"><?php echo $this->showCampaignStatus(
                                            $competition->campaign_comp_status
                                        ); ?></span>
                                <?php } else {
                                    if ($competition->campaign_comp_status
                                        == CAMPAIGN_STATUS_RUNNING
                                    ) { ?>
                                        <span class="label warning"><?php echo $this->showCampaignStatus(
                                                $competition->campaign_comp_status
                                            ); ?></span>
                                    <?php } else {
                                        if ($competition->campaign_comp_status
                                            == CAMPAIGN_STATUS_COMPLETED
                                        ) { ?>
                                            <span class="label"><?php echo $this->showCampaignStatus(
                                                    $competition->campaign_comp_status
                                                ); ?></span>
                                        <?php } else { ?>
                                            <span class="label notice"><?php echo $this->showCampaignStatus(
                                                    $competition->campaign_comp_status
                                                ); ?></span>
                                        <?php }
                                    }
                                } ?>
                            </td>
                            <td>
                                <?php echo $competition->getTotal_Entries(); ?>
                                Entries
                            </td>
                            <td>
                                <?php if ($competition->campaign_comp_status
                                    != CAMPAIGN_STATUS_COMPLETED
                                ): ?>
                                    <img alt="Edit"
                                         src="<?php echo Zend_Controller_Front::getInstance(
                                         )->getBaseUrl(); ?>/img/pencil_25.png">
                                    <b><a href="<?php echo $this->url(
                                            array('module'         => 'user',
                                                  'controller'     => 'competitions',
                                                  'action'         => 'look',
                                                  'competition_id' => $competition->campaign_comp_id),
                                            null, true
                                        ); ?>">Edit Campaign</a></b><br/>
                                <?php else: ?>
                                    <img alt="Edit"
                                         src="<?php echo Zend_Controller_Front::getInstance(
                                         )->getBaseUrl(); ?>/img/pencil_25.png">
                                    <b><a href="<?php echo $this->url(
                                            array('module'         => 'user',
                                                  'controller'     => 'competitions',
                                                  'action'         => 'look',
                                                  'competition_id' => $competition->campaign_comp_id),
                                            null, true
                                        ); ?>">View Setup</a></b><br/>
                                <?php endif; ?>
                                <img alt="View Reports"
                                     src="<?php echo Zend_Controller_Front::getInstance(
                                     )->getBaseUrl(
                                     ); ?>/img/pie_chart_25.png"><a
                                        href="<?php echo $this->url(
                                            array('module'         => 'user',
                                                  'controller'     => 'dashboard',
                                                  'action'         => 'competition',
                                                  'competition_id' => $competition->campaign_comp_id),
                                            null, true
                                        ); ?>">View Reports</a>

                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="span14 offset1">
            <div class="row">
                <div class="span10">
                    <dl>
                        <dt><?php echo $this->quickInfo->subject; ?></dt>
                        <dd><?php echo $this->quickInfo->body; ?></dd>
                    </dl>
                </div>
                <div class="span4">
                    <dl>
                        <dt><?php echo $this->quickInfo->subject; ?></dt>
                        <dd><?php echo $this->quickInfo->body; ?></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <?php else: ?>
        <section class="column width8 blue" style="text-align: center;">
            <br/>
            It is looking lonely here. Create your first campaign to get started
            !<br/><br/>
            <?php echo $this->form(
                'list_form', array('action' => $this->url(
                array('module' => 'user', 'controller' => 'competitions',
                      'action' => 'create-default'), null, true
            ), 'method'                     => 'get'), false
            ); ?>
            <div>
                <a href="#" class="btn data-controls-modal"
                   data-controls-modal="create_competition_popup"
                   data-backdrop="true" data-keyboard="true">Create campaign</a>
            </div>
            </form>
            <br/>
            <?php echo $this->noCompetitionsMessage->body; ?><br/><br/>
        </section>
    <?php endif; ?>
    <div id="create_competition_popup" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>What do you want to do ?</h3>
        </div>
        <div class="modal-body">
            <p>
            <div class="well">
                <b>General leads</b><br/>
                <span>
                                <a href="<?php echo $this->url(
                                    array('module'           => 'user',
                                          'controller'       => 'competitions',
                                          'action'           => 'create-default',
                                          'competition_type' => COMPETITION_TYPE_BASIC_COMPETITION),
                                    null, true
                                ) ?>">Competition</a>
                                <a href="<?php echo $this->url(
                                    array('module'           => 'user',
                                          'controller'       => 'competitions',
                                          'action'           => 'create-default',
                                          'competition_type' => COMPETITION_TYPE_BASIC_DEAL),
                                    null, true
                                ) ?>" class="fr">Deal of the day</a>
                            </span>
            </div>
            <div class="well">
                <b>Collect email signups</b><br/>
                <span>
                                <a href="<?php echo $this->url(
                                    array('module'           => 'user',
                                          'controller'       => 'competitions',
                                          'action'           => 'create-default',
                                          'competition_type' => COMPETITION_TYPE_BASIC_SIGNUP_FORM),
                                    null, true
                                ) ?>">Newsletter signup</a>
                            </span>
            </div>
            <div class="well">
                <b>Inform your users</b><br/>
                <span>
                                <a href="<?php echo $this->url(
                                    array('module'           => 'user',
                                          'controller'       => 'competitions',
                                          'action'           => 'create-default',
                                          'competition_type' => COMPETITION_TYPE_BASIC_ANNOUNCEMENT),
                                    null, true
                                ) ?>">Make in announcement</a>
                            </span>
            </div>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn secondary close">Close</a>
        </div>
    </div>

</div>
</div>


<!-- End of Wrapper -->
<script type="text/javascript">
    var getTestInfoUrl = "<?php echo $this->url(
        array('module' => 'user', 'controller' => 'sites',
              'action' => 'gettestinfo'), null, true
    );?>";
    var installationInstructionsUrl = "<?php echo $this->url(
        array('module'   => 'user', 'controller' => 'help',
              'action'   => 'documentation',
              'asset_id' => 'uc-help-install-widget'), null, true
    )?>";

    $('#dialog').dialog({
        title: '<?php echo $this->testModePopupContent->subject; ?>',
        autoOpen: false,
        width: 400,
        modal: true
    });

    $('#no_competitions_popup').dialog({
        title: '<?php echo $this->noCompetitionsPopupContent->subject; ?>',
        autoOpen: false,
        width: 400,
        modal: true
    });

    function noCompetitionsPopupView() {
        $('#no_competitions_popup').dialog('open');
        return false;
    }

    function testSitePopupView(competitionId) {
        $.ajax({
            url: getTestInfoUrl,
            data: 'competition_id=' + competitionId,
            dataType: 'json',
            success: testSitePopupViewCompleted
        });
    }

    function testSitePopupViewCompleted(result) {
        var dialogWindow = $('#dialog');
        dialogWindow.empty();
        dialogWindow.append("<?php echo $this->testModePopupContent->body; ?><br/><br/>");

        if (result.sidebar_script_active == 0) {
            var dialogContent = "<div class='box box-warning'>Warning: Wingrin widget has not been detected for this site. Have you installed the code ?</div><br/><br/>";
            dialogContent += "<a href='" + result.test_url + "' target='_blank' class='btn btn-green'>Go to my site</a>&nbsp;"
            dialogContent += "<a href='" + installationInstructionsUrl + "' class='btn'>Go to installation instructions</a>"
        } else {
            var dialogContent = "<a href='" + result.test_url + "' target='_blank' class='btn btn-green'>Go to my site</a>";
        }

        dialogWindow.append(dialogContent);
        dialogWindow.dialog('open');
    }
</script>
