<section class="column width8 <?php echo $this->boxColor; ?>">
    <div class="content-box">
        <header>
            <table width="100%" class="full no-style no-border" cellpadding="0"
                   cellspacing="0">
                <tr>
                    <td width="80%">
                        <h3><?php echo $this->parentView->installSidebarMessage->subject; ?>
                            (<?php echo $this->sitesList[0]->site_url; ?>)</h3>
                    </td>
                    <td width="80%" style="vertical-align: middle;">
                        <a href="<?php echo $this->url(
                            array('module'  => 'user', 'controller' => 'sites',
                                  'action'  => 'javascript',
                                  'site_id' => $this->sitesList[0]->site_id),
                            null, true
                        ); ?>">Setup Javascript Code</a>
                    </td>
                </tr>
            </table>
        </header>
        <section class="content-box-table">
            <?php echo $this->parentView->installSidebarMessage->body; ?></br>
        </section>
    </div>
</section>