<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Results &rarr;
            <span><?php echo $this->campaign->getCampaign_Name() . ':'
                    . $this->campaign->getSite_Url(); ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'results'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'results', 'action' => 'entries',
                              'id'         => $this->campaign->getCampaign_Id(
                              )), null, true
                    ) ?>"><span>Entries</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Entries</h3>
                </header>
                <section class="content-box-table">
                    <table class="full no-style no-border">
                        <tr>
                            <td width="35%">
                                <?php if ($this->campaign->getCampaign_Comp_Start_Date(
                                    ) != null
                                ): ?>
                                    Start date:&nbsp;<?php echo $this->campaign->getFormatedStartDate(
                                    ); ?>
                                <?php else: ?>
                                    Start date: Not set
                                <?php endif; ?>
                            </td>
                            <td width="35%">
                                <?php if ($this->campaign->getCampaign_End_Date(
                                    ) != null
                                ): ?>
                                    End date:&nbsp;<?php echo $this->campaign->getFormatedEndDate(
                                    ); ?>
                                <?php else: ?>
                                    End date: Not set
                                <?php endif; ?>
                            </td>
                            <td width="30%" style="text-align: right;">
                                <?php if ($this->campaign->campaign_comp_status
                                    == CAMPAIGN_STATUS_RUNNING
                                ): ?>
                                    Status:&nbsp;&nbsp;<span
                                            class="label label-green"><?php echo $this->showCampaignStatus(
                                            $this->campaign->campaign_comp_status
                                        ); ?></span>
                                <?php else: ?>
                                    Status:&nbsp;&nbsp;<span
                                            class="label label-silver"><?php echo $this->showCampaignStatus(
                                            $this->campaign->campaign_comp_status
                                        ); ?></span>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </table>
                    <h4>Entries</h4>
                    <hr/>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Competition Name</th>
                            <th>Entries</th>
                            <th>Results</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->competitionsList as $competition):
                            ?>
                            <tr>
                                <td width="40%"><?php echo $competition->campaign_comp_name; ?></td>
                                <td width="40%"><?php echo $competition->total_entries; ?></td>
                                <td width="20%"
                                    id="competition_container_<?php echo $competition->campaign_comp_id; ?>">
                                    <?php if ((int)$competition->total_entries
                                        > 0
                                    ): ?>
                                        <?php echo $this->showDownloadCsvLink(
                                            $this->campaign->getCampaign_Id(),
                                            $competition->campaign_comp_id
                                        ); ?>
                                    <?php else: ?>
                                        Not Available
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <h4>Entry Graph</h4>
                    <hr/>
                    <div id="placeholder" style="height:300px"></div>
                </section>

            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
    <script type="text/javascript">
        var generateCSVUrl = '<?php echo $this->url(
            array('controller' => 'campaigns', 'action' => 'generatecsv'), null,
            true
        );?>';
        var downloadCSVUrl = '<?php echo $this->url(
            array('controller' => 'campaigns', 'action' => 'downloadcsv'), null,
            true
        );?>';
        var competitionBlockId = '';
        var campaignId = '';
        var competitionId = '';
        var graphData = [];
        var ticksData = [];
        //ticksData

        <?php foreach($this->statsList as $stat): ?>
        graphData.push([<?php echo $stat->getStatDateGraph(
        );?>, <?php echo $stat->getEntries();?>]);
        <?php endforeach; ?>

        <?php foreach($this->graphDatesRange as $label => $value): ?>
        ticksData.push([<?php echo $value;?>, "<?php echo $label;?>"]);
        <?php endforeach; ?>

        var options = {

            bars: {show: true, barWidth: 10000},
            xaxis: {
                minTickSize: [1],
                tickDecimals: 0,
                ticks: ticksData
            }
        };


        $.plot($("#placeholder"), [{
            data: graphData,
            label: "Num Entries"
        }], options);

        if (graphData.length == 0) {
            $("#placeholder").append('<div style="position:relative;left:250px;top:-200px;color:#666;font-size:smaller">Entries will be visible when competition is live</div>');
            $("#placeholder").append('<div style="position:relative;left:330px;top:-20px;color:#666;font-size:smaller">Entry Date</div>');
        }

        function generateCSV(argCampaignId, argCompetitionId) {

            campaignId = argCampaignId;
            competitionId = argCompetitionId;
            competitionBlockId = '#competition_container_' + competitionId;

            $.ajax({
                url: generateCSVUrl,
                dataType: 'json',
                data: 'id=' + campaignId + '&campaign_comp_id=' + competitionId,
                success: generateCSVCompleted
            });
        }

        function generateCSVCompleted(result) {
            if (result.error == 0) {
                $(competitionBlockId).empty();

                var url = downloadCSVUrl + '/id/' + campaignId + '/campaign_comp_id/' + competitionId;
                var downloadLink = '<a href=' + url + '>Download</a>';
                $(competitionBlockId).append(downloadLink);
            }
        }

    </script>
