<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign results</h1>
    </div>
</div>
<!-- End of Page title -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('controller' => 'results'), null, true
                    ) ?>"><span>Search</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Search campaigns</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedCampaigns, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>Campaign Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedCampaigns as $campaign):
                            ?>
                            <tr>
                                <?php if ($campaign->getCampaign_Comp_Start_Date(
                                    ) != null
                                ): ?>
                                    <td><?php echo $campaign->getFormatedStartDate(
                                        ); ?></td>
                                <?php else: ?>
                                    <td>Not set</td>
                                <?php endif; ?>
                                <td><?php echo $campaign->campaign_name; ?></td>
                                <td><?php echo $this->showCampaignStatus(
                                        $campaign->campaign_comp_status
                                    ); ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'results',
                                              'action'     => 'entries',
                                              'id'         => $campaign->campaign_id),
                                        null, true
                                    ) ?>">See Results</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>