/*

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to
update the template. Simply copy an existing style from style.css to
this file, and modify it to your liking.

*/ /* misc */
.cl {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    line-height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none !important;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.hd {
    display: none;
}

.strong {
    font-weight: bold !important;
}

/* Main Elements */
#logo {
    padding: 15px 0 0 0;
    margin-right: 10px;
}

#header {
    color: #fff;
}

#header a {
    color: #fff;
    text-decoration: underline;
}

#header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
.header-top {
	background: #2c2c2c;
	padding: 6px 25px 2px;
}
*/
.header-top {
    padding: 2px 25px 1px;
    background: #0473B2 url("http://wgtest1.localhost/wp-content/themes/showtime/gfx/nav_bg.png") repeat-x scroll;
}

.login-header-top {
    padding: 2px 150px 3px;
    background: #0473B2 url("../img/nav_bg.png") repeat-x scroll;
}

.login-header-top a {
    color: #F0FCFF !important;
    font-size: 11px;
    margin: 0px 10px 0 10px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login-header-top a:hover {
    text-decoration: underline !important;
}

#login-title {
    padding: 10px 0 10px;
}

header#logintop {
    width: 100%;
    background: #0473B2 url("../img/nav_bg.png") repeat-x scroll;
}

/*
.header-middle {
	background: #404040 url('../img/header-middle.gif') repeat-x bottom;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #050505;
	padding: 0 15px;
}
*/

.header-middle {
    background: #404040 url("../img/intro_bg.png") repeat-x;
    padding: 0 15px;
}

.header-bottom {
    background: #313131 url('../img/header-bottom.gif') repeat-x bottom;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    padding: 7px 0px;
}

#header p {
    margin: 0 0 5px 0;
}

#header span {
    color: #6e7d87;
}

/* Navigation */
#nav {
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 62px;
}

#nav li {
    display: block;
    float: left;
    padding: 35px 5px 20px 5px;
    text-align: left;
    position: relative;
    height: 36px;
    font-size: 16px;
}

/*
#nav li:hover {
	background: #2d2d2d;
	border-right: 1px solid #606060;
	border-left: 1px solid #606060;
	border-top: 0;
	border-bottom: 0;
	padding: 35px 4px 20px 4px;
}
*/
#nav li:hover {
    background: #0473B2;
    border-right: 1px solid #266DBB;
    border-left: 1px solid #266DBB;
    border-top: 0;
    border-bottom: 0;
    padding: 35px 4px 20px 4px;
}

#nav li a {
    color: #fff;
    padding: 22px 10px 22px 40px;
    /*text-shadow: 0 -1px 1px #000000;*/
    font-size: 12px;
    text-decoration: none;
}

#nav li a:hover {
    text-decoration: none;
}

#nav li a.help {
    background: url('../img/icons/nav/help.png') no-repeat 0 -38px;
}

#nav li a.settings {
    background: url('../img/icons/nav/settings.png') no-repeat 0 -38px;
}

#nav li a.users {
    background: url('../img/icons/nav/users.png') no-repeat 0 -38px;
}

#nav li a.statistics {
    background: url('../img/icons/nav/statistics.png') no-repeat 0 -38px;
}

#nav li a.themes {
    background: url('../img/icons/nav/themes.png') no-repeat 0 -38px;
}

#nav li a.campaigns {
    background: url('../img/icons/nav/campaigns.png') no-repeat 0 -38px;
}

#nav li a.sites {
    background: url('../img/icons/nav/sites.png') no-repeat 0 -38px;
}

#nav li a.dashboard {
    background: url('../img/icons/nav/dashboard.png') no-repeat 0 -38px;
}

#nav li:hover > a {
    background-position: 0 16px;
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
    background: none;
    border: none;
}

#nav ul a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* dropdown */
#nav li:hover > ul {
    display: block;
}

/* drop down widths */
#nav li.dashboard ul {
    width: 172px;
}

#nav li.dashboard ul li ul {
    left: 172px;
}

#nav li.campaigns ul {
    width: 151px;
}

#nav li.campaigns ul li ul {
    left: 151px;
}

#nav li.sites ul {
    width: 134px;
}

#nav li.sites ul li ul {
    left: 134px;
    width: 190px;
}

#nav li.statistics ul {
    width: 134px;
}

#nav li.statistics ul li ul {
    left: 134px;
    width: 190px;
}

#nav li.themes ul {
    width: 134px;
}

#nav li.themes ul li ul {
    left: 134px;
    width: 190px;
}

#nav li.users ul {
    width: 134px;
}

#nav li.users ul li ul {
    left: 134px;
}

#nav li.settings ul {
    width: 153px;
}

#nav li.settings ul li ul {
    left: 153px;
}

#nav li.help ul {
    width: 120px;
}

#nav li.help ul li ul {
    left: 120px;
}

/* level 2 list */
#nav ul {
    display: none;
    margin: 0;
    padding: 0;
    /*	width: 174px; */
    position: absolute;
    top: 91px;
    right: -1px;
    background: #0473B2;
    border: 1px solid #2A7AD2;
    z-index: 10;
    border-top: none;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding-bottom: 5px;
}

#nav ul li {
    float: none;
    padding: 15px 0 1px;
    margin: 0;
}

#nav ul li:hover {
    padding: 15px 0 1px;
}

#nav ul li:hover {
    background: #478db4;
    border: 0;
}

#nav ul a {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0 15px;
    text-shadow: none;
    padding-left: 15px;
    vertical-align: top;
}

#nav ul li:hover > a {
    text-shadow: none;
    vertical-align: top;
}

/* level 3+ list */
#nav ul ul { /*	left: 174px; */
    top: 0;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-top: 1px solid #606060;
}

/* rounded corners of first and last link */
#nav ul li:last-child > a {
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}

/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#nav {
    display: inline-block;
}

html[xmlns] #nav {
    display: block;
}

* html #nav {
    height: 1%;
}

/* breadcrumbs */
#breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}

#breadcrumbs li {
    display: inline;
    font-size: 12px;
    line-height: normal;
    float: none;
    font-size: 14px;
}

#breadcrumbs li a {
    float: none;
    display: inline;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
}

#breadcrumbs li.bold a {
    font-weight: bold;
}

#breadcrumbs li:HOVER {
    background: none;
    padding: 0;
}

#breadcrumbs li:HOVER A {
    text-decoration: underline;
    padding: 0;
}

.breadcrumbs li a:HOVER {
    text-decoration: underline;
    background: none;
    padding: 0;
}

.blue .content-box {
    border: 1px solid #329ECC;
}

.blue .content-box header {
    background: #5092DC;
}

.green .content-box {
    border: 1px solid #0faa3d;
}

.green .content-box header {
    background: #d3f9bc;
}

.green .content-box header h3 {
    color: #78787f;
}

.yellow .content-box {
    border: 1px solid #f2dd8c;
}

.yellow .content-box header {
    background: #fff5cc;
}

.yellow .content-box header h3 {
    color: #78787f;
}

table.stylized th {
    background-color: #5092DC !important;
}

.content-box-table {
    padding: 8px;
    float: none;
    overflow: hidden;
}

.olive-content-box-table {
    padding: 8px;
    float: none;
    overflow: hidden;
}

.content-box dd {
    margin-bottom: 10px;
}

.two-column td {
    width: 50%;
}

.content-box {
    margin-top: 18px;
    padding-bottom: 18px;
}

.content-box-light {
    margin-top: 18px;
    padding-bottom: 18px;
}

.clear {
    clear: both;
}

form {
    overflow: hidden;
}

ul.nav-a {
    -moz-border-radius: 2px 2px 2px 2px;
    background: url("../img/nav-a-bg.gif") repeat-x scroll 0 0 #DAF1F8;
    border: 1px solid #FFFFFF;
    list-style: none outside none;
    padding: 5px;
}

ul.nav-a li.active {
    background: none repeat scroll 0 0 #5092dc !important;
    border: 1px solid #3985A8;
    padding: 1px;
}

ul.nav-a li.first {
    background: none repeat scroll 0 0 transparent;
    padding-top: 2px;
}

ul.nav-a li {
    background: url("../img/nav-a-sep.gif") no-repeat scroll 50% 0 transparent;
    font-size: 12px;
    padding: 4px 2px 2px;
}

ul.nav-a li.active a span {
    background-position: -3px 55%;
}

ul.nav-a li a span b {
    font-weight: normal;
    font-size: 18px;
}

ul.nav-a li a span {
    background: url("../img/nav-a-bullets.gif") no-repeat scroll 198px 55% transparent;
    cursor: pointer;
    display: block;
    padding: 7px;
}

ul.nav-a li.active a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

ul.nav-a li.active a:hover {
    font-weight: normal;
}

ul.nav-a li a:hover {
    font-weight: bold;
}

#page ul.nav-a a {
    border-bottom: none;
}

#page ul.nav-a a:hover, #page ul.nav-a a:focus, #page ul.nav-a a:active {
    background: none !important;
}

.list {
    overflow-y: scroll;
}

ul.nav-a {
    margin-top: 18px;
}

#type {
    min-width: 100px;
}

fieldset {
    margin: 20px 0;
    padding: 0;
}

table.no-border td {
    border-bottom: none !important;
}

.mr {
    margin-right: 50px;
}

.listbox {
    border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
    border-style: solid;
    border-width: 1px;
    color: #777777;
    padding: 4px;
    overflow-y: scroll;
    width: 50%;
}

.width2 .listbox {
    width: 100%;
}

.today {
    background: #FFFFAA !important;
}

.other {
    color: #c4c4c4;
}

#token-type {
    width: 200px;
}

textarea {
    font-size: 12px;
}

.gray-small {
    width: 50%;
}

.gray-small .content-box {
    border: 1px solid #999999;
}

.gray-small .content-box header {
    background: none repeat scroll 0 0 #999999;
}

.gray-small .content-box-closed header {
    background: url("../img/toggle.gif") no-repeat scroll 96% 15px #999999;
}

.gray-small section {
    width: 95%;
    margin-top: 18px;
}

.calendar-page {
    padding-top: 18px;
}

.calendar-page h3 {
    margin-top: 0;
}

.pointer {
    cursor: pointer;
}

.center {
    margin-left: 30%;
}

.calendar-page-location {
    margin-top: 16px;
}

#dialog {
    text-align: center;
}

.low-width {
    float: left;
    width: 30%;
    margin-right: 20px;
    margin-top: 16px;
    height: 239px;
}

.loc-sett {
    width: 65%;
    float: left;
}

td.site-list-td {
    border: 1px;
    border-style: solid;
    padding: 5px;
}

.column {
    padding-bottom: 20px;
}

input.readonly {
    background-color: #dcdcdc;
}

#token_id {
    width: 200px;
}

img.thumbnail {
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
}

ul.errors {
    color: red;
}

td.lock_label {
    vertical-align: middle;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

a.img_link {
    border-bottom: none !important;
}

.password {
    font-size: 12px;
    border: 1px solid #cc9933;
    width: 200px;
    font-family: arial, sans-serif;
}

.pstrength-minchar {
    font-size: 10px;
}

.rego-text {
    float: left;
    width: 250px;
}

.rego-text p {
    margin-top: 0px;
}

.rego-image {
    float: right;
}

.rego-lower {
    margin-top: 50px;
}

.rego-heading {
    margin-bottom: 0px;
}
