<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Dashboard</h1>
    </div>
</div>
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width6 first">
            <div class="content-box corners">
                <header>
                    <h3>Latest Campaigns</h3>
                </header>
                <section class="content-box-table">
                    <table class="no-style full">
                        <thead>
                        <tr>
                            <th>Site</th>
                            <th>Campaign Name</th>
                            <th>Status</th>
                            <th>Scheduled Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->campaignsList as $campaign): ?>
                            <tr>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'sites',
                                              'action'     => 'edit',
                                              'id'         => $campaign->site_id),
                                        null, true
                                    ) ?>"><?php echo $campaign->site_url; ?></a>
                                    <a href="<?php echo $this->prepareUrl(
                                        $campaign->site_url
                                    ); ?>" class="img_link"><img
                                                src="<?php echo Zend_Controller_Front::getInstance(
                                                )->getBaseUrl(
                                                ); ?>/img/external_link.jpg"
                                                alt=""/></a>
                                </td>
                                <td><a href="<?php echo $this->url(
                                        array('controller' => 'campaigns',
                                              'action'     => 'edit',
                                              'id'         => $campaign->campaign_id),
                                        null, true
                                    ) ?>"><?php echo $campaign->campaign_comp_name; ?></a>
                                </td>
                                <td><?php echo $this->showCampaignStatus(
                                        $campaign->campaign_comp_status
                                    ); ?></td>
                                <?php if ($campaign->getCampaign_Comp_Start_Date(
                                    ) != null
                                ): ?>
                                    <td><?php echo $campaign->getFormattedStartDate(
                                        ); ?></td>
                                <?php else: ?>
                                    <td>Not set</td>
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="column width3 first">
                <div class="content-box corners">
                    <header>
                        <h3>Messages</h3>
                    </header>
                    <section style="width: 95%;">
                        <table class="no-style full">
                            <tbody>
                            <?php foreach ($this->messagesList as $message): ?>
                                <tr>
                                    <td width="65%">
                                        <b>From: <?php echo $message->from; ?></b><br/>
                                        <b>Subject: <?php echo $message->subject; ?></b><br/>
                                        <br/>
                                        <?php echo $message->body; ?>
                                    </td width="35%">
                                    <td>
                                        <b><?php echo $message->getFormatedCreatedDate(
                                            ); ?></b></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="column width3">
                <div class="content-box corners">
                    <header>
                        <h3>News</h3>
                    </header>
                    <section>
                        <dl>
                            <?php foreach ($this->newsList as $newsItem): ?>
                                <dt><?php echo $newsItem->getFormatedCreatedDate(
                                    ); ?><?php echo $newsItem->subject; ?></dt>
                                <dd><?php echo $newsItem->body; ?></dd>
                                <dd></dd>
                                <dd><?php echo $newsItem->created_by; ?></dd>
                            <?php endforeach; ?>
                        </dl>
                    </section>
                </div>
            </div>
        </section>
        <!-- End of Left column/section -->

        <!-- Right column/section -->
        <aside class="column width2">
            <div class="content-box">
                <header>
                    <h3>Quick info</h3>
                </header>
                <section>
                    <dl>
                        <dt><?php echo $this->quickInfo->subject; ?></dt>
                        <dd><?php echo $this->quickInfo->body; ?></dd>
                    </dl>
                </section>
            </div>
        </aside>
        <!-- End of Right column/section -->

    </div>
    <!-- End of Wrapper -->