<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>User Management</h1>
    </div>
</div>
<!-- End of Page title -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'users', 'action' => 'index'),
                        null, true
                    ); ?>"><span>Search</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'users', 'action' => 'add'), null,
                        true
                    ); ?>"><span>Add New</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Add New</h3>
                </header>

                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
<script type="text/javascript">
    var getSitesUrl = '<?php echo $this->url(
        array('controller' => 'sites', 'action' => 'jsonlist'), null, true
    );?>';

    $(function () {
        $(".password").pstrength();
    });
</script>
