<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>User Management</h1>
    </div>
</div>
<!-- End of Page title -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('controller' => 'users'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'users', 'action' => 'add'), null,
                        true
                    ) ?>"><span>Add New</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Search Users</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedUsers, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Email Address</th>
                            <th>Name</th>
                            <th>Site</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <?php foreach ($this->paginatedUsers as $user): ?>
                            <tr>
                                <td><?php echo $user->email; ?></td>
                                <td><?php echo $user->firstname . ' '
                                        . $user->lastname; ?></td>
                                <td>&nbsp;</td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'users',
                                              'action'     => 'edit',
                                              'email'      => $user->email),
                                        null, true
                                    ) ?>">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'users',
                                              'action'     => 'delete',
                                              'email'      => $user->email),
                                        null, true
                                    ) ?>"
                                       onclick="return confirm('Are you sure that you want to delete this user ?');">Delete</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>

                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>