<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <br/>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td colspan="2">
                <?php echo $this->element->firstname; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->lastname; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->email; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->phone; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->country; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->timezone; ?>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <?php echo $this->element->password; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->confirm_password; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <?php echo $this->element->sites_list; ?>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td colspan="2">
                <?php echo $this->element->active; ?>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="gray-small">
                    <div class="content-box corners">
                        <header>
                            <h3>Roles &amp; Permission</h3>
                        </header>
                        <section>
                            <p>
                            <table class="full no-style no-border"
                                   cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="30%">
                                        <label for="primary-role">Primary
                                            Role:</label>
                                    </td>
                                    <td>
                                        <?php echo $this->element->primary_role; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%">
                                        <label for="primary-role">Payment:</label>
                                    </td>
                                    <td>
                                        <?php echo $this->element->payment_type; ?>
                                    </td>
                                </tr>
                            </table>
                            </p>
                        </section>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->old_email; ?>
</form>