<?php if ($this->pageCount): ?>
    <div class="paginationControl">
		<span class="fr">
        	<div class="dataTables_paginate paging_two_button">
				<?php if (isset($this->previous)): ?>
                    <a href="<?php echo $this->url(
                        array('page'     => $this->previous,
                              'per_page' => $this->itemCountPerPage)
                    ); ?>">
				    <div class="paginate_enabled_previous"
                         title="Previous"></div>
				  </a>
                <?php else: ?>
                    <div class="paginate_disabled_previous"
                         title="Previous"></div>
                <?php endif; ?>

                <?php if (isset($this->next)): ?>
                    <a href="<?php echo $this->url(
                        array('page'     => $this->next,
                              'per_page' => $this->itemCountPerPage)
                    ); ?>">
				    <div class="paginate_enabled_next" title="Next"></div>
				  </a>
                <?php else: ?>
                    <div class="paginate_disabled_next" title="Next"></div>
                <?php endif; ?>
			</div>
        </span>
    </div>
<?php endif; ?>