<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      id="<?php echo $this->element->getAttrib('id'); ?>"
      enctype="<?php echo $this->element->getAttrib('enctype'); ?>">
    <fieldset class="campaignsetup">
        <div class="row lookandfeel">
            <div class="span6 offset1">
                <h3>Customize Look and feel</h3>
                <div class="row">
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_highlight_color->getLabel(
                            ); ?>
                            <div id="highlight_color_selector"
                                 class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_highlight_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_background_color->getLabel(
                            ); ?>
                            <div id="background_color_selector"
                                 class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_background_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_font_color->getLabel(
                            ); ?>
                            <div id="font_color_selector" class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_font_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_border_color->getLabel(
                            ); ?>
                            <div id="border_color_selector"
                                 class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_border_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_button_color->getLabel(
                            ); ?>
                            <div id="button_color_selector"
                                 class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_button_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="clearfix">
                            <?php echo $this->element->primary_button_font_color->getLabel(
                            ); ?>
                            <div id="button_font_color_selector"
                                 class="colorSelector">
                                <div style="background-color: <?php echo $this->element->primary_button_font_color->getValue(
                                ); ?>"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-stacked no-pl fontselection">
                    <div class="span6">
                        <?php echo $this->element->primary_font_style; ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span14 offset1">
                <h3>Content</h3>
                <div class="row form-stacked">
                    <div class="span6">
                        <div class="clearfix">
                            <?php echo $this->element->competition_name; ?>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="clearfix">
                            <?php echo $this->element->intro_text; ?>
                        </div>
                    </div>
                </div>
                <div class="row form-stacked">
                    <div class="span6">
                        <div class="clearfix">
                            <?php echo $this->element->get_started_button_text; ?>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="clearfix">
                            <?php echo $this->element->show_image; ?>
                            <label class="nofloatlabel" for="show_image">Show
                                Image</label>
                            <?php if ($this->element->show_image->getValue()
                                == true
                            ): ?>
                                <div id="upload_image_box">
                                    <?php echo $this->element->upload_logo; ?>
                                    <a href="#" class="data-controls-modal"
                                       data-controls-modal="gallery_popup"
                                       data-backdrop="true"
                                       data-keyboard="true">Select from
                                        gallery</a>
                                </div>
                            <?php else: ?>
                                <div id="upload_image_box"
                                     style="display:none;">
                                    <?php echo $this->element->upload_logo; ?>
                                    <a href="#" class="data-controls-modal"
                                       data-controls-modal="gallery_popup"
                                       data-backdrop="true"
                                       data-keyboard="true">Select from
                                        gallery</a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span14 offset1">
                <h3>When user clicks the main button they</h3>
                <?php if ($this->element->selected_trigger_url_type->getValue()
                == 'specified_url'): ?>
                    <div class="clearfix">
                        <ul class="inputs-list">
                            <li>
                                <input type="radio" name="trigger_url_type"
                                       value="no_link">
                                <label>
                                    <span>Stay on page they are currently on</span>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="trigger_url_type"
                                       value="specified_url" checked="checked">
                                <label>
                                    <div class="fl">Go to this location on my
                                        site:
                                    </div>
                                    <div class="input-prepend">
                                        <span class="add-on">http://<?php echo $this->element->site_url->getValue(
                                            ); ?></span>
                                        <?php echo $this->element->trigger_url; ?>
                                    </div>
                                </label>

                            </li>
                        </ul>
                    </div>
                <?php else: ?>
                <div class="clearfix">
                    <ul class="inputs-list">
                        <li>
                            <input type="radio" name="trigger_url_type"
                                   value="no_link" checked="checked">
                            <label>
                                <span>Stay on page they are currently on</span>
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="trigger_url_type"
                                   value="specified_url">
                            <label>
                                <div class="fl">Go to this location on my
                                    site:
                                </div>
                                <div class="input-prepend"
                                ">
                                <span class="add-on">http://<?php echo $this->element->site_url->getValue(
                                    ); ?></span>
                                <?php echo $this->element->trigger_url; ?>
                </div>
                </label>

                </li>
                </ul>
            </div>

            <?php endif; ?>

        </div>
        </div>

        <div class="row">
            <div class="span14 offset1">
                <h3>When does this campaign run ?</h3>
                <div class="row">
                    <div class="span4">
                        <div class="clearfix">
                            <label style="width:80px;" for="start_date"
                                   class="required">Start date:</label>
                            <?php echo $this->element->start_date; ?>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="clearfix">
                            <label style="width:80px;margin-right:5px;"
                                   for="start_time_hours" class="required">Start
                                time:</label>
                            <?php echo $this->element->start_time_hours; ?>
                            :<?php echo $this->element->start_time_minutes; ?>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="clearfix">
                            Your timezone: <b><?php echo Zend_Registry::get(
                                    'Timezone'
                                ); ?></b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <div class="clearfix">
                            <label style="width:80px;" for="end_date"
                                   class="required">End date:</label>
                            <?php echo $this->element->end_date; ?>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="clearfix">
                            <label style="width:80px;margin-right:5px;"
                                   for="end_time_hours" class="required">End
                                time:</label>
                            <?php echo $this->element->end_time_hours; ?>
                            :<?php echo $this->element->end_time_minutes; ?>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="clearfix" id="competition_length_container">
                            Your competition runs for:
                            <b><?php echo $this->element->competition_length->getValue(
                                ); ?> days</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span14 offset1">
                <div class="actions"
                     style="padding: 0 0 5px 0; margin-top: 40px;">
                    <div style="float:left;  margin-top: 30px; margin-left: 20px;">
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'dashboard',
                                  'action'         => 'competition',
                                  'competition_id' => $this->element->competition_id->getValue(
                                  )), null, true
                        ); ?>">&larr; Campaign Control</a></div>
                    <div style="margin-left:430px;">
                        <?php if ($this->element->start_date->getValue()
                            != null
                        ): ?>
                            <?php echo $this->element->save; ?>
                            <a href="<?php echo $this->url(
                                array('module'         => 'user',
                                      'controller'     => 'payment',
                                      'action'         => 'bypass',
                                      'competition_id' => $this->element->competition_id->getValue(
                                      )), null, true
                            ) ?>" class="btn success large">Publish</a>
                        <?php else: ?>
                            <?php echo $this->element->save; ?>
                            <a href="#"
                               class="btn success large disabled btn-publish"
                               rel="popover" data-placement="right"
                               data-content="You need to save each step of the configuration before you can publish"
                               data-original-title="Complete setup first">Publish</a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <?php echo $this->element->competition_images_gallery; ?>
    <?php echo $this->element->primary_highlight_color; ?>
    <?php echo $this->element->primary_background_color; ?>
    <?php echo $this->element->primary_font_color; ?>
    <?php echo $this->element->primary_border_color; ?>
    <?php echo $this->element->primary_button_color; ?>
    <?php echo $this->element->primary_button_font_color; ?>
    <?php echo $this->element->primary_header_color; ?>
    <?php echo $this->element->primary_button_gradient_1; ?>
    <?php echo $this->element->primary_button_gradient_2; ?>
    <?php echo $this->element->theme_id; ?>
    <?php echo $this->element->competition_id; ?>
    <?php echo $this->element->site_url; ?>
    <?php echo $this->element->selected_trigger_url_type; ?>
    <?php echo $this->element->competition_length; ?>
</form>