<!-- Page title -->
<div id="pagetitle">
    <h1>Campaign Setup</h1>
    <?php if ($this->competition->campaign_comp_status == CAMPAIGN_STATUS_NEW
        || $this->competition->campaign_comp_status
        == CAMPAIGN_STATUS_INPROGRESS
    ): ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'conditions', 'parentView' => $this,
                  'showStepsNumbers' => true)
        ); ?>
    <?php else: ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'conditions', 'parentView' => $this,
                  'showStepsNumbers' => false)
        ); ?>
    <?php endif; ?>
</div>
<!-- End of Page title -->


<div class="container">
    <div class="containerinner">

        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>Terms and Conditions</h2>
                    <div class="help fr">
                        <a href="#" class="data-controls-modal"
                           data-controls-modal="help_popup" data-backdrop="true"
                           data-keyboard="true">Help</a></div>
                    <?php if ($this->isLocked == true): ?>
                        <img src="<?php echo Zend_Controller_Front::getInstance(
                        )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                        This competition is complete
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>

    <?php if ($this->showTopErrorBox == true): ?>
        <div class="row">
            <div class="span14 offset1">
                <div class="box box-error">Please check errors and try again
                </div>
            </div>
        </div>
    <?php endif; ?>

    <?php echo $this->form; ?>

    <?php echo $this->partial(
        "competitions/popups.phtml", array('parentView' => $this)
    ); ?>

    <div id="preview_condition_popup" class="modal hide fade">
        <div class="modal-header row">

            <div id='popup_header_container' class="span6"></div>
            <div class="span2">
                <input type="button" class="btn btn-blue" value="Use this terms"
                       onclick="useThisTerms(); return false;">
            </div>
            <div class="span1">
                <a href="#" class="close">&times;</a>
            </div>
        </div>
        <div class="modal-body">
            <div id='popup_content_container'></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn secondary close">Close</a>
        </div>
    </div>

</div>
</div>

<!-- End of Wrapper -->
<script type="text/javascript">
    var getPreviewDataUrl = '<?php echo $this->url(
        array('module' => 'user', 'controller' => 'competitions',
              'action' => 'preview-condition'), null, true
    );?>';
    var competitionId = '<?php echo $this->competitionId; ?>';

    $(function () {
        $('#preview_condition_popup').dialog({
            title: '',
            autoOpen: false,
            height: 500,
            width: 800,
            modal: true
        });
    });

    function previewCondition() {
        var conditionSampleId = $('#condition_sample_id').val();

        $.ajax({
            url: getPreviewDataUrl,
            dataType: 'json',
            data: 'condition_sample_id=' + conditionSampleId + '&competition_id=' + competitionId,
            success: previewConditionCompleted
        });
    }

    function previewConditionCompleted(result) {

        var headerContent = '<h3>Sample terms - ' + result.condition_name + '</h3>';
        var content = result.condition_content;

        $('#popup_header_container').empty();
        $('#popup_header_container').append(headerContent);
        $('#popup_content_container').empty();
        $('#popup_content_container').append(content);
        //$('#preview_condition_popup').dialog('open');
    }

    function useThisTerms() {
        var sampleConditionContent = $('#popup_content_container').html();

        $('#condition_content').wysiwyg('clear');
        $('#condition_content').wysiwyg('insertHtml', sampleConditionContent);

        //$('#preview_condition_popup').dialog('close');
        $('#preview_condition_popup').modal('hide');
    }
</script>
</div>