<div class="configsteps top_competition_menu">
    <?php if ($this->showStepsNumbers == true): ?>
        <ul class="configsteps">
            <?php if ($this->selected == 'look'): ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'look',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>" class="selected"><span
                                class="label label-blue">1</span>&nbsp;Look and
                        Feel</a>
                </li>
            <?php else: ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'look',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"><span class="label label-silver">1</span>&nbsp;Look
                        and Feel</a>
                </li>
            <?php endif; ?>
            <?php if ($this->selected == 'questions'): ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'questions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>" class="selected"><span
                                class="label label-blue">2</span>&nbsp;Entry
                        Settings</a>
                </li>
            <?php else: ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'questions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"><span class="label label-silver">2</span>&nbsp;Entry
                        Settings</a>
                </li>
            <?php endif; ?>
            <?php if ($this->selected == 'conditions'): ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'conditions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>" class="selected"><span
                                class="label label-blue">3</span>&nbsp;Terms &
                        Conditions</a>
                </li>
            <?php else: ?>
                <li>
                    <a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'conditions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"><span class="label label-silver">3</span>&nbsp;Terms &
                        Conditions</a>
                </li>
            <?php endif; ?>
        </ul>
    <?php else: ?>
        <table class="top_competition_menu">
            <tr>
                <?php if ($this->selected == 'look'): ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'look',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>" class="selected">Look and Feel</a>
                    </td>
                <?php else: ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'look',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>">Look and Feel</a>
                    </td>
                <?php endif; ?>
                <?php if ($this->selected == 'questions'): ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'questions',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>" class="selected">Entry Settings</a>
                    </td>
                <?php else: ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'questions',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>">Entry Settings</a>
                    </td>
                <?php endif; ?>
                <?php if ($this->selected == 'conditions'): ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'conditions',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>" class="selected">Terms & Conditions</a>
                    </td>
                <?php else: ?>
                    <td>
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'conditions',
                                  'competition_id' => $this->parentView->competitionId),
                            null, true
                        ) ?>">Terms & Conditions</a>
                    </td>
                <?php endif; ?>
            </tr>
        </table>
    <?php endif; ?>

</div>