<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?> &rarr;
            <span><?php echo $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper-wide">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'theme',
                              'competition_id' => $this->competitionId), null,
                        true
                    ) ?>"><span><b>1.</b>&nbsp;&nbsp;Theme</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'edit',
                              'competition_id' => $this->competitionId), null,
                        true
                    ) ?>"><span><b>2.</b>&nbsp;&nbsp;</b>Competition</span></a>
                </li>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'locations',
                              'competition_id' => $this->competitionId), null,
                        true
                    ) ?>"><span><b>3.</b>&nbsp;&nbsp;Coin locations</span></a>
                </li>
                <li class=""><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'questions',
                              'competition_id' => $this->competitionId), null,
                        true
                    ) ?>"><span><b>4.</b>&nbsp;&nbsp;Questions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'summary',
                              'competition_id' => $this->competitionId), null,
                        true
                    ) ?>"><span><b>5.</b>&nbsp;&nbsp;Summary and checkout</span></a>
                </li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <?php if ($this->isLocked == true): ?>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="80%">
                                    <h3>Token Locations</h3>
                                </td>
                                <td width="5%">
                                    <img src="<?php echo Zend_Controller_Front::getInstance(
                                    )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                                </td>
                                <td width="15%" class="lock_label">
                                    Readonly
                                </td>
                            </tr>
                        </table>
                    <?php else: ?>
                        <h3>Token Locations</h3>
                    <?php endif; ?>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <header>

                    <h3>Site Locations</h3>
                </header>
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedLocations, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <?php echo $this->form(
                        'list_form', array('action' => $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'delete_locations',
                              'competition_id' => $this->competitionId), null,
                        true
                    ), 'method'                     => 'post'), false
                    ); ?>
                    <table class="display stylized full">
                        <thead>
                        <tr>
                            <th style="width: 50%;">Type</th>
                            <th style="width: 30%;">Match Text</th>
                            <th style="width: 10%;">Edit</th>
                            <th style="width: 10%;">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedLocations as $location):
                            ?>
                            <tr>
                                <td>
                                    <?php if ($location->location_type
                                        == 'page_url'
                                    ): ?>
                                        <b>URL:</b>&nbsp;<?php echo $location->page_url; ?>
                                    <?php elseif ($location->location_type
                                        == 'regular_expression'
                                    ): ?>
                                        <b>RE:</b>&nbsp;< <?php echo $location->regex; ?> >
                                    <?php else: ?>
                                        <b>Default</b>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $location->match_text; ?></td>
                                <?php if ($this->isLocked != true): ?>
                                    <td><a href="<?php echo $this->url(
                                            array('module'         => 'user',
                                                  'controller'     => 'competitions',
                                                  'action'         => 'locations',
                                                  'competition_id' => $this->competitionId,
                                                  'location'       => $location->location_id),
                                            null, true
                                        ) ?>">Edit</a></td>
                                    <td><?php echo $this->formCheckbox(
                                            'locations_ids[]',
                                            $location->location_id
                                        ); ?></td>
                                <?php else: ?>
                                    <td>Edit</td>
                                    <td><?php echo $this->formCheckbox(
                                            'locations_ids[]',
                                            $location->location_id,
                                            array('disabled' => 'disabled')
                                        ); ?></td>
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    </form>
                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                    <?php if ($this->isLocked != true): ?>
                        <div class="fr"><a class="btn" href="#"
                                           onclick="$('#list_form').submit(); return false;"><img
                                        alt=""
                                        class="icon icon-cancel">Delete</a>
                        </div>
                    <?php endif; ?>
                </section>
            </div>

        </section>
        <!-- Right column/section -->
        <aside class="column width2">
            <div class="content-box">
                <header>
                    <h3>Quick info</h3>
                </header>
                <section>
                    <dl>
                        <dt><?php echo $this->quickInfo->subject; ?></dt>
                        <dd><?php echo $this->quickInfo->body; ?></dd>
                    </dl>
                </section>
            </div>
        </aside>
        <!-- End of Right column/section -->
    </div>
    <script type="text/javascript">
        changeType();

        function changeType() {
            var selectedType = $("#type").val();

            if (selectedType == '<?php echo LOCATION_TYPE_DEFAULT; ?>') {
                //alert($("#regular_expression_container"));
                $("#regular_expression-element").empty();
                $("#regular_expression-label").empty();

                $("#page_url-element").empty();
                //$("#page_url-label").empty();
            }

            if (selectedType == '<?php echo LOCATION_TYPE_REGEXP; ?>') {
                $("#page_url-element").empty();
                //$("#page_url-label").empty();

                if (document.getElementById("regular_expression") == null) {
                    var regularExpressionElement = "<input type=\"text\" class=\"half\" value=\"\" id=\"regular_expression\" name=\"regular_expression\"><p class=\"description\">Enclose regular expression with /&lt;regex&gt/ and escape / correctly with &#92; /</p>";
                    $("#regular_expression-element").append(regularExpressionElement);

                    var regularExpressionElementLabel = "<label class=\"required\" for=\"regular_expression\">Regular Expression:</label>";
                    $("#regular_expression-label").append(regularExpressionElementLabel);
                }
            }

            if (selectedType == '<?php echo LOCATION_TYPE_URL; ?>') {
                $("#regular_expression-element").empty();
                $("#regular_expression-label").empty();

                if (document.getElementById("page_url") == null) {

                    var pageUrlElementLabel = "<label class=\"required\" for=\"page_url\">Page URL:</label><br/>";
                    $("#page_url-element").append(pageUrlElementLabel);

                    var pageUrlElement = "<span class=\"http_label\">http://</span><input type=\"text\" class=\"site_url\" value=\"\" id=\"page_url\" name=\"page_url\">";
                    $("#page_url-element").append(pageUrlElement);
                }
            }
        }
    </script>
    <!-- End of Wrapper -->
</div>