<!-- Page title -->
<div id="pagetitle">
    <h1>Campaign Setup</h1>
    <?php if ($this->competition->campaign_comp_status == CAMPAIGN_STATUS_NEW
        || $this->competition->campaign_comp_status
        == CAMPAIGN_STATUS_INPROGRESS
    ): ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'look', 'parentView' => $this,
                  'showStepsNumbers' => true)
        ); ?>
    <?php else: ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'look', 'parentView' => $this,
                  'showStepsNumbers' => false)
        ); ?>
    <?php endif; ?>
</div>
<!-- End of Page title -->

<div class="container">
    <div class="containerinner">
        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>Look and feel</h2>
                    <div class="help fr">
                        <a href="#" class="data-controls-modal"
                           data-controls-modal="help_popup" data-backdrop="true"
                           data-keyboard="true">Help</a></div>
                    <?php if ($this->isLocked == true): ?>
                        <img src="<?php echo Zend_Controller_Front::getInstance(
                        )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                        This competition is complete
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>

    <?php echo $this->form; ?>

    <?php echo $this->partial(
        "competitions/popups.phtml", array('parentView' => $this)
    ); ?>
    <?php echo $this->partial(
        "competitions/widget_preview.phtml", array('parentView' => $this)
    ); ?>

</div>
</div>
<!-- End of Wrapper -->
<script type="text/javascript">
    var ajaxImageUploadUrl = "<?php echo $this->url(
        array('module' => 'user', 'controller' => 'competitions',
              'action' => 'ajax-image-upload'), null, true
    )?>";
    var ajaxDeleteImageUrl = "<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'ajax-delete-image',
              'competition_id' => $this->competitionId), null, true
    )?>";
    var recalculateCompetitionLengthUrl = "<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'recalculate-competition-length',
              'competition_id' => $this->competitionId), null, true
    )?>";
    var copyGalleryImageUrl = "<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'copy-gallery-image',
              'competition_id' => $this->competitionId), null, true
    )?>";

    jQuery(document).ready(function ($) {
        // We only want these styles applied when javascript is enabled
        $('div.navigation').css({
            'width': '280px',
            height: '300px',
            'float': 'left'
        });
        $('div.content').css('display', 'block');

        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 0.67;
        $('#thumbs ul.thumbs li').opacityrollover({
            mouseOutOpacity: onMouseOutOpacity,
            mouseOverOpacity: 1.0,
            fadeSpeed: 'fast',
            exemptionSelector: '.selected'
        });

        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
            delay: 2500,
            numThumbs: 10,
            preloadAhead: 10,
            enableTopPager: true,
            enableBottomPager: true,
            maxPagesToShow: 7,
            imageContainerSel: '#slideshow',
            controlsContainerSel: '#controls',
            captionContainerSel: '#caption',
            loadingContainerSel: '#loading',
            renderSSControls: false,
            renderNavControls: false,
            playLinkText: '',
            pauseLinkText: '',
            prevLinkText: '',
            nextLinkText: '',
            nextPageLinkText: 'Next &rsaquo;',
            prevPageLinkText: '&lsaquo; Prev',
            enableHistory: false,
            autoStart: false,
            syncTransitions: true,
            defaultTransitionDuration: 900,
            enableKeyboardNavigation: false,
            onSlideChange: function (prevIndex, nextIndex) {
                // 'this' refers to the gallery, which is an extension of $('#thumbs')
                //var fileName = this.find('ul.thumbs').children().eq(nextIndex).find('a.thumb').attr('id');
                //$('#theme_id').val(themeId);

                //alert(fileName);

                this.find('ul.thumbs').children()
                    .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                    .eq(nextIndex).fadeTo('fast', 1.0);
            },
            onPageTransitionOut: function (callback) {
                this.fadeTo('fast', 0.0, callback);
            },
            onPageTransitionIn: function () {
                this.fadeTo('fast', 1.0);
            }
        });
    });


    $(function () {
        reloadLightbox();

        $("#start_date").datepicker({
            dateFormat: '<?php echo $this->dateformat; ?>',
            minDate: 0,
            maxDate: '+2m'
        });

        $("#end_date").datepicker({
            dateFormat: '<?php echo $this->dateformat; ?>',
            <?php if ($this->competition->getCampaign_Comp_Status()
        == CAMPAIGN_STATUS_RUNNING): ?>
            minDate: '-2m',
            <?php else: ?>
            minDate: 0,
            <?php endif; ?>
            maxDate: '+2m'
        });

        /*$('#days_help_popup').dialog({
            title: 'Quick info',
            autoOpen: false,
            width: 400,
            modal: true
        });*/

        assignColorPicker('highlight_color_selector', 'primary_highlight_color');
        assignColorPicker('background_color_selector', 'primary_background_color');
        assignColorPicker('font_color_selector', 'primary_font_color');
        assignColorPicker('border_color_selector', 'primary_border_color');
        assignColorPicker('button_color_selector', 'primary_button_color');
        assignColorPicker('button_font_color_selector', 'primary_button_font_color');
    });

    function reloadLightbox() {
        $("a.lightbox").lightBox({
            imageLoading: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-ico-loading.gif",
            imageBtnClose: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-close.gif",
            imageBtnPrev: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-prev.gif",
            imageBtnNext: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-next.gif",
            imageBlank: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-blank.gif"
        });
    }

    function chooseImage(imageName) {
        $.ajax({
            url: copyGalleryImageUrl,
            dataType: 'json',
            data: 'image_name=' + imageName,
            success: chooseImageCompleted
        });
    }

    function chooseImageCompleted(result) {
        //alert(result.error);

        if (result.error != true) {
            $('#full_image_path').val(result.image_url).change();
        }

        $('#gallery_popup').modal('hide');
    }

    function assignColorPicker(divId, inputId) {

        if ($('#' + inputId).val() != null) {
            var color = $('#' + inputId).val();
        } else {
            var color = '#0000ff';
        }

        $('#' + divId).ColorPicker({
            color: color,
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('#' + divId + ' div').css('backgroundColor', '#' + hex);
                $('#' + inputId).val('#' + hex).change();
            }
        });
    }

    function showHideUploadBox(show) {
        if (show == true) {
            $('#upload_image_box').show();
        } else {
            $('#upload_image_box').hide();
        }
    }

    function uploadImage() {
        $('#loaded_image_container').empty();
        var loadingBarImage = '<img src="<?php echo Zend_Controller_Front::getInstance(
        )->getBaseUrl(); ?>/img/loader.gif" alt="Uploading...."/>';
        $('#loaded_image_container').append(loadingBarImage);

        $("#look_form").ajaxForm({
            url: ajaxImageUploadUrl,
            dataType: 'json',
            success: uploadImageCompleted

        }).submit();
    }

    function uploadImageCompleted(result) {
        $('#loaded_image_container').empty();

        if (result.error == false) {
            $('#success_message_container').empty();
            $('#image_file').parent().find('ul.errors').empty();

            var successMessage = '<div class="box box-success">Uploaded Successfully</div>';
            $('#success_message_container').append(successMessage);

            $('#success_message_container').delay(3000).queue(function () {
                $('#success_message_container').empty();
                //$('#upload_image_box').hide();
                //$('#show_image').attr('checked', false);
            });

            $('#full_image_path').val(result.image_url).change();

        } else {
            var errorMessage = '<li>' + result.error_message + '</li>';
            $('#image_file').parent().find('ul.errors').append(errorMessage);
        }

        $("#look_form").ajaxFormUnbind();
    }

    function deleteImage(ownerId, imageName) {
        $.ajax({
            url: ajaxDeleteImageUrl,
            dataType: 'json',
            data: 'owner_id=' + ownerId + '&image_name=' + imageName,
            success: deleteImageCompleted
        });
    }

    function deleteImageCompleted() {
        $('#loaded_image_container').empty();
        $('#image_data_container').empty();

        var emptyImage = '<img src="<?php echo Zend_Controller_Front::getInstance(
        )->getBaseUrl(); ?>/img/preview-not-available.gif" alt=""/>';
        $('#loaded_image_container').append(emptyImage);
    }

    function recalculateCompetitionLength() {
        $.ajax({
            url: recalculateCompetitionLengthUrl,
            dataType: 'json',
            data: $('#look_form').serialize(),
            success: recalculateCompetitionLengthCompleted
        });
    }

    function recalculateCompetitionLengthCompleted(result) {
        $('#competition_length_container').empty();
        $('#competition_length_container').append('Your competition runs for: <b>' + result.competition_length + ' days</b>');
    }

</script>