<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?> &rarr;
            <span><?php echo $this->site->site_url; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "competitions/step_navigation.phtml",
                    array('selected' => 'summary', 'parentView' => $this)
                ); ?>
            <?php else: ?>
                <?php echo $this->partial(
                    "competitions/simple_navigation.phtml",
                    array('selected' => 'summary', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Success</h3>
                </header>
                <section class="content-box-table">
                    <h3><?php echo $this->pageContent->subject; ?></h3>
                    <?php echo $this->pageContent->body; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>