<div id="help_popup" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3><?php echo $this->parentView->quickInfo->subject; ?></h3>
    </div>
    <div class="modal-body">
        <p><?php echo $this->parentView->quickInfo->body; ?></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn secondary close">Close</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        <?php if ($this->parentView->isRunning == true): ?>
        $('form').submit(function () {
            return confirm('<?php echo EDIT_COMPETITION_CONFIRM; ?>');
        });
        <?php endif; ?>
    });


</script>