<!-- Page title -->
<div id="pagetitle">
    <h1>Campaign Setup</h1>
    <?php if ($this->competition->campaign_comp_status == CAMPAIGN_STATUS_NEW
        || $this->competition->campaign_comp_status
        == CAMPAIGN_STATUS_INPROGRESS
    ): ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'questions', 'parentView' => $this,
                  'showStepsNumbers' => true)
        ); ?>
    <?php else: ?>
        <?php echo $this->partial(
            "competitions/configure_steps.phtml",
            array('selected'         => 'questions', 'parentView' => $this,
                  'showStepsNumbers' => false)
        ); ?>
    <?php endif; ?>
</div>
<!-- End of Page title -->

<div class="container">
    <div class="containerinner">
        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>User entry process</h2>
                    <div class="help fr">
                        <a href="#" class="data-controls-modal"
                           data-controls-modal="help_popup" data-backdrop="true"
                           data-keyboard="true">Help</a></div>

                    <?php if ($this->isLocked == true): ?>
                        <img src="<?php echo Zend_Controller_Front::getInstance(
                        )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                        This competition is complete
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <?php if ($this->showTopErrorBox == true): ?>
            <div class="row">
                <div class="span14 offset1">
                    <div class="alert-message block-message error">Please check
                        errors and try again
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php echo $this->form; ?>
        <?php echo $this->partial(
            "competitions/popups.phtml", array('parentView' => $this)
        ); ?>


        <div id="providers_popup" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Configure your email marketing provider</h3>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left: -5px;">
                    <div class="span8">
                        <div class="clearfix">
                            <label>Select provider:</label><select
                                    id="providers_list"
                                    onchange="changeProvider(this.value); return false;"></select>
                        </div>
                        <div class="alert-message block-message warning"
                             id="connection_error_box"
                             style="display: none;margin-top:10px;">Connection
                            to provider failed. Please check credentials and try
                            again.
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: -5px;">
                    <div class="span8">
                        <h6 id="provider_name_container"></h6>
                    </div>
                </div>
                <div class="row" style="margin-left: -5px;">
                    <div class="span8 well">
                        <div id="connection_panel_container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn secondary close">Close</a>
            </div>
        </div>

    </div>
</div>

<!-- End of Wrapper -->
<script type="text/javascript">
    var getProvidersUrl = '<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'get-providers-list',
              'competition_id' => $this->competitionId), null, true
    );?>';
    var getConnectionPanelUrl = '<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'get-connection-panel',
              'competition_id' => $this->competitionId), null, true
    );?>';
    var getConfigurationPanelUrl = '<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'get-configuration-panel',
              'competition_id' => $this->competitionId), null, true
    );?>';
    var testProviderConnectionUrl = '<?php echo $this->url(
        array('module'         => 'user', 'controller' => 'competitions',
              'action'         => 'test-provider-connection',
              'competition_id' => $this->competitionId), null, true
    );?>';

    var selectedProviderId = null;
    var selectedFormData = null;

    $('#providers_popup').bind('show', function () {
        providersPopupView();
    })

    function populateForm() {
        var formData = '';

        <?php if ($this->mailProviderId != null): ?>
        selectedProviderId = '<?php echo $this->mailProviderId; ?>';
        <?php endif; ?>
        <?php if ($this->apiKey != null): ?>
        formData += 'api_key=<?php echo $this->apiKey; ?>';
        <?php endif; ?>
        <?php if ($this->username != null): ?>
        formData += '&username=<?php echo $this->username; ?>';
        <?php endif; ?>
        <?php if ($this->password != null): ?>
        formData += '&password=<?php echo $this->password; ?>';
        <?php endif; ?>
        <?php if ($this->mailListId != null): ?>
        formData += '&mail_list_id=<?php echo $this->mailListId; ?>';
        <?php endif; ?>
        //alert(formData);

        if (formData != '' && selectedProviderId != null) {
            selectedFormData = formData;
            showConfigurationPanel();
        }
    }

    function showHideProvidersLink(userDetailsType) {
        if (userDetailsType == 'send_emails') {
            $('#providers_link_container').show();
        } else {
            $('#providers_link_container').hide();
        }
    }

    function providersPopupView() {
        $.ajax({
            url: getProvidersUrl,
            dataType: 'json',
            success: providersPopupCompleted
        });
    }

    function providersPopupCompleted(result) {

        $('#providers_list').empty();

        for (var i = 0; i < result.length; i++) {
            $('#providers_list').append(new Option(result[i].title, result[i].id));
        }

        changeProvider(result[0].id);

    }

    function changeProvider(providerId) {
        selectedProviderId = providerId;

        $('#connection_panel_container').empty();

        var loadingMessage = '<span>Loading ... </span>';
        $('#connection_panel_container').append(loadingMessage);

        $.ajax({
            url: getConnectionPanelUrl,
            data: 'provider_id=' + providerId,
            success: changeProviderCompleted
        });
    }

    function changeProviderCompleted(result) {
        $('#connection_panel_container').empty();
        $('#connection_panel_container').append(result);
    }

    function testProviderConnection() {
        $('#test_connection_button').val('Loading ... ');
        $('#test_connection_button').addClass('disabled');

        var formData = $('#connection_form').serialize();
        selectedFormData = formData;
        var isValid = true;

        var inputs = $('input:text, input:password', '#connection_form');
        for (var i = 0; i < inputs.length; i++) {

            var input = $('#' + inputs[i].id);

            if (input.val() == '') {
                var errorMessage = '<ul class="errors"><li>Value is required and can\'t be empty</li></ul>';
                input.parent().append(errorMessage);

                isValid = false;
            }
        }

        if (isValid == true) {
            $.ajax({
                url: testProviderConnectionUrl,
                data: formData + '&provider_id=' + selectedProviderId,
                dataType: 'json',
                success: testProviderConnectionCompleted
            });
        } else {
            $('#test_connection_button').val('Connect');
            $('#test_connection_button').removeClass('disabled');
        }
    }

    function testProviderConnectionCompleted(result) {

        $('#test_connection_button').val('Connect');
        $('#test_connection_button').removeClass('disabled');

        if (result == false) {
            $('#connection_error_box').show();
            $(':input', '#connection_form').not(':button, :submit, :reset, :hidden').val('');
        } else {
            $('#connection_error_box').hide();
            //$('#providers_popup').dialog('close');
            $('#providers_popup').modal('hide');

            showConfigurationPanel();
        }
    }

    function showConfigurationPanel() {
        $.ajax({
            url: getConfigurationPanelUrl,
            data: selectedFormData + '&provider_id=' + selectedProviderId,
            success: showConfigurationPanelCompleted
        });
    }

    function showConfigurationPanelCompleted(result) {
        $('#configuration_panel_container').empty();
        $('#configuration_panel_container').append(result);
    }


    function allowSkillQuestion() {
        if ($('#skill_question_container').is(":hidden")) {
            $('#skill_question_container').show();
        } else {
            $('#skill_question_container').hide();
        }
    }

    function allowMultipleChoiceQuestion() {
        if ($('#multiple_choice_question_container').is(":hidden")) {
            $('#multiple_choice_question_container').show();
        } else {
            $('#multiple_choice_question_container').hide();
        }
    }

    /*function allowTriggerUrl(urlType) {
        if (urlType == 'specified_url') {
            $('#trigger_url_container').show();
        } else {
            $('#trigger_url_container').hide();
        }
    }

    function allowEntryLink(urlType) {
        if (urlType == 'specified_url') {
            $('#entry_link_container').show();
        } else {
            $('#entry_link_container').hide();
        }
    }*/
</script>