<ul class="nav-a" style="z-index: 2; position: relative;"
    id="simple_navigation">
    <?php if ($this->selected == 'dashboard'): ?>
        <li class="first active"><a href="<?php echo $this->url(
                array('module'         => 'user', 'controller' => 'dashboard',
                      'action'         => 'competition',
                      'competition_id' => $this->parentView->competitionId),
                null, true
            ) ?>"><span><b>&nbsp;</b>Competition dashboard</span></a></li>
    <?php else: ?>
        <li class="first"><a href="<?php echo $this->url(
                array('module'         => 'user', 'controller' => 'dashboard',
                      'action'         => 'competition',
                      'competition_id' => $this->parentView->competitionId),
                null, true
            ) ?>"><span><b>&nbsp;</b>Competition dashboard</span></a></li>
    <?php endif; ?>
    <?php if ($this->selected == 'theme' || $this->selected == 'competition'
    || $this->selected == 'questions'
    || $this->selected == 'conditions'): ?>
<li class="active"><a href="#" class="menu_head active"><span><b>&nbsp;</b>Competition details</span></a>
<?php else: ?>
    <li class=""><a href="#" class="menu_head"><span><b>&nbsp;</b>Competition details</span></a>
        <?php endif; ?>
        <ul class="nav-a">
            <?php if ($this->selected == 'theme'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'theme',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Theme</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'theme',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Theme</a></li>
            <?php endif; ?>
            <?php if ($this->selected == 'competition'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'edit',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Competition</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'edit',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Competition</a></li>
            <?php endif; ?>
            <?php if ($this->selected == 'questions'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'questions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Entry process</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'questions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Entry process</a></li>
            <?php endif; ?>
            <?php if ($this->selected == 'conditions'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'conditions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Terms & Conditions</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'competitions',
                              'action'         => 'conditions',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Terms & Conditions</a></li>
            <?php endif; ?>
        </ul>
    </li>
    <?php if ($this->parentView->allowPromotionModule == true): ?>
        <?php if ($this->selected == 'listing' || $this->selected == 'broadcast'
            || $this->selected == 'offer'
        ): ?>
            <li class="active"><a href="#" class="menu_head active"><span><b>&nbsp;</b>Promotion option</span></a>
        <?php else: ?>
            <li class=""><a href="#" class="menu_head"><span><b>&nbsp;</b>Promotion option</span></a>
        <?php endif; ?>
        <ul class="nav-a">
            <?php if ($this->selected == 'listing'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'listing',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - WinGrin Listing</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'listing',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - WinGrin Listing</a></li>
            <?php endif; ?>
            <?php if ($this->selected == 'broadcast'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'broadcast',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Broadcast</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'broadcast',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Broadcast</a></li>
            <?php endif; ?>
            <?php if ($this->selected == 'offer'): ?>
                <li class="active"><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'offer',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Follow up offers</a></li>
            <?php else: ?>
                <li><a href="<?php echo $this->url(
                        array('module'         => 'user',
                              'controller'     => 'promotion',
                              'action'         => 'offer',
                              'competition_id' => $this->parentView->competitionId),
                        null, true
                    ) ?>"> - Follow up offers</a></li>
            <?php endif; ?>
        </ul>
        </li>
    <?php endif; ?>
</ul>
<br/>
<a href="<?php echo $this->url(
    array('module'         => 'user', 'controller' => 'competitions',
          'action'         => 'summary',
          'competition_id' => $this->parentView->competitionId), null, true
) ?>">View order summary</a>
<script type="text/javascript">
    $(function () {
        jQuery('#simple_navigation').accordion({
            navigation: false,
            header: ".menu_head",
            active: '.active',
            icons: false,
            fillSpace: false

        });
    });
</script>
