<ul class="nav-a" style="z-index: 2; position: relative;">
    <?php if ($this->selected == 'competition'): ?>
<li class="first active">
<?php else: ?>
    <li class="first">
        <?php endif; ?>
        <a href="<?php echo $this->url(
            array('module'         => 'user', 'controller' => 'competitions',
                  'action'         => 'look',
                  'competition_id' => $this->parentView->competitionId), null,
            true
        ) ?>"><span><b>1.</b>&nbsp;&nbsp;Competition setup</span></a>
    </li>
    <?php if ($this->parentView->allowPromotionModule == true): ?>
        <?php if ($this->selected == 'promotion'): ?>
            <li class="active">
        <?php else: ?>
            <li class="">
        <?php endif; ?>
        <a href="<?php echo $this->url(
            array('module'         => 'user', 'controller' => 'promotion',
                  'action'         => 'listing',
                  'competition_id' => $this->parentView->competitionId), null,
            true
        ) ?>"><span><b>2.</b>&nbsp;&nbsp;Competition promotion</span></a>
        </li>
        <?php if ($this->selected == 'summary'): ?>
            <li class="active">
        <?php else: ?>
            <li class="">
        <?php endif; ?>
        <a href="<?php echo $this->url(
            array('module'         => 'user', 'controller' => 'competitions',
                  'action'         => 'summary',
                  'competition_id' => $this->parentView->competitionId), null,
            true
        ) ?>"><span><b>3.</b>&nbsp;&nbsp;Summary and checkout</span></a>
        </li>
    <?php else: ?>
        <?php if ($this->selected == 'summary'): ?>
            <li class="active">
        <?php else: ?>
            <li class="">
        <?php endif; ?>
        <a href="<?php echo $this->url(
            array('module'         => 'user', 'controller' => 'competitions',
                  'action'         => 'summary',
                  'competition_id' => $this->parentView->competitionId), null,
            true
        ) ?>"><span><b>2.</b>&nbsp;&nbsp;Summary and checkout</span></a>
        </li>
    <?php endif; ?>
</ul>