<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?> &rarr;
            <span><?php echo $this->site->site_url; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "competitions/step_navigation.phtml",
                    array('selected' => 'summary', 'parentView' => $this)
                ); ?>
            <?php else: ?>
                <?php echo $this->partial(
                    "competitions/simple_navigation.phtml",
                    array('selected' => 'summary', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Competition summary</h3>
                </header>
                <section class="content-box-table">
                    <table class="full no-style no-border">
                        <tr>
                            <?php if (isset($this->campaignOrder)
                                && $this->campaignOrder->status
                                != ORDER_STATUS_PAYED
                                && $this->isEarlierError == true
                            ): ?>
                                <div class="box box-error">Start date is earlier
                                    then current date
                                </div>
                                <div class="box box-error-msg">
                                    Please configure <a
                                            href="<?php echo $this->url(
                                                array('module'         => 'user',
                                                      'controller'     => 'competitions',
                                                      'action'         => 'edit',
                                                      'competition_id' => $this->competitionId),
                                                null, true
                                            ) ?>">competition</a
                                </div>
                                <br/>
                            <?php endif; ?>
                            <td style="vertical-align: top;">
                                <h4 style="margin-top: 0px;">Competition
                                    summary</h4>
                            </td>
                            <td style="vertical-align: top;">
                                - <?php echo $this->site->site_name; ?>
                                ( <?php echo $this->site->site_url; ?> )
                            </td>
                            <td rowspan="2" style="vertical-align: top;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <?php if ($this->competition->getCampaign_Comp_Start_Date(
                                    ) != null
                                ): ?>
                                    Start date: <?php echo $this->competition->getFormattedStartDate(
                                    ); ?>
                                <?php else: ?>
                                    Start date: Not set
                                <?php endif; ?>
                            </td>
                            <td>
                                Prize
                                name: <?php echo $this->competition->campaign_comp_intro_text; ?>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    <h4>Order summary</h4>
                    <?php if ($this->isThemeSelected == false): ?>
                        Please select theme: <input type="button"
                                                    value="Select theme"
                                                    class="btn btn-blue big"
                                                    onclick="document.location.href = '<?php echo $this->url(
                                                        array('module'         => 'user',
                                                              'controller'     => 'competitions',
                                                              'action'         => 'theme',
                                                              'competition_id' => $this->competitionId),
                                                        null, true
                                                    ); ?>'">
                    <?php elseif ($this->competition->isConfigured()
                        == false
                    ): ?>
                        Please configure competition: <input type="button"
                                                             value="Configure competition"
                                                             class="btn btn-blue big"
                                                             onclick="document.location.href = '<?php echo $this->url(
                                                                 array('module'         => 'user',
                                                                       'controller'     => 'competitions',
                                                                       'action'         => 'edit',
                                                                       'competition_id' => $this->competitionId),
                                                                 null, true
                                                             ); ?>'">
                    <?php elseif ($this->competition->getTrigger_Url_Type()
                        == null
                    ): ?>
                        Please set Primary trigger url and questions: <input
                                type="button" value="Questions"
                                class="btn btn-blue big"
                                onclick="document.location.href = '<?php echo $this->url(
                                    array('module'         => 'user',
                                          'controller'     => 'competitions',
                                          'action'         => 'questions',
                                          'competition_id' => $this->competitionId),
                                    null, true
                                ); ?>'">
                    <?php elseif ($this->competition->getCondition_Id()
                        == null
                    ): ?>
                        Please set Terms & Conditions: <input type="button"
                                                              value="Terms & conditions"
                                                              class="btn btn-blue big"
                                                              onclick="document.location.href = '<?php echo $this->url(
                                                                  array('module'         => 'user',
                                                                        'controller'     => 'competitions',
                                                                        'action'         => 'conditions',
                                                                        'competition_id' => $this->competitionId),
                                                                  null, true
                                                              ); ?>'">
                    <?php else: ?>
                        <table class="full">
                            <tr>
                                <td class="site-list-td"
                                    width="80%"><?php echo $this->campaignOrder->name; ?></td>
                                <td class="site-list-td" width="20%">
                                    $ <?php echo $this->campaignOrder->list_price; ?></td>
                            </tr>
                            <?php if (isset($this->orderOptions)
                                && count(
                                    $this->orderOptions
                                ) > 0
                            ): ?>
                                <?php foreach (
                                    $this->orderOptions as $orderOption
                                ): ?>
                                    <tr>
                                        <td class="site-list-td"
                                            width="80%"><?php echo $orderOption->name; ?></td>
                                        <td class="site-list-td" width="20%">
                                            $ <?php echo $orderOption->list_price; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            <tr>
                                <td width="80%" align="right">Total:</td>
                                <td class="site-list-td" width="20%">
                                    $ <?php echo $this->totalOrderPrice; ?></td>
                            </tr>
                        </table>
                        <?php if ($this->campaignOrder->status
                            != ORDER_STATUS_PAYED
                        ): ?>
                            <br>
                            <div class="tr">I have read and understood <a
                                        href="<?php echo $this->url(
                                            array('module'     => 'user',
                                                  'controller' => 'help',
                                                  'action'     => 'conditions'),
                                            null, true
                                        ); ?>" target="_blank">terms and
                                    conditions</a> <input type="checkbox"
                                                          id="terms"></div>
                            <br>
                            <div class="tr">
                                <?php if ($this->loginedUser->payment_type
                                    == PAYMENT_TYPE_REQUIRED
                                ): ?>
                                    <img src="<?php echo Zend_Controller_Front::getInstance(
                                    )->getBaseUrl(); ?>/img/paypal_btn.gif"
                                         alt="" style="cursor: pointer;"
                                         onclick="checkout('<?php echo $this->url(
                                             array('module'         => 'user',
                                                   'controller'     => 'payment',
                                                   'action'         => 'request',
                                                   'competition_id' => $this->competitionId),
                                             null, true
                                         ) ?>'); return false;"/>
                                <?php elseif ($this->loginedUser->payment_type
                                    == PAYMENT_TYPE_BYPASS
                                ): ?>
                                    <a href="#" class="btn btn-green"
                                       onclick="checkout('<?php echo $this->url(
                                           array('module'         => 'user',
                                                 'controller'     => 'payment',
                                                 'action'         => 'bypass',
                                                 'competition_id' => $this->competitionId),
                                           null, true
                                       ) ?>'); return false;">Create order</a>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </section>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        function checkout(checkoutUrl) {
            if ($("#terms").attr("checked") == true) {
                document.location.href = checkoutUrl;
            } else {
                alert("Please accept the terms and conditions !");
            }
        }

    </script>
    <!-- End of Wrapper -->
</div>