<div id="widget-preview-container">
    <div class="preview_container">
        <div class="preview_containerinner">

            <div class="row" style>
                <div class="span3 campaignsetup">
                    <fieldset>
                        <h3>Preview</h3>
                        <p>When you have finished configuring your widget you
                            can preview it on your site</p>
                        <div class="clearfix" style="margin-top:30px;">
                            <a href="#" class="btn success">Preview on your
                                site</a>
                        </div>
                    </fieldset>
                </div>

                <div class="span6 offset1">
                    <div id="widget-preview">
                        <div class="widget-box">
                            <div class="widget-close">
                                <a href="#" onclick="return false;">X</a>
                            </div>
                            <div class="widget-body">
                                <div class="widget-heading">
                                    <h5 class="widget-font widget-font-highlight">
                                        &nbsp;</h5>
                                </div>
                                <div class="widget-content">
                                    <div class="widget-image fl">
                                        <img alt="&nbsp;" src=""/>
                                    </div>
                                    <div class="widget-text">
                                        <p class="widget-font">&nbsp;</p>
                                        <a href="#" class="widget-button"
                                           onclick="return false;">&nbsp;</a>
                                    </div>
                                    <div class="widget-timer">
                                        <p class="widget-font">Time left to
                                            enter:</p>
                                        <p class="widget-font widget-counter widget-font-highlight">
                                            1 day 15:21:33</p>
                                    </div>
                                    <div class="widget-powered ">
                                        <a href="#" onclick="return false;"
                                           class="widget-font">POWERED BY
                                            WINGRIN</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    /** Widget preview */
    #widget-preview {
        margin-top: 0px;
        -moz-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        background: none repeat scroll 0 0 #FFFFFF;
        border-left: 5px solid #E51D9B;
        min-height: 150px;
        padding: 2px 10px 1px 20px;
        z-index: 999;
        position: relative;
    }

    #widget-preview .widget-close {
        margin-top: 0px;
        -moz-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.27);
        background: none repeat scroll 0 0 #FFFFFF;
        border-left: 5px solid #E51D9B;
        padding: 1px;
        z-index: 999;
        position: absolute;
        top: 0;
        left: -24px;
        width: 18px;
    }

    #widget-preview .widget-close a {
        display: block;
        margin-left: 4px;
        font-size: 14px;
    }

    #widget-preview .widget-heading h5 {
        font-size: 17px;
        line-height: 22px;
        padding: 0;
        color: black;
        font-weight: bold;
        font-family: "Trebuchet MS", sans-serif;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    #widget-preview .widget-text {
        margin-left: 105px;
    }

    #widget-preview .widget-text p {
        font-size: 13px;
        padding: 0;
        color: black;
        font-weight: normal;
        font-family: "Trebuchet MS", sans-serif;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #widget-preview .widget-timer p {
        font-size: 14px;
        padding: 1px;
        color: black;
        font-weight: bold;
        font-family: "Trebuchet MS", sans-serif;
        margin: 10px 0 0 0;
        text-align: left;
    }

    #widget-preview .widget-timer {
        margin-top: 10px;
    }

    #widget-preview .widget-timer p.widget-counter {
        font-size: 16px;
        padding: 1px;
        color: black;
        font-weight: bold;
        font-family: "Trebuchet MS", sans-serif;
        margin: 10px 0 0 0;
        text-align: left;
        display: inline;
    }

    #widget-preview .widget-timer p {
        font-size: 12px;
        padding: 1px;
        color: black;
        font-weight: normal;
        font-family: "Trebuchet MS", sans-serif;
        margin: 0;
        text-align: left;
        display: inline;
    }

    #widget-preview .widget-button {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background-color: #ededed;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        color: #777777;
        font-family: arial;
        font-size: 17px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #ffffff;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        min-width: 100px;
    }

    #widget-preview .widget-powered a {
        font-size: 8px;
        padding: 0px;
        color: black;
        font-weight: normal;
        font-family: "Trebuchet MS", sans-serif;
        margin: 5px 0 0 0;
        text-align: right;
        margin-left: 100px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: right;
        display: block;
    }

    #widget-preview .widget-powered a:hover {
        text-decoration: underline;
    }

    #widget-preview .widget-button:hover, .hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
        background-color: #dfdfdf;
    }

    #widget-preview .widget-button:active {
        position: relative;
        top: 1px;
    }

    #widget-preview .widget-image {
        min-width: 105px;
    }

    .widget-font {
        font-family: "Trebuchet MS", sans-serif;
    }

    .widget-font-highlight {
        color: black;
    }
</style>


<script type="text/javascript">
    $(function () {

        // Attach change events to the hidden inputs and text fields
        // and also fire their change event on load to populate the
        // preview.
        $("#primary_highlight_color").change(function () {
            $('#widget-preview').css('border-left-color', $(this).val());
            $('.widget-close').css('border-left-color', $(this).val());
            $('.widget-close a').css('color', $(this).val());
        }).change();

        $("#primary_background_color").change(function () {
            $('#widget-preview').css('backgroundColor', $(this).val());
            $('.widget-close').css('backgroundColor', $(this).val());
        }).change();

        $("#primary_font_color").change(function () {
            $('.widget-font').css('color', $(this).val());
        }).change();

        $("#primary_button_font_color").change(function () {
            $('.widget-button').css('color', $(this).val());
        }).change();

        $("#primary_border_color").change(function () {
            $('.widget-font-highlight').css('color', $(this).val());
        }).change();


        $("#primary_button_color").change(function () {
            changeButton(false);
        }).change();

        // Attach event to widget button to swap in/out class to show hover
        // effect. Cannot seem to change .widget-button:hover directly.
        $(".widget-button").hover(
            function () {
                changeButton(true);
            },
            function () {
                changeButton(false);
            }
        );


        $("#competition_name").keyup(function () {
            $(".widget-heading h5").text($(this).val());
        }).keyup();


        $("#intro_text").keyup(function () {
            $(".widget-text p").text($(this).val());
        }).keyup();

        $("#get_started_button_text").keyup(function () {
            $(".widget-button").text($(this).val());
        }).keyup();

        $('#primary_font_style').change(function () {
            $(".widget-font").css('font-family', $(this).val());
        }).change();

        $('#primary_font_style').keyup(function () {
            $(".widget-font").css('font-family', $(this).val());
        });

        $('#show_countdown_timer').change(function () {
            if ($(this).is(":checked")) {
                $('.widget-timer').show();
            }
            else {
                $('.widget-timer').hide();
            }
        }).change();

        $('#show_image').change(function () {
            if ($(this).is(":checked")) {
                $('.widget-image').show();
                $('.widget-button').css('margin-left', '0px');
                //$('.widget-timer p').css('margin-left', '105px');
                $('.widget-text').css('margin-left', '105px');
            }
            else {
                $('.widget-image').hide();
                $('.widget-button').css('margin-left', '70px');
                // $('.widget-timer p').css('margin-left', '66px');
                $('.widget-text').css('margin-left', '0px');
            }
        }).change();

        $('#full_image_path').change(function () {
            $('.widget-image img').attr('src', $(this).val());
        }).change();

    });

    var changeButton = function (tohover) {
        var basecolor = $("#primary_button_color").val();
        var darker = darkerColor(basecolor, .1);
        var lighter = lighterColor(basecolor, .2);

        var webkitgradient = "-webkit-gradient( linear, left top, left bottom, color-stop(0.05, " + lighter + "), color-stop(1, " + basecolor + "))";
        var webkitgradienhover = "-webkit-gradient( linear, left top, left bottom, color-stop(0.05, " + basecolor + "), color-stop(1, " + lighter + "))";

        var mozgradient = "-moz-linear-gradient( center top, " + lighter + " 5%, " + basecolor + " 100% )";
        var mozgradienthover = "-moz-linear-gradient( center top, " + basecolor + " 5%, " + lighter + " 100% )";

        var iegradient = "progid:DXImageTransform.Microsoft.gradient(startColorstr='" + lighter + "', endColorstr='" + basecolor + "')";
        var iegradienthover = "progid:DXImageTransform.Microsoft.gradient(startColorstr='" + basecolor + "', endColorstr='" + lighter + "')";

        if (tohover) {
            $('.widget-button').css('background', webkitgradienhover);
            $('.widget-button').css('background', mozgradienthover);
            $('.widget-button').css('filter', iegradienthover);
            $('.widget-button').css('background-color', basecolor);
        }
        else {
            $('.widget-button').css('background-color', lighter);
            $('.widget-button').css('border-color', darker);
            $('.widget-button').css('background', webkitgradient);
            $('.widget-button').css('background', mozgradient);
            $('.widget-button').css('filter', iegradient);
            $('.widget-button').css('text-shadow', '1px 1px 0px ' + darker);
        }
    }

    // Functions to calculate gradients (from stackoverflow).
    // http://stackoverflow.com/questions/1507931/generate-lighter-darker-color-in-css-using-javascript
    var pad = function (num, totalChars) {
        var pad = '0';
        num = num + '';
        while (num.length < totalChars) {
            num = pad + num;
        }
        return num;
    };

    // Ratio is between 0 and 1
    var changeColor = function (color, ratio, darker) {
        // Trim trailing/leading whitespace
        color = color.replace(/^\s*|\s*$/, '');

        // Expand three-digit hex
        color = color.replace(
            /^#?([a-f0-9])([a-f0-9])([a-f0-9])$/i,
            '#$1$1$2$2$3$3'
        );

        // Calculate ratio
        var difference = Math.round(ratio * 256) * (darker ? -1 : 1),
            // Determine if input is RGB(A)
            rgb = color.match(new RegExp('^rgba?\\(\\s*' +
                '(\\d|[1-9]\\d|1\\d{2}|2[0-4][0-9]|25[0-5])' +
                '\\s*,\\s*' +
                '(\\d|[1-9]\\d|1\\d{2}|2[0-4][0-9]|25[0-5])' +
                '\\s*,\\s*' +
                '(\\d|[1-9]\\d|1\\d{2}|2[0-4][0-9]|25[0-5])' +
                '(?:\\s*,\\s*' +
                '(0|1|0?\\.\\d+))?' +
                '\\s*\\)$'
                , 'i')),
            alpha = !!rgb && rgb[4] != null ? rgb[4] : null,

            // Convert hex to decimal
            decimal = !!rgb ? [rgb[1], rgb[2], rgb[3]] : color.replace(
                /^#?([a-f0-9][a-f0-9])([a-f0-9][a-f0-9])([a-f0-9][a-f0-9])/i,
                function () {
                    return parseInt(arguments[1], 16) + ',' +
                        parseInt(arguments[2], 16) + ',' +
                        parseInt(arguments[3], 16);
                }
            ).split(/,/),
            returnValue;

        // Return RGB(A)
        return !!rgb ?
            'rgb' + (alpha !== null ? 'a' : '') + '(' +
            Math[darker ? 'max' : 'min'](
                parseInt(decimal[0], 10) + difference, darker ? 0 : 255
            ) + ', ' +
            Math[darker ? 'max' : 'min'](
                parseInt(decimal[1], 10) + difference, darker ? 0 : 255
            ) + ', ' +
            Math[darker ? 'max' : 'min'](
                parseInt(decimal[2], 10) + difference, darker ? 0 : 255
            ) +
            (alpha !== null ? ', ' + alpha : '') +
            ')' :
            // Return hex
            [
                '#',
                pad(Math[darker ? 'max' : 'min'](
                    parseInt(decimal[0], 10) + difference, darker ? 0 : 255
                ).toString(16), 2),
                pad(Math[darker ? 'max' : 'min'](
                    parseInt(decimal[1], 10) + difference, darker ? 0 : 255
                ).toString(16), 2),
                pad(Math[darker ? 'max' : 'min'](
                    parseInt(decimal[2], 10) + difference, darker ? 0 : 255
                ).toString(16), 2)
            ].join('');
    };
    var lighterColor = function (color, ratio) {
        return changeColor(color, ratio, false);
    };
    var darkerColor = function (color, ratio) {
        return changeColor(color, ratio, true);
    };

</script>