<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <label for="competition_name" class="required">Competition
                    name:</label>
                <?php echo $this->element->competition_name; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <label for="campaign_status" class="required">Status:</label>
                <?php echo $this->element->campaign_comp_status; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <label for="trigger_url" class="required">Load this URL for this
                    question:</label><br/>
                <?php echo $this->element->trigger_url; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <label for="requires_skill_question">Requires Skill Based
                    Question:</label>
                <?php echo $this->element->requires_skill_question; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="rarity">Skill Question:</label>
                <?php echo $this->element->skill_question; ?>
            </td>
        </tr>
        <tr>
            <td>
                <label for="max_words">Max words:</label>
                <?php echo $this->element->max_words; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <label for="intro_text" class="required">Get started
                    message:</label>
                <?php echo $this->element->intro_text; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <label for="max_words">Num Secondary Sidebar Images:</label>
                <?php echo $this->element->num_secondary_sidebar_images; ?>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <h4>Competition Details</h4>
    <hr>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <label for="competition_length" class="required">My competition
                    runs
                    for:</label><?php echo $this->element->competition_length; ?>
                <label>days</label>
            </td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td width="15%">
                <label for="start_date" class="required">Start date:</label>
            </td>
            <td width="20%">
                <?php echo $this->element->start_date; ?>
            </td>
            <td width="15%" align="right">
                <label for="start_time_hours" class="required">Start
                    time:</label>
            </td>
            <td width="20%">
                <?php echo $this->element->start_time_hours; ?>
                :<?php echo $this->element->start_time_minutes; ?>
            </td>
            <td width="30%">
                <label>Your timezone: GMT<?php echo date('P'); ?></label>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right">
                <label for="end_time_hours" class="required">End time:</label>
            </td>
            <td>
                <?php echo $this->element->end_time_hours; ?>
                :<?php echo $this->element->end_time_minutes; ?>
            </td>
            <td>&nbsp;</td>

        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td colspan="2">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->campaign_comp_id; ?>
    <?php echo $this->element->campaign_id; ?>
</form>