<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Configuration &rarr; <span><?php echo $this->campaignName
                    . ':' . $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'edit',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'details',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Post Details</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'questions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Questions</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'competitions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Competitions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'results',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Results</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'testing',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Testing</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Competitions</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <section class="content-box-table">
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->competitionsList as $competition):
                            ?>
                            <tr>
                                <td><?php echo $competition->getFormattedStartDate(
                                    ); ?></td>
                                <td><?php echo $competition->getFormattedEndDate(
                                    ); ?></td>
                                <td><?php echo $this->showCampaignStatus(
                                        $competition->campaign_comp_status
                                    ); ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller'       => 'campaigns',
                                              'action'           => 'competitions',
                                              'id'               => $this->campaignId,
                                              'campaign_comp_id' => $competition->campaign_comp_id),
                                        null, true
                                    ) ?>">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="<?php echo $this->url(
                                        array('controller'       => 'campaigns',
                                              'action'           => 'deletecompetition',
                                              'id'               => $this->campaignId,
                                              'campaign_comp_id' => $competition->campaign_comp_id),
                                        null, true
                                    ) ?>"
                                       onclick="return confirm('Are you sure that you want to delete this competition ?');">Delete</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#start_date").datepicker({
                dateFormat: '<?php echo $this->dateformat; ?>',
                minDate: 0,
                maxDate: '+2m'
            });
        });
    </script>
    <!-- End of Wrapper -->