<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Management</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'add'),
                        null, true
                    ) ?>"><span>Add New</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Search Campaigns</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedCampaigns, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Campaign Name</th>
                            <th>Site</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedCampaigns as $campaign):
                            ?>
                            <tr>
                                <td><?php echo $campaign->campaign_name; ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'sites',
                                              'action'     => 'edit',
                                              'id'         => $campaign->site_id),
                                        null, true
                                    ) ?>"><?php echo $campaign->site_url; ?></a>
                                    <a href="<?php echo $this->prepareUrl(
                                        $campaign->site_url
                                    ); ?>" class="img_link"><img
                                                src="<?php echo Zend_Controller_Front::getInstance(
                                                )->getBaseUrl(
                                                ); ?>/img/external_link.jpg"
                                                alt=""/></a>
                                </td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'campaigns',
                                              'action'     => 'edit',
                                              'id'         => $campaign->campaign_id),
                                        null, true
                                    ) ?>">Edit</a>&nbsp;&nbsp;
                                    |&nbsp;&nbsp;<a href="<?php echo $this->url(
                                        array('controller' => 'campaigns',
                                              'action'     => 'delete',
                                              'id'         => $campaign->campaign_id),
                                        null, true
                                    ) ?>"
                                                    onclick="return confirm('Are you sure that you want to delete this campaign ?');">Delete</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
