<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <?php echo $this->element->type; ?>
            </td>
        </tr>
        <tr>
            <td id="regular_expression-element">
                <?php echo $this->element->regular_expression; ?>
            </td>
        </tr>
        <tr>
            <td id="page_url-element">
                <label for="page_url" class="required">Page url:</label><br/>
                <span class="http_label">http://</span><?php echo $this->element->page_url; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->match_text; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->location_id; ?>
    <?php echo $this->element->campaign_id; ?>
</form>