<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Configuration &rarr; <span><?php echo $this->campaignName
                    . ':' . $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'edit',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'details',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Post Details</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'questions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Questions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'competitions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Competitions</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'results',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Results</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'testing',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Testing</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Messages</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
