<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <br/>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td width="10%">
                <label for="campaign_comp_id">Competition:</label>
            </td>
            <td>
                <?php echo $this->element->campaign_comp_id; ?>
            </td>
        </tr>
        <tr>
            <td width="10%">
                <label for="question_type">Type:</label>
            </td>
            <td>
                <?php echo $this->element->question_type; ?>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend>Multiple Choice</legend>
        <table width="100%" class="full no-style no-border" cellpadding="0"
               cellspacing="0">
            <tr>
                <td>
                    <?php echo $this->element->question; ?>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->answer1; ?>
                </td>
                <td>
                    <label for="answer1_correct">Correct</label><br>
                    <?php echo $this->element->answer1_correct; ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->answer2; ?>
                </td>
                <td>
                    <?php echo $this->element->answer2_correct; ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->answer3; ?>
                </td>
                <td>
                    <?php echo $this->element->answer3_correct; ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->answer4; ?>
                </td>
                <td>
                    <?php echo $this->element->answer4_correct; ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->empty_field; ?>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <?php echo $this->element->question_hint; ?>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <?php echo $this->element->save; ?>
                </td>
            </tr>
        </table>
    </fieldset>
    <?php echo $this->element->question_id; ?>
    <?php echo $this->element->campaign_id; ?>
</form>