<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Configuration &rarr; <span><?php echo $this->campaignName
                    . ':' . $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'edit',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'details',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Post Details</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'questions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Questions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'competitions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Competitions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'results',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Results</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'testing',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Testing</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Add Questions</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <header>
                    <h3>Site Questions</h3>
                </header>
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedQuestions, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <?php echo $this->form(
                        'list_form', array('action' => $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'delete_questions',
                              'id'         => $this->campaignId), null, true
                    ), 'method'                     => 'post'), false
                    ); ?>
                    <table class="display stylized full">
                        <thead>
                        <tr>
                            <th style="width: 50%;">Question <img
                                        src="<?php echo Zend_Controller_Front::getInstance(
                                        )->getBaseUrl(
                                        ); ?>/img/datatable/sort_both.png"
                                        alt="" width="19px" height="19px"/></th>
                            <th style="width: 30%;">Type</th>
                            <th style="width: 10%;">Edit</th>
                            <th style="width: 10%;">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedQuestions as $question):
                            ?>
                            <tr>
                                <td><?php echo $question->question; ?></td>
                                <td>Multiple Choice</td>
                                <td><a href="<?php echo $this->url(
                                        array('controller' => 'campaigns',
                                              'action'     => 'questions',
                                              'id'         => $this->campaignId,
                                              'question'   => $question->question_id),
                                        null, true
                                    ) ?>">Edit</a></td>
                                <td><?php echo $this->formCheckbox(
                                        'questions_ids[]',
                                        $question->question_id
                                    ); ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    </form>
                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                    <div class="fr"><a class="btn" href="#"
                                       onclick="$('#list_form').submit(); return false;"><img
                                    alt="" class="icon icon-cancel">Delete</a>
                    </div>
                </section>
            </div>

        </section>
    </div>
    <!-- End of Wrapper -->