<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Results &rarr; <span><?php echo $this->campaignName . ':'
                    . $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'edit',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'details',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Post Details</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'questions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Questions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'competitions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Competitions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'results',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Results</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'testing',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Testing</span></a></li>
            </ul>
            <?php echo $this->publishWinnersBox; ?>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Campaign Results</h3>
                </header>
                <section class="content-box-table">
                    <h4>Competitions</h4>
                    <hr/>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Competition ID</th>
                            <th>Competition Name</th>
                            <th>Site</th>
                            <th>Entries</th>
                            <th>Results</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->competitionsList as $competition):
                            ?>
                            <tr>
                                <td><?php echo $competition->campaign_comp_id; ?></td>
                                <td><?php echo $competition->campaign_comp_name; ?></td>
                                <td><a href="<?php echo $this->prepareUrl(
                                        $competition->site_url
                                    ); ?>"><?php echo $competition->site_url; ?></a>
                                </td>
                                <td><?php echo $competition->total_entries; ?></td>
                                <td id="competition_container_<?php echo $competition->campaign_comp_id; ?>"><?php echo $this->showDownloadCsvLink(
                                        $this->campaignId,
                                        $competition->campaign_comp_id
                                    ); ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </section>
                <?php echo $this->form(
                    'list_form', array('action' => $this->url(
                    array('controller' => 'campaigns', 'action' => 'results'),
                    null, true
                ), 'method'                     => 'post'), false
                ); ?>
                <section class="content-box-table">
                    <h4>Winners</h4>
                    <hr/>
                    <?php echo $this->formHidden(
                        'campaign_id', $this->campaignId
                    ); ?>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Competition ID</th>
                            <th>Competition Name</th>
                            <th>Winners</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->competitionsList as $competition):
                            ?>
                            <tr>
                                <td style="vertical-align: top;"><?php echo $competition->campaign_comp_id; ?></td>
                                <td style="vertical-align: top;"><?php echo $competition->campaign_comp_name; ?></td>
                                <td><?php echo $this->formTextarea(
                                        'winners_ids['
                                        . $competition->campaign_comp_id . ']',
                                        $competition->winner_id,
                                        array('rows' => 4)
                                    ); ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <p class="ta-right"><input type="submit"
                                               class="btn btn-green big"
                                               value="Update"/>&nbsp;&nbsp;&nbsp;<input
                                type="button" class="btn btn-red big"
                                value="Close Campaign"/></p>

                </section>
                </form>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
    <script type="text/javascript">
        var generateCSVUrl = '<?php echo $this->url(
            array('controller' => 'campaigns', 'action' => 'generatecsv'), null,
            true
        );?>';
        var downloadCSVUrl = '<?php echo $this->url(
            array('controller' => 'campaigns', 'action' => 'downloadcsv'), null,
            true
        );?>';
        var competitionBlockId = '';
        var campaignId = '';
        var competitionId = '';

        function generateCSV(argCampaignId, argCompetitionId) {
            campaignId = argCampaignId;
            competitionId = argCompetitionId;
            competitionBlockId = '#competition_container_' + competitionId;

            $.ajax({
                url: generateCSVUrl,
                dataType: 'json',
                data: 'id=' + campaignId + '&campaign_comp_id=' + competitionId,
                success: generateCSVCompleted
            });
        }

        function generateCSVCompleted(result) {
            if (result.error == 0) {
                $(competitionBlockId).empty();

                var url = downloadCSVUrl + '/id/' + campaignId + '/campaign_comp_id/' + competitionId;
                var downloadLink = '<a href=' + url + '>Download</a>';
                $(competitionBlockId).append(downloadLink);
            }
        }

    </script>
