<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Campaign Configuration &rarr; <span><?php echo $this->campaignName
                    . ':' . $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns', 'action' => 'edit',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'details',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Post Details</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'questions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Questions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'competitions',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Competitions</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'results',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Results</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'campaigns',
                              'action'     => 'testing',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Testing</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Test mode</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->testModeContent->body; ?><br/><br/>
                    <?php if ($this->site->sidebar_script_active == 0): ?>
                        <div class="box box-warning">Warning: Wingrin widget has
                            not been detected for this site. Have you installed
                            the code ?
                        </div>
                        <br/>
                        <div class="tc">
                            <?php if ($this->campaign->test_mode_id != null): ?>
                                <a href="<?php echo $this->testUrlPrefix; ?>/Session/test/<?php echo $this->campaign->external_campaign_id; ?>/<?php echo $this->campaign->test_mode_id ?>"
                                   target="_blank" class="btn btn-green">Go to
                                    my site</a>&nbsp;
                            <?php else: ?>
                                <a href="#" class="btn btn-grey">Go to my
                                    site</a>&nbsp;
                            <?php endif; ?>
                            <a href="<?php echo $this->url(
                                array('module' => 'user',
                                      'controller' => 'help',
                                      'action' => 'documentation',
                                      'asset_id' => 'uc-help-install-widget'),
                                null, true
                            ) ?>" class="btn">Go to installation
                                instructions</a>
                        </div>
                    <?php else: ?>
                        <div class="tc">
                            <a href="<?php echo $this->testUrlPrefix; ?>/Session/test/<?php echo $this->campaign->external_campaign_id; ?>/<?php echo $this->campaign->test_mode_id ?>"
                               target="_blank" class="btn btn-green">Go to my
                                site</a>&nbsp;
                        </div>
                    <?php endif; ?>
                    <script>
                        var as_siteId = "V2SY4qgoGsZgQEtytfsQ";
                    </script>

                    <a href="javascript:(function(){window.__wc_base='http://wingrin.localhost/';var%20d=document;var%20s=d.createElement('script');s.setAttribute('src',__wc_base+'campaign/client/wingrin.js');s.setAttribute('type','text/javascript');d.body.appendChild(s);void(0);})()">
                        test</a>
                </section>
            </div>
        </section>

    </div>
    <!-- End of Wrapper -->
