<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>System settings</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('controller' => 'settings',
                              'action'     => 'messages',
                              'id'         => $this->campaignId), null, true
                    ) ?>"><span>Messages</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Message Defaults</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
