@import url(http://fonts.googleapis.com/css?family=Amaranth:400&v2);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&v2);

.as-sidebar, .as-sidebar div, .as-sidebar span, .as-sidebar p,
.as-dialog-box, .as-dialog-box div, .as-dialog-box span, .as-dialog-box p,
.as-frame, .as-frame div, .as-frame span, .as-frame p {
    font: 12px "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-align: left !important;
    color: #5F4954;
}

.as-ad-image {
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.as-dialog-box {
    background: url(s/g/tb-tb.png) no-repeat #f9cdad;
    border-width: 1px;
    border-style: solid;
    border-color: #028db1 #7b8952 #7b8952;

    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;

    width: 190px;

    position: absolute;
    padding: 45px 5px 10px;
    line-height: 110%;
    color: #000000;
    z-index: 99999;
}

.as-dialog-box-close {
    background: url(s/g/tb-tb-c.png) no-repeat;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
}

.as-dialog-box-close:hover {
    background-position: left bottom;
}

* html .as-sidebar {
    position: absolute;
}

.as-sidebar {
    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;

    color: #574934;

    position: fixed;
    right: 0%;
    top: 50%;
    /*margin-top: -300px; /* - .as-sidebar (height) / 2 */
    /*background-color: #D3DEC5;*/
    background: url(s/g/wgpbg.png);
    border-right: none;
    width: 220px;
    /*height: 600px;*/
    height: auto;
    border: 1px solid #f4d5e6;
    z-index: 99998;
}

.as-sidebar-content-holder {
    overflow: hidden;
    border: 1px solid #fffbf4;
    background: url(s/g/wgpbg.png);

    width: 220px;
}

.as-sidebar-tag {
    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;
    position: absolute;
    background: url([TAB_URL]) no-repeat;
    width: 50px;
    height: 145px;
    /*margin-top: 257px; /* This must be calculated using (.as-sidebar(height + border-top + border-bottom + padding-top + padding-bottom) - .as-sidebar-tag(height)) / 2 */
    left: 0px;
    top: 0px !important;
    /*background-color: #5D87C2;*/
    z-index: -1;
}

.as-sidebar-content {
    overflow: hidden;
    /*height: 216px;*/
    /*border: 1px solid #fffbf4;
    background: url(s/g/wgpbg.png);*/
    /*padding: 5px;*/
    width: 218px; /*was 208*/
    _width: auto;
    z-index: 1;
}

.as-message input[type="radio"] {
    border: none;
    background: none;
}

.as-message-before-box, .as-message-live-box, .as-message-after-box, .as-message-status, .as-dialog-box-message {
    background: url(s/g/mbg.png) repeat-x #fcfae1;
    width: 186px;
    border-width: 1px;
    border-style: solid;
    border-color: #99977e #cecbab #f9f3e9;
    display: block;
    margin: 10px auto;
    padding: 5px;
[ COUNTDOWN_TIMER_VISIBILITY ]
}

.as-message {
    background: none repeat scroll 0 0 #FFF3F9;
    border-color: #EBD9E2;
    border-style: solid;
    border-width: 1px 0;
    color: #5F4954;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    overflow: hidden;
}

.top-padding {
    padding-top: 0.8em;
}

.as-message-hint {
    font-style: italic;
    padding-top: 0.5em;
}

.as-message-hint a {
    color: #6c815d;
    text-decoration: none;
}

.as-message div {
    padding-bottom: 3px;
}

.as-dialog-box-message {
    width: 170px;
}

.as-message .as-status {
    color: #977d82;
    margin-bottom: 6px;
}

.as-sidebar-content .as-form .as-message-status-incorrect {
    background: none;
    color: #5f4c19;
    border-width: 1px;
    border-style: solid;
    background-color: #dfc88b;
    border-color: #cfb97b #e4d2af #fff5da #f1e3bb;
    padding: 5px;
}

.as-sidebar-content .as-form .as-message-status-correct {
    background: #c1e267;
    border-width: 1px;
    border-style: solid;
    border-color: #8cb468 #b5d65b #fbf6ea #b4d55a;
    color: #516a0f;
    padding: 5px;
}

.as-message-after-box, .as-message-live-box, .as-message-before-box {
    background: #fbcee6;
    color: #7c4562;
    text-shadow: 0 1px 0 #ffe2f1;
    border: 1px solid #e2b3cc;
    box-shadow: inset 0 1px 3px #b890a5;
    -webkit-box-shadow: inset 0 1px 3px #b890a5;
    -moz-box-shadow: inset 0 1px 3px #b890a5;
    -o-box-shadow: inset 0 1px 3px #b890a5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px !important;
}

.as-text, .as-text a, .as-sidebar-content div .as-text .as-text-div {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 3px #af6e93;
    text-align: center !important;
    display: block;
    width: 200px;
    font-family: 'Amaranth', "Trebuchet MS", "Tahoma", Arial, Helvetica, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
}

.as-text {
    display: block;
    width: 198px;
    margin: 0 auto 10px;
    padding: 10px 10px;
    text-rendering: geometricPrecision;
    border-bottom: 1px solid #fff;

    background: #ed94c4; /* Old browsers */
    background: -moz-linear-gradient(top, #ed94c4 0%, #da6ea6 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed94c4), color-stop(99%, #da6ea6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed94c4 0%, #da6ea6 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed94c4 0%, #da6ea6 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ed94c4 0%, #da6ea6 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed94c4', endColorstr='#da6ea6', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #ed94c4 0%, #da6ea6 99%); /* W3C */
}

.as-text-input,
.as-textarea {
    background: url(s/g/ibg.png) repeat-x #fffef2;
    width: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: #798e90 #a2bfc1 #e2eced;
    display: block;
    margin: 2px 0px 0px;
    padding: 5px;
    font: 12px Tahoma, sans-serif;
    color: #5d503b;
}

.as-textarea {
    height: 100px
}

div.as-mc-question {
    font-weight: bold;
    font-size: 110%;
}

.as-featured-img-holder {
    overflow: hidden;
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.as-featured-img-holder ul {
    list-style-type: none;
    padding: 0;
    width: 2000px;
    margin: 0px;
}

.as-featured-img-holder ul li {
    float: left;
    display: inline;
    overflow: hidden;
}

.as-featured-img-holder ul li a {
    margin: 0;
}

.as-featured-img-holder ul li img {
    margin: 0;
}

.as-form, .as-featured-img {
    display: block;
    margin: 10px auto;
    width: 200px;
}

.as-featured-img {
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    box-shadow: 0 1px 5px #c7b3be;
    -webkit-box-shadow: 0 1px 5px #c7b3be;
    -moz-box-shadow: 0 1px 5px #c7b3be;
    -o-box-shadow: 0 1px 5px #c7b3be;
}

.as-sidebar-cross {
    position: absolute;
    top: 2px;
    text-indent: -99999px;
    background: url(s/g/wgx-pink.gif) no-repeat center center #fff;
    display: block;
    height: 22px;
    width: 30px;
    z-index: -1;
    left: -30px;

    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;
}

.as-sidebar-cross:hover {
    cursor: pointer;
    background-color: #f4d5e6;
}

.as-sidebar-footer {
    background: url("s/g/wgflogo.gif") no-repeat 100px 0;
    display: block;
    height: 25px;
    padding: 5px 25px 2px;
    width: 190px;
    color: #5f4954
}

.as-sidebar-content-holder a.as-sidebar-footer,
.as-sidebar-content-holder a.as-sidebar-footer:active,
.as-sidebar-content-holder a.as-sidebar-footer:visited {
    color: #5f4954 !important;
}

/*.as-sidebar-el-date, .as-sidebar-el-running, .as-sidebar-el-finished {
	line-height: 120%;
	overflow: hidden;
	width: 186px;
}

.as-sidebar-el-date{
	background: url(s/g/date.png) no-repeat;
	color: #4d141e;
	text-shadow: 0 1px 0 #ffb4b2;
}
.as-sidebar-el-running{
	background: url(s/g/rightnow.png) no-repeat;
	color: #516a0f;
	text-shadow: 0 1px 0 #e1f2b2;
}
.as-sidebar-el-finished{
	background: url(s/g/finished.png) no-repeat;
	color: #5f5d45;
	text-shadow: 0 1px 0 #eaebce;
}*/

#as-watermark-8473649 {
    display: none;
}

* + html .as-iframe {
    height: 226px !important;
}

* html .as-iframe {
    height: 229px !important;
    /*width: 169px !important;*/
}

.as-iframe {
    border: 0;
    width: 186px;
    height: 218px;
}

.as-select-button, .as-select-button:hover, .as-select-button:active, .as-select-button:visited {
    border: 1px solid #fff;
    color: #FFF;
    display: block;
    font: bold 30px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 1px #b25279;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #c690ab;
    -webkit-box-shadow: 0 1px 4px #c690ab;
    -moz-box-shadow: 0 1px 4px #c690ab;
    -o-box-shadow: 0 1px 4px #c690ab;

    background: #f481b0; /* Old browsers */
    background: -moz-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f481b0), color-stop(100%, #dc558b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f481b0', endColorstr='#dc558b', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #f481b0 0%, #dc558b 100%); /* W3C */
}

.as-select-button:hover {
    background: #dc558b; /* Old browsers */
    background: -moz-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc558b), color-stop(100%, #f481b0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc558b', endColorstr='#f481b0', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #dc558b 0%, #f481b0 100%); /* W3C */
}

.as-submit, .as-submit:active, .as-submit:hover, .as-submit:visited,
.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    border: 1px solid #fff;
    color: #FFF;
    display: block;
    font: bold 20px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 28px;
    padding: 0;
    width: 196px;
    margin: 5px auto;
    text-align: center;
    text-shadow: 0 1px 1px #b25279;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #c690ab;
    -webkit-box-shadow: 0 1px 4px #c690ab;
    -moz-box-shadow: 0 1px 4px #c690ab;
    -o-box-shadow: 0 1px 4px #c690ab;

    background: #f481b0; /* Old browsers */
    background: -moz-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f481b0), color-stop(100%, #dc558b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f481b0 0%, #dc558b 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f481b0', endColorstr='#dc558b', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #f481b0 0%, #dc558b 100%); /* W3C */
}

.as-submit:hover, .as-register-button:hover {
    background: #dc558b; /* Old browsers */
    background: -moz-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc558b), color-stop(100%, #f481b0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #dc558b 0%, #f481b0 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc558b', endColorstr='#f481b0', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #dc558b 0%, #f481b0 100%); /* W3C */
}

.as-select-button-ea, .as-select-button-ea:hover, .as-select-button-ea:active, .as-select-button-ea:visited {
    font: bold 25px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
}

.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    font: 20px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 28px;
    padding: 0;
    width: 100px;
    margin: 5px auto;
}

/** Registration classes **/

#as-main-content {
}

.as-hide {
    display: none;
}

.as-text {
    padding-top: 0px;
}

.as-right-align {
    float: right;
}

.as-message-reg {
    width: 170px;
    border-width: 0px;
    border-style: none;
    margin: 0px;
    font: 13px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    padding: 0 0 0 12px;
}

.as-text-reg {
    border: 0px;
    color: #5F4954;
    display: block;
    font: 15px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-decoration: none;
    margin-bottom: 10px;
}

.as-left-float {
    float: left;
    padding-top: 4px;
}

#reg-short-invalid-msg {
    color: #983D3A;
}

.as-share div.as-wrapper {
    padding-bottom: 10px;
}

div.as-share {
    border: 1px solid #5F4954;
    width: 174px;
    margin: 10px 0px;
    padding-bottom: 0px;

}

.as-share .as-wrapper {
    background: none repeat scroll 0 0 #FBCEE6;
    border: 1px solid #5F4954;
    height: 48px;
    overflow: hidden;
    padding: 10px 10px 10px 30px;
}

.as-share h4 {
    color: #63533A;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.as-share li {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    margin-right: 10px;
    padding: 0 !important;
    margin-bottom: 10px;
    padding-left: 20px;
}

.as-share li a {
    display: block;
    height: 32px;
    overflow: hidden;
    text-indent: -99999px;
    width: 32px;
}

div#reg-form div a.as-terms-link {
    color: #5F4954;
}

.as-share .as-twitter a {
    background: url("s/g/twitter.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-facebook a {
    background: url("s/g/facebook.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-mail a {
    background: url("s/g/email.png") no-repeat scroll 0 0 transparent;
}