@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&v2);

[COUNTDOWN_TIMER_VISIBILITY]
.as-sidebar, .as-sidebar div, .as-sidebar span, .as-sidebar p,
.as-dialog-box, .as-dialog-box div, .as-dialog-box span, .as-dialog-box p,
.as-frame, .as-frame div, .as-frame span, .as-frame p {
    font: 12px "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-align: left !important;
    color: #cdcdcd;
}

.as-ad-image {
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.as-dialog-box {
    background: url(s/g/tb-tb.png) no-repeat #f9cdad;
    border-width: 1px;
    border-style: solid;
    border-color: #028db1 #7b8952 #7b8952;

    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;

    width: 190px;

    position: absolute;
    padding: 45px 5px 10px;
    line-height: 110%;
    color: #000000;
    z-index: 99999;
}

.as-dialog-box-close {
    background: url(s/g/tb-tb-c.png) no-repeat;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
}

.as-dialog-box-close:hover {
    background-position: left bottom;
}

* html .as-sidebar {
    position: absolute;
}

.as-sidebar {
    -moz-box-shadow: 0 1px 4px #bbb;
    -webkit-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;

    color: #574934;

    position: fixed;
    right: 0%;
    top: 50%;
    /*margin-top: -300px; /* - .as-sidebar (height) / 2 */
    /*background-color: #D3DEC5;*/
    background: #1f1f1f;
    border-right: none;
    width: 220px;
    /*height: 600px;*/
    height: auto;
    border: 1px solid #404040;
    z-index: 99998;
}

.as-sidebar-content-holder {
    overflow: hidden;
    border: 1px solid #404040;
    background: #1f1f1f;
    width: 220px;
}

.as-sidebar-tag {
    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;
    position: absolute;
    background: url([TAB_URL]) no-repeat;
    width: 50px;
    height: 145px;
    /*margin-top: 257px; /* This must be calculated using (.as-sidebar(height + border-top + border-bottom + padding-top + padding-bottom) - .as-sidebar-tag(height)) / 2 */
    left: 0px;
    top: 0px !important;
    /*background-color: #5D87C2;*/
    z-index: -1;
}

.as-sidebar-content {
    overflow: hidden;
    /*height: 216px;*/
    /*border: 1px solid #fffbf4;
    background: url(s/g/wgpbg.png);*/
    /*padding: 5px;*/
    width: 218px; /*was 208*/
    _width: auto;
    z-index: 1;
}

/*
.as-submit, .as-form input[type="button"] {
        background: url(s/g/wgsubmit.gif) no-repeat transparent;
        border: none;
        display: block;
        width: 66px;
        height: 22px;
        text-indent:-99999px;
        font-size: 0;
        display: block;
        line-height: 0;
        border-style: none;
        color:#666666;
        margin:0;
        padding: 0px;
}
*/

.as-message input[type="radio"] {
    border: none;
    background: none;
}

.as-message-before-box, .as-message-live-box, .as-message-after-box, .as-message-status, .as-dialog-box-message {
    /*	background:url(s/g/mbg.png) repeat-x #fcfae1; */
    width: 186px;
    border-width: 1px;
    border-style: solid;
    border-color: #99977e #cecbab #f9f3e9;
    display: block;
    margin: 10px auto;
    padding: 5px;
[ COUNTDOWN_TIMER_VISIBILITY ]
}

.as-message {
    background: #2b2b2b;
    border-color: #404040;
    border-style: solid;
    border-width: 1px 0;
    color: #5F4954;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    overflow: hidden;
}

.top-padding {
    padding-top: 0.8em;
}

.as-message-hint {
    font-style: italic;
    padding-top: 0.5em;
}

.as-message-hint a {
    color: #6c815d;
    text-decoration: none;
}

.as-message div {
    padding-bottom: 3px;
}

.as-dialog-box-message {
    width: 170px;
}

.as-message .as-status {
    color: #977d82;
    margin-bottom: 6px;
}

.as-sidebar-content .as-form .as-message-status-incorrect {
    background: none;
    color: #5f4c19;
    border-width: 1px;
    border-style: solid;
    background-color: #dfc88b;
    border-color: #cfb97b #e4d2af #fff5da #f1e3bb;
    padding: 5px;
}

.as-sidebar-content .as-form .as-message-status-correct {
    background: #c1e267;
    border-width: 1px;
    border-style: solid;
    border-color: #8cb468 #b5d65b #fbf6ea #b4d55a;
    color: #516a0f;
    padding: 5px;
}

.as-message-after-box, .as-message-live-box, .as-message-before-box {
    background: #353535;
    color: #cdcdcd;
    text-shadow: 0 1px 0 #101010;
    border: 1px solid #4d4d4d;
    box-shadow: inset 0 1px 3px #000;
    -webkit-box-shadow: inset 0 1px 3px #000;
    -moz-box-shadow: inset 0 1px 3px #000;
    -o-box-shadow: inset 0 1px 3px #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px !important;
}

.as-text, .as-text a, .as-sidebar-content div .as-text .as-text-div {
    color: #fff;
    display: block;
    width: 200px;
    font-family: "Tahoma", Arial, Helvetica, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    text-shadow: 0 1px 3px #000;
    text-align: center !important;;
    letter-spacing: 1px;
}

.as-text {
    display: block;
    width: 198px;
    margin: 0 auto 10px;
    padding: 10px 10px;
    text-rendering: geometricPrecision;
    border-bottom: 1px solid #404040;

    background: #ed94c4; /* Old browsers */
    background: -moz-linear-gradient(top, #242524 0%, #3b3b3b 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242524), color-stop(99%, #3b3b3b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #242524 0%, #3b3b3b 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #242524 0%, #3b3b3b 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #242524 0%, #3b3b3b 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242524', endColorstr='#3b3b3b', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #242524 0%, #3b3b3b 99%); /* W3C */
}

.as-text-input,
.as-textarea {
    background: url(s/g/ibg.png) repeat-x #fffef2;
    width: 172px;
    border-width: 1px;
    border-style: solid;
    border-color: #798e90 #a2bfc1 #e2eced;
    display: block;
    margin: 2px 0px 10px;
    padding: 5px;
    font: 12px Tahoma, sans-serif;
    color: #5d503b;
}

.as-textarea {
    height: 100px
}

div.as-mc-question {
    font-weight: bold;
    font-size: 110%;
}

.as-featured-img-holder {
    overflow: hidden;
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.as-featured-img-holder ul {
    list-style-type: none;
    padding: 0;
    width: 2000px;
    margin: 0px;
}

.as-featured-img-holder ul li {
    float: left;
    display: inline;
    overflow: hidden;
}

.as-featured-img-holder ul li a {
    margin: 0;
}

.as-featured-img-holder ul li img {
    margin: 0;
}

.as-form, .as-featured-img {
    display: block;
    margin: 10px auto;
    width: 200px;
}

.as-featured-img {
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    box-shadow: 0 1px 5px #c7b3be;
    -webkit-box-shadow: 0 1px 5px #c7b3be;
    -moz-box-shadow: 0 1px 5px #c7b3be;
    -o-box-shadow: 0 1px 5px #c7b3be;
}

.as-sidebar-cross {
    position: absolute;
    top: 2px;
    text-indent: -99999px;
    background: url(s/g/wgx-black.gif) no-repeat center center #2e2e2e;
    display: block;
    height: 22px;
    width: 30px;
    z-index: -1;
    left: -30px;

    -moz-box-shadow: 0 1px 4px #bbb;
    -webkit-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
}

.as-sidebar-cross:hover {
    cursor: pointer;
    background-color: #000;
}

.as-sidebar-footer {
    background: url("s/g/wgflogo.gif") no-repeat 100px 0;
    display: block;
    height: 25px;
    padding: 5px 25px 2px;
    width: 190px;
    color: #6a6a6a
}

#as-watermark-8473649 {
    display: none;
}

* + html .as-iframe {
    height: 226px !important;
}

* html .as-iframe {
    height: 229px !important;
    /*width: 169px !important;*/
}

.as-iframe {
    border: 0;
    width: 186px;
    height: 218px;
}

.as-message a.as-select-button,
.as-message a.as-select-button:active,
.as-message a.as-select-button:visited {
    color: #fff !important;
}

.as-sidebar-content-holder a.as-sidebar-footer,
.as-sidebar-content-holder a.as-sidebar-footer:active,
.as-sidebar-content-holder a.as-sidebar-footer:visited {
    color: #fff !important;
}

.as-select-button, .as-select-button:hover, .as-select-button:active, .as-select-button:visited {
    border: 1px solid #4a4a4a;
    color: #FFF;
    display: block;
    font: bold 30px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #000;
    -webkit-box-shadow: 0 1px 4px #000;
    -moz-box-shadow: 0 1px 4px #000;
    -o-box-shadow: 0 1px 4px #0000;

    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top, #343434 0%, #181818 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #343434), color-stop(100%, #181818)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343434 0%, #181818 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343434 0%, #181818 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #343434 0%, #181818 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#181818', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #343434 0%, #181818 100%); /* W3C */
}

.as-select-button:hover {
    background: #181818; /* Old browsers */
    background: -moz-linear-gradient(top, #181818 0%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #181818), color-stop(100%, #343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #181818 0%, #343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #181818 0%, #343434 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #181818 0%, #343434 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#343434', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #181818 0%, #343434 100%); /* W3C */
}

/*
.as-submit,         .as-form input[type="button"] ,
.as-submit:active,  .as-form input[type="button"] :active,
.as-submit:visited, .as-form input[type="button"] :visited
*/
.as-submit, .as-submit:active, .as-submit:hover, .as-submit:visited,
.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    border: 1px solid #4a4a4a;
    color: #FFF;
    display: block;
    font: bold 20px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #000;
    -webkit-box-shadow: 0 1px 4px #000;
    -moz-box-shadow: 0 1px 4px #000;
    -o-box-shadow: 0 1px 4px #0000;

    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top, #343434 0%, #181818 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #343434), color-stop(100%, #181818)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #343434 0%, #181818 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #343434 0%, #181818 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #343434 0%, #181818 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#181818', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #343434 0%, #181818 100%); /* W3C */
}

.as-submit:hover, .as-register-button:hover {
    background: #181818; /* Old browsers */
    background: -moz-linear-gradient(top, #181818 0%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #181818), color-stop(100%, #343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #181818 0%, #343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #181818 0%, #343434 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #181818 0%, #343434 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#343434', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #181818 0%, #343434 100%); /* W3C */
}

.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    font: bold 20px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 28px;
    padding: 0;
    width: 100px;
    margin: 5px auto;
}

.as-select-button-ea, .as-select-button-ea:hover, .as-select-button-ea:active, .as-select-button-ea:visited {
    font: bold 25px 'PT Sans Narrow', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
}

/** Registration classes **/

#as-main-content {
}

.as-hide {
    display: none;
}

.as-text {
    padding-top: 0px;
}

.as-right-align {
    float: right;
}

.as-message-reg {
    width: 170px;
    border-width: 0px;
    border-style: none;
    margin: 0px;
    font: 13px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    color: #CDCDCD;
    padding: 0 0 0 12px;
}

.as-text-reg {
    border: 0px;
    color: #CDCDCD;
    display: block;
    font: 15px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-decoration: none;
    margin-bottom: 10px;
}

.as-left-float {
    float: left;
    padding-top: 4px;
}

#reg-short-invalid-msg {
    color: #FFF;
}

.as-share div.as-wrapper {
    padding-bottom: 10px;
}

div.as-share {
    border: 1px solid #404040;
    width: 174px;
    margin: 10px 0px;
    padding-bottom: 0px;

}

.as-share .as-wrapper {
    background: none repeat scroll 0 0 #2B2B2B;
    border: 1px solid #404040;
    height: 48px;
    overflow: hidden;
    padding: 10px 10px 10px 30px;
}

.as-share h4 {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-shadow: 0 1px 2px #2B2B2B;
}

.as-share li {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    margin-right: 10px;
    padding: 0 !important;
    margin-bottom: 10px;
    padding-left: 20px;
}

.as-share li a {
    display: block;
    height: 32px;
    overflow: hidden;
    text-indent: -99999px;
    width: 32px;
}

div#reg-form div a.as-terms-link {
    color: #CDCDCD;
}

.as-share .as-twitter a {
    background: url("s/g/twitter.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-facebook a {
    background: url("s/g/facebook.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-mail a {
    background: url("s/g/email.png") no-repeat scroll 0 0 transparent;
}