@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,700);

.as-sidebar, .as-sidebar div, .as-sidebar span, .as-sidebar p,
.as-dialog-box, .as-dialog-box div, .as-dialog-box span, .as-dialog-box p,
.as-frame, .as-frame div, .as-frame span, .as-frame p {
    font: 13px 'Open Sans', "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-align: left !important;
    color: #353535;
}

.as-ad-image {
    vertical-align: middle;
    margin: 0 2px 0 2px;
}

.as-dialog-box {
    background: url(s/g/tb-tb.png) no-repeat #f9cdad;
    border-width: 1px;
    border-style: solid;
    border-color: #028db1 #7b8952 #7b8952;

    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;

    width: 190px;
    position: absolute;
    padding: 45px 5px 10px;
    line-height: 110%;
    color: #000000;
    z-index: 99999;
}

.as-dialog-box-close {
    background: url(s/g/tb-tb-c.png) no-repeat;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
}

.as-dialog-box-close:hover {
    background-position: left bottom;
}

* html .as-sidebar {
    position: absolute;
}

.as-sidebar {
    -moz-box-shadow: 0 1px 4px #bbb;
    -webkit-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;

    color: #574934;

    position: fixed;
    right: 0%;
    top: 50%;
    /*margin-top: -300px; /* - .as-sidebar (height) / 2 */
    /*background-color: #D3DEC5;*/
    background: #fbf4e2;
    width: 220px;
    /*height: 600px;*/
    height: auto;
    border: 1px solid #d5e1f4;
    z-index: 99998;
}

.as-sidebar-content-holder {
    overflow: hidden;
    border: 1px solid #d5e1f4;
    background: #fff;
    width: 220px;
}

.as-sidebar-tag {
    -moz-box-shadow: 0 1px 4px #bdbac9;
    -webkit-box-shadow: 0 1px 4px #bdbac9;
    box-shadow: 0 1px 4px #bdbac9;
    position: absolute;
    background: url([TAB_URL]) no-repeat;
    width: 50px;
    height: 145px;
    /*margin-top: 257px; /* This must be calculated using (.as-sidebar(height + border-top + border-bottom + padding-top + padding-bottom) - .as-sidebar-tag(height)) / 2 */
    left: 0px;
    top: 0px !important;
    /*background-color: #5D87C2;*/
    z-index: -1;
}

.as-sidebar-content {
    overflow: hidden;
    /*height: 216px;*/
    /*border: 1px solid #fffbf4;
    background: url(s/g/wgpbg.png);*/
    /*padding: 5px;*/
    width: 220px; /*was 218*/
    _width: auto;
    z-index: 1;
}

.as-message input[type="radio"] {
    border: none;
    background: none;
}

.as-message-before-box, .as-message-live-box, .as-message-after-box, .as-message-status, .as-dialog-box-message {
    width: 186px;
    border-width: 1px;
    border-style: solid;
    border-color: #99977e #cecbab #f9f3e9;
    display: block;
    margin: 10px auto;
    padding: 5px;
[ COUNTDOWN_TIMER_VISIBILITY ]
}

.as-message {
    background: #f2f2f2;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 0;
    color: #353535;
    display: block;
    margin: 10px auto 0;
    padding: 12px;
    width: 200px;
    overflow: hidden;
    /* text-shadow: 0 1px 2px #248077; */
}

.top-padding {
    padding-top: 0.8em;
}

.as-message-hint {
    font-style: italic;
    padding-top: 0.5em;
}

.as-message-hint a {
    color: #6c815d;
    text-decoration: none;
}

.as-message div {
    padding-bottom: 3px;
}

.as-dialog-box-message {
    width: 170px;
}

.as-message .as-status {
    color: #977d82;
    margin-bottom: 6px;
}

.as-sidebar-content .as-form .as-message-status-incorrect {
    background: none;
    color: #5f4c19;
    border-width: 1px;
    border-style: solid;
    background-color: #dfc88b;
    border-color: #cfb97b #e4d2af #fff5da #f1e3bb;
    padding: 5px;
}

.as-sidebar-content .as-form .as-message-status-correct {
    background: #c1e267;
    border-width: 1px;
    border-style: solid;
    border-color: #8cb468 #b5d65b #fbf6ea #b4d55a;
    color: #516a0f;
    padding: 5px;
}

.as-message-after-box, .as-message-live-box, .as-message-before-box {
    background: #f2f2f2;
    color: #353535 !important;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 3px #b9b9b9;
    -webkit-box-shadow: inset 0 1px 3px #b9b9b9;
    -moz-box-shadow: inset 0 1px 3px #b9b9b9;
    -o-box-shadow: inset 0 1px 3px #b9b9b9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px !important;
}

.as-text, .as-text a, .as-sidebar-content div .as-text .as-text-div {
    color: #fff;
    display: block;
    width: 200px;
    font-family: "Tahoma", Arial, Helvetica, sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    text-shadow: 0 1px 2px #3b6189;
    text-align: center !important;
    letter-spacing: 1px;
}

.as-text {
    display: block;
    width: 200px;
    margin: 0 auto 10px;
    padding: 7px 10px;
    text-rendering: geometricPrecision;
    border-bottom: 1px solid #2d867d;

    background: #0085B7; /* Old browsers */
    background: -moz-linear-gradient(top, #0085B7 0%, #569FDC 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0085B7), color-stop(99%, #569FDC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0085B7 0%, #569FDC 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0085B7 0%, #569FDC 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0085B7 0%, #569FDC 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085B7', endColorstr='#569FDC', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #0085B7 0%, #569FDC 99%); /* W3C */
}

.as-text-input,
.as-textarea {
    background: url(s/g/ibg.png) repeat-x #fffef2;
    width: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: #798e90 #a2bfc1 #e2eced;
    display: block;
    margin: 2px 0px 0px;
    padding: 5px;
    font: 12px Tahoma, sans-serif;
    color: #5d503b;
}

.as-textarea {
    height: 100px
}

div.as-mc-question {
    font-weight: bold;
    font-size: 110%;
}

.as-featured-img-holder {
    overflow: hidden;
    width: 200px;
    height: 120px;
    margin: 0 auto;
    box-shadow: 0 1px 3px #bcbcbc;
    -moz-box-shadow: 0 1px 3px #bcbcbc;
    -webkit-box-shadow: 0 1px 3px #bcbcbc;
    -o-box-shadow: 0 1px 3px #bcbcbc;
}

.as-featured-img-holder ul {
    list-style-type: none;
    padding: 0;
    width: 2000px;
    margin: 0px;
}

.as-featured-img-holder ul li {
    float: left;
    display: inline;
    overflow: hidden;
}

.as-featured-img-holder ul li a {
    margin: 0;
}

.as-featured-img-holder ul li img {
    margin: 0;
}

.as-form, .as-featured-img {
    display: block;
    margin: 10px auto;
    width: 200px;
}

.as-featured-img {
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    box-shadow: 0 1px 5px #c7b3be;
    -webkit-box-shadow: 0 1px 5px #c7b3be;
    -moz-box-shadow: 0 1px 5px #c7b3be;
    -o-box-shadow: 0 1px 5px #c7b3be;
}

.as-sidebar-cross {
    position: absolute;
    top: 2px;
    text-indent: -99999px;
    background: url(s/g/wgx-blue.gif) no-repeat center center #fff;
    display: block;
    height: 21px;
    width: 29px;
    z-index: -1;
    left: -30px;
    border: 1px solid #d5e1f4;
    -moz-box-shadow: 0 1px 4px #bbb;
    -webkit-box-shadow: 0 1px 4px #bbb;
    box-shadow: 0 1px 4px #bbb;
}

.as-sidebar-cross:hover {
    cursor: pointer;
    background-color: #d5e1f4;
}

.as-sidebar-footer {
    background: url("s/g/wgflogo.gif") no-repeat 100px 7px #3495CD;
    display: block;
    height: 25px;
    padding: 12px 25px 2px;
    width: 190px;
    color: #fff
}

#as-watermark-8473649 {
    display: none;
}

* + html .as-iframe {
    height: 226px !important;
}

* html .as-iframe {
    height: 229px !important;
    /*width: 169px !important;*/
}

.as-iframe {
    border: 0;
    width: 186px;
    height: 218px;
}

.as-message a.as-select-button,
.as-message a.as-select-button:active,
.as-message a.as-select-button:visited {
    color: #fff !important;
}

.as-sidebar-content-holder a.as-sidebar-footer,
.as-sidebar-content-holder a.as-sidebar-footer:active,
.as-sidebar-content-holder a.as-sidebar-footer:visited {
    color: #fff !important;
}

.as-select-button, .as-select-button:hover, .as-select-button:active, .as-select-button:visited {
    border: 2px solid #fff;
    color: #FFF;
    display: block;
    font: bold 24px 'Open Sans', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 3px #935800;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #c2c2c2;
    -webkit-box-shadow: 0 1px 4px #c2c2c2;
    -moz-box-shadow: 0 1px 4px #c2c2c2;
    -o-box-shadow: 0 1px 4px #c2c2c2;

    background: #ee8600; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc11b 0%, #ee8600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc11b), color-stop(100%, #ee8600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc11b', endColorstr='#ed8600', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* W3C */
}

.as-select-button:hover {
    background: #ed8600; /* Old browsers */
    background: -moz-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed8600), color-stop(100%, #ffc11b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8600', endColorstr='#ffc11b', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* W3C */
}

.as-submit, .as-submit:active, .as-submit:hover, .as-submit:visited,
.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    border: 2px solid #fff;
    color: #FFF;
    display: block;
    font: bold 18px 'Open Sans', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 28px;
    padding: 0 0 12px 0;
    width: 196px;
    margin: 5px auto;
    text-align: center;
    text-shadow: 0 1px 3px #935800;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #c2c2c2;
    -webkit-box-shadow: 0 1px 4px #c2c2c2;
    -moz-box-shadow: 0 1px 4px #c2c2c2;
    -o-box-shadow: 0 1px 4px #c2c2c2;

    background: #ee8600; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc11b 0%, #ee8600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc11b), color-stop(100%, #ee8600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc11b', endColorstr='#ed8600', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #ffc11b 0%, #ed8600 100%); /* W3C */
}

.as-submit:hover, .as-register-button:hover {
    background: #ed8600; /* Old browsers */
    background: -moz-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed8600), color-stop(100%, #ffc11b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8600', endColorstr='#ffc11b', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #ed8600 0%, #ffc11b 100%); /* W3C */
}

.as-select-button-ea, .as-select-button-ea:hover, .as-select-button-ea:active, .as-select-button-ea:visited {
    font: bold 18px 'Open Sans', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 40px;
    padding: 5px 0;
    width: 196px;
    margin: 10px auto;
}

.as-register-button, .as-register-button:hover, .as-register-button:active, .as-register-button:visited {
    font: bold 18px 'Open Sans', "Arial Narrow", Arial, Helvetica, sans-serif;
    height: 28px;
    padding: 0;
    width: 150px;
    margin: 5px auto;
}

/** Registration classes **/

#as-main-content {
}

.as-hide {
    display: none;
}

.as-text {
    /*padding-top: 0px;*/
}

.as-right-align {
    float: right;
}

.as-message-reg {
    width: 170px;
    border-width: 0px;
    border-style: none;
    margin: 0px;
    font: 13px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    color: #5d503b;
    padding: 0 0 0 12px;
}

.as-text-reg {
    border: 0px;
    color: #5d503b;
    display: block;
    font: 15px/120% "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 120%;
    text-decoration: none;
    margin-bottom: 10px;
}

.as-left-float {
    float: left;
    padding-top: 4px;
}

#reg-short-invalid-msg {
    color: #983D3A;
}

.as-share div.as-wrapper {
    padding-bottom: 10px;
}

div.as-share {
    border: 1px solid #5F4954;
    width: 170px;
    margin: 10px 0px;
    padding-bottom: 0px;

}

.as-share .as-wrapper {
    background: none repeat scroll 0 0 #FBF4E2;
    border: 1px solid #5F4954;
    height: 48px;
    overflow: hidden;
    padding: 10px 10px 10px 22px;
}

.as-share h4 {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-shadow: 0 1px 2px #FBF4E2;
}

.as-share li {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    margin-right: 10px;
    padding: 0 !important;
    margin-bottom: 10px;
    padding-left: 20px;
}

.as-share li a {
    display: block;
    height: 32px;
    overflow: hidden;
    text-indent: -99999px;
    width: 32px;
}

div#reg-form div a.as-terms-link {
    color: #5d503b;
}

.as-share .as-twitter a {
    background: url("s/g/twitter.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-facebook a {
    background: url("s/g/facebook.png") no-repeat scroll 0 0 transparent;
}

.as-share .as-mail a {
    background: url("s/g/email.png") no-repeat scroll 0 0 transparent;
}