<footer id="bottom">
    <div class="wrapper">
        <nav>
            <a href="#">Dashboard</a> &middot;
            <a href="#">Sites</a> &middot;
            <a href="#">Campaigns</a> &middot;
            <a href="#">Statistics</a> &middot;
            <a href="#">Users</a> &middot;
            <a href="#">Settings</a> &middot;
            <a href="#">Help</a>
        </nav>
        <p>Copyright &copy; 2012. All Rights Reserved. <b><a
                        href="http://business.wingrin.com">WinGrin for
                    Business</a> | <a href="http://www.wingrin.com">WinGrin
                    Competitions</a></b></p>
    </div>
</footer>
