<header id="top">
    <div id="header">
        <div class="header-top tr">
            <?php if ($this->layout()->loginedUser != null): ?>
                <p>Hello <strong><?php echo $this->layout(
                            )->loginedUser->firstname . ' ' . $this->layout(
                            )->loginedUser->lastname; ?></strong> | <a
                            href="<?php echo $this->url(
                                array('controller' => 'index',
                                      'action'     => 'logout'), null, true
                            ) ?>">Logout</a></p>
            <?php endif; ?>
            <!-- start dialogue box -->
            <!-- end dialogue box -->
        </div>
        <div class="header-middle">
            <div class="wrapper-menu">
                <!-- Start Nav -->
                <!-- Start Logo -->
                <a class="dashboard" href="<?php echo $this->url(
                    array('controller' => 'dashboard'), null, true
                ) ?>">
                    <img class="fl" id="logo"
                         src="<?php echo Zend_Controller_Front::getInstance()
                             ->getBaseUrl(); ?>/img/logo.png" alt="Admin Theme">
                </a>
                <!-- End Logo -->
                <ul id="nav" class="fl">
                    <li class="dashboard"><a class="dashboard"
                                             href="<?php echo $this->url(
                                                 array('controller' => 'dashboard'),
                                                 null, true
                                             ) ?>">Dashboard</a></li>
                    <!-- Nav - End Dashboard -->
                    <!-- Nav - Start Content -->
                    <li class="sites"><a class="sites"
                                         href="<?php echo $this->url(
                                             array('controller' => 'sites'),
                                             null, true
                                         ) ?>">Sites</a>
                        <ul>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'sites'), null, true
                                ) ?>">Search</a></li>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'sites',
                                          'action'     => 'add'), null, true
                                ) ?>">Add New</a></li>
                        </ul>
                    </li>
                    <li class="campaigns"><a class="campaigns"
                                             href="<?php echo $this->url(
                                                 array('controller' => 'campaigns'),
                                                 null, true
                                             ) ?>">Campaigns</a>
                        <ul>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'campaigns'), null,
                                    true
                                ) ?>">Search</a></li>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'campaigns',
                                          'action'     => 'add'), null, true
                                ) ?>">Add New</a></li>
                            <li><a href="#">Calendar View</a></li>
                        </ul>

                    </li>
                    <li class="statistics"><a class="themes"
                                              href="<?php echo $this->url(
                                                  array('controller' => 'customise'),
                                                  null, true
                                              ) ?>">Widget Themes</a></li>
                    <li class="statistics"><a class="statistics"
                                              href="<?php echo $this->url(
                                                  array('controller' => 'results'),
                                                  null, true
                                              ) ?>">Results</a></li>

                    <!-- Nav - End Content -->
                    <!-- Nav - Start Users -->
                    <li class="users"><a class="users"
                                         href="<?php echo $this->url(
                                             array('controller' => 'users'),
                                             null, true
                                         ) ?>">Users</a>
                        <ul>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'users'), null, true
                                ) ?>">User Manager</a></li>
                        </ul>
                    </li>
                    <!-- Nav - End Users -->
                    <!-- Nav - Start Settings -->
                    <li class="settings"><a class="settings"
                                            href="<?php echo $this->url(
                                                array('controller' => 'settings',
                                                      'action'     => 'messages'),
                                                null, true
                                            ) ?>">Settings</a>
                        <ul>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'settings',
                                          'action'     => 'messages'), null,
                                    true
                                ) ?>">Messages</a></li>
                            <li><a href="#">System Settings</a></li>
                            <li><a href="#">Server Setup</a></li>
                        </ul>
                    </li>
                    <!-- Nav - End Settings -->

                    <!-- Nav - Start Help -->
                    <li class="help"><a class="help"
                                        href="<?php echo $this->url(
                                            array('controller' => 'help',
                                                  'action'     => 'documentation'),
                                            null, true
                                        ) ?>">Help</a>
                        <ul>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'help',
                                          'action'     => 'documentation'),
                                    null, true
                                ) ?>">Documentation</a></li>
                            <li><a href="<?php echo $this->url(
                                    array('controller' => 'help',
                                          'action'     => 'contact'), null, true
                                ) ?>">Contact</a></li>
                        </ul>
                    </li>
                    <!-- Nav - End Help -->


                </ul>
                <!-- End Nav -->

                <br class="cl">

            </div>
        </div>
    </div>
</header>
