<header id="top">
    <div id="header">
        <div class="header-middle">
            <div class="wrapper" style="width:520px;">
                <!-- Start Nav -->
                <!-- Start Logo -->
                <img class="fl" id="logo"
                     src="<?php echo Zend_Controller_Front::getInstance()
                         ->getBaseUrl(); ?>/img/logo_small.png"
                     alt="Admin Theme">
                <!-- End Logo -->
                <ul class="pills fl">

                    <li>
                        <a href="http://business.wingrin.com">Home</a>
                    </li>

                    <li>
                        <a href="<?php echo $this->url(
                            array('controller' => 'index'), null, true
                        ) ?>">Login</a>
                    </li>

                    <li>
                        <a class="signupbold" href="<?php echo $this->url(
                            array('controller' => 'index',
                                  'action'     => 'registration'), null, true
                        ) ?>">Signup</a>
                    </li>

                    <li>
                        <a href="http://support.wingrin.com" target="_blank">Help
                            & Support</a>
                    </li>

                </ul>

                <br class="cl">

            </div>
        </div>
    </div>
</header>

