<!DOCTYPE html>
<html lang="en">
<head>
    <?php $this->headMeta()->appendName('charset', 'utf-8'); ?>
    <?php $this->headTitle('WinGrin Administration') ?>
    <?php $this->headMeta()->appendName(
        'description', 'WinGrin Administration'
    ); ?>
    <?php $this->headMeta()->appendName(
        'keywords', 'WinGrin Administration'
    ); ?>

    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta(); ?>
    <!-- Favicons -->
    <?php $this->headLink(
        array('rel'  => 'shortcut icon', 'type' => 'image/x-icon',
              'href' => $this->baseUrl() . '/img/favicons/favicon.ico')
    ); ?>
    <?php $this->headLink(
        array('rel'  => 'icon', 'type' => 'image/x-icon',
              'href' => $this->baseUrl() . '/img/favicons/favicon.ico')
    ); ?>
    <?php $this->headLink(
        array('rel'  => 'apple-touch-icon', 'type' => 'image/x-icon',
              'href' => $this->baseUrl() . '/img/favicons/favicon.ico')
    ); ?>
    <link rel="stylesheet"
          href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Duru+Sans'
          rel='stylesheet' type='text/css'>

    <!-- Main Stylesheet -->
    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/style.css'
    ); ?>
    <!-- Your Custom Stylesheet -->
    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/custom.css'
    ); ?>

    <!-- jQuery with plugins -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery-1.4.2.min.js'
    ); ?>
    <!-- Could be loaded remotely from Google CDN : <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.core.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.widget.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.tabs.min.js'
    ); ?>
    <!-- jQuery tooltips -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.tipTip.min.js'
    ); ?>
    <!-- Superfish navigation -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.superfish.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.supersubs.min.js'
    ); ?>
    <!-- jQuery form validation -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.validate_pack.js'
    ); ?>
    <!-- jQuery popup box -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.nyroModal.pack.js'
    ); ?>
    <!-- Internet Explorer Fixes -->
    <!--[if IE]>
    <?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/ie.css'); ?>
    <?php $this->headScript()->appendFile($this->baseUrl().'/js/html5.js'); ?>
    <![endif]-->
    <!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
    <!--[if lt IE 8]>

    <![endif]-->

    <!-- User interface javascript load -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/administry.js'
    ); ?>

    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.pstrength-min.1.2.js'
    ); ?>

    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>
    <script type="text/javascript">

        $(document).ready(function () {
            /* setup navigation, content boxes, etc... */
            Administry.setup();
        });

    </script>
</head>
<body>
<div id="contentwrapper">
    <!-- Header -->
    <?php echo $this->partial(
        "index_header.phtml", array('currentAction'     => $this->currentAction,
                                    'allowRegistration' => $this->allowRegistration)
    ); ?>
    <!-- End of Header -->

    <!-- Page content -->
    <?php echo $this->layout()->content; ?>
    <!-- End of Page content -->

    <div class="push"></div>
</div>

<!-- Page footer -->
<?php echo $this->partial("index_footer.phtml"); ?>
<!-- End of Page footer -->

</body>
</html>