<!DOCTYPE html>
<html lang="en">
<head>
    <?php $this->headMeta()->appendName('charset', 'utf-8'); ?>
    <?php $this->headTitle('WinGrin Administration') ?>
    <?php $this->headMeta()->appendName(
        'description', 'WinGrin Administration'
    ); ?>
    <?php $this->headMeta()->appendName(
        'keywords', 'WinGrin Administration'
    ); ?>

    <!-- We need to emulate IE7 only when we are to use excanvas -->
    <!--[if IE]>
    <?php $this->headMeta()->appendHttpEquiv('X-UA-Compatible', 'IE=EmulateIE7', array('conditional' => 'IE')); ?>
    <![endif]-->
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta(); ?>
    <!-- Favicons -->
    <?php $this->headLink(
        array('rel'  => 'shortcut icon', 'type' => 'image/png',
              'href' => $this->baseUrl() . '/img/favicons/favicon.png')
    ); ?>
    <?php $this->headLink(
        array('rel'  => 'icon', 'type' => 'image/png',
              'href' => $this->baseUrl() . '/img/favicons/favicon.png')
    ); ?>
    <?php $this->headLink(
        array('rel'  => 'apple-touch-icon', 'type' => 'image/png',
              'href' => $this->baseUrl() . '/img/favicons/apple.png')
    ); ?>

    <!-- Main Stylesheet -->
    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/admin-style.css'
    ); ?>
    <!-- Colour Schemes
    Default colour scheme is blue. Uncomment prefered stylesheet to use it.
    <link rel="stylesheet" href="css/brown.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/gray.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/green.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/pink.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/red.css" type="text/css" media="screen" />
    -->
    <!-- Your Custom Stylesheet -->
    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/admin-custom.css'
    ); ?>
    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/jquery-ui-1.8.5.custom.css'
    ); ?>


    <!--swfobject - needed only if you require <video> tag support for older browsers -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/swfobject.js'
    ); ?>
    <!-- jQuery with plugins -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery-1.4.2.min.js'
    ); ?>
    <!-- Could be loaded remotely from Google CDN : <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.core.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.widget.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.ui.tabs.min.js'
    ); ?>
    <!-- jQuery tooltips -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.tipTip.min.js'
    ); ?>
    <!-- Superfish navigation -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.superfish.min.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.supersubs.min.js'
    ); ?>
    <!-- jQuery form validation -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.validate_pack.js'
    ); ?>
    <!-- jQuery popup box -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.nyroModal.pack.js'
    ); ?>
    <!-- jQuery graph plugins -->
    <!--[if IE]>
    <?php $this->headScript()->appendFile($this->baseUrl().'/js/flot/excanvas.min.js', 'text/javascript', array('conditional' => 'IE')); ?>
    <![endif]-->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/flot/jquery.flot.min.js'
    ); ?>
    <!-- jQuery wysiwyg editor -->
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.wysiwyg.min.js'
    ); ?>
    <!-- Internet Explorer Fixes -->
    <!--[if IE]>
    <?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/ie.css', 'text/css', array('conditional' => 'IE')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl().'/js/html5.js', 'text/javascript', array('conditional' => 'IE')); ?>
    <![endif]-->

    <!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
    <!--[if lt IE 8]>
    <?php $this->headScript()->appendFile($this->baseUrl().'/js/IE8.js', 'text/javascript', array('conditional' => 'lt IE 8')); ?>
    <![endif]-->

    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/administry.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/edit_user_functions.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'
    ); ?>

    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/jquery.treeview.css'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.treeview.js'
    ); ?>

    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/jquery.lightbox-0.5.css'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.lightbox-0.5.min.js'
    ); ?>

    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/dd.css'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.dd.js'
    ); ?>

    <?php $this->headLink()->appendStylesheet(
        $this->baseUrl() . '/css/galleriffic.css'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.galleriffic.js'
    ); ?>
    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.opacityrollover.js'
    ); ?>

    <?php $this->headScript()->appendFile(
        $this->baseUrl() . '/js/jquery.pstrength-min.1.2.js'
    ); ?>

    <?php echo $this->headLink(); ?>
    <?php echo $this->headScript(); ?>

    <script type="text/javascript">
        $(document).ready(function () {
            /* setup navigation, content boxes, etc... */
            Administry.setup();

            // html textbox editor
            $('textarea.wysiwyg').wysiwyg({
                controls: {
                    strikeThrough: {visible: true},
                    underline: {visible: true},
                    justifyLeft: {visible: false},
                    justifyCenter: {visible: false},
                    justifyRight: {visible: false},
                    justifyFull: {visible: false},

                    separator01: {visible: true},

                    indent: {visible: true},
                    outdent: {visible: true},

                    subscript: {visible: false},
                    superscript: {visible: false},

                    undo: {visible: true},
                    redo: {visible: true},

                    insertOrderedList: {visible: true},
                    insertUnorderedList: {visible: true},
                    insertHorizontalRule: {visible: true},

                    h4: {
                        visible: true,
                        className: 'h4',
                        command: $.browser.msie ? 'formatBlock' : 'heading',
                        arguments: [$.browser.msie ? '<h4>' : 'h4'],
                        tags: ['h4'],
                        tooltip: 'Header 4'
                    },
                    h5: {
                        visible: true,
                        className: 'h5',
                        command: $.browser.msie ? 'formatBlock' : 'heading',
                        arguments: [$.browser.msie ? '<h5>' : 'h5'],
                        tags: ['h5'],
                        tooltip: 'Header 5'
                    },
                    h6: {
                        visible: true,
                        className: 'h6',
                        command: $.browser.msie ? 'formatBlock' : 'heading',
                        arguments: [$.browser.msie ? '<h6>' : 'h6'],
                        tags: ['h6'],
                        tooltip: 'Header 6'
                    },

                    insertImage: {visible: false},

                    h1: {visible: false},
                    h2: {visible: false},
                    h3: {visible: false},

                    cut: {visible: true},
                    copy: {visible: true},
                    paste: {visible: true},
                    html: {visible: true}
                }
            });

        });
    </script>
</head>
<body>
<!-- Header -->
<?php echo $this->partial("header.phtml"); ?>
<!-- End of Header -->

<!-- Page content -->
<?php echo $this->layout()->content; ?>
<!-- End of Page content -->

<!-- Page footer -->
<?php echo $this->partial("footer.phtml"); ?>
<!-- End of Page footer -->

<!-- Admin template javascript load -->
<script type="text/javascript">
    $(function () {
        // Dialog
        $('#dialog').dialog({
            autoOpen: false,
            width: 400,
            modal: true
        });

        // Dialog Link
        $('#dialog_link').click(function () {
            $('#dialog').dialog('open');
            getSitesList();
            return false;
        });
    });
</script>
</body>
</html>