<header id="top">
    <div id="header">
        <div class="header-middle">
            <div class="wrapper">
                <!-- Start Nav -->
                <!-- Start Logo -->
                <img class="fl" id="logo"
                     src="<?php echo Zend_Controller_Front::getInstance()
                         ->getBaseUrl(); ?>/img/logo_small.png"
                     alt="Admin Theme">
                <!-- End Logo -->
                <ul class="pills fl">

                    <li>
                        <a href="<?php echo $this->url(
                            array('module'     => 'user',
                                  'controller' => 'dashboard'), null, true
                        ) ?>">Dashboard</a>
                    </li>

                    <li>
                        <a href="<?php echo $this->url(
                            array('module' => 'user', 'controller' => 'sites',
                                  'action' => 'edit'), null, true
                        ) ?>">Site Configuration</a>
                    </li>

                    <li>
                        <a href="<?php echo $this->url(
                            array('module'     => 'user',
                                  'controller' => 'settings',
                                  'action'     => 'edit'), null, true
                        ) ?>">User Settings</a>
                    </li>

                    <li>
                        <a href="http://support.wingrin.com" target="_blank">Help
                            & Support</a>
                    </li>

                </ul>

                <div class="header-top">
                    <?php if ($this->layout()->loginedUser != null): ?>
                        <p>Hello <strong><?php echo $this->layout(
                                    )->loginedUser->firstname . ' '
                                    . $this->layout(
                                    )->loginedUser->lastname; ?></strong> | <a
                                    href="<?php echo $this->url(
                                        array('controller' => 'index',
                                              'action'     => 'logout'), null,
                                        true
                                    ) ?>">Logout</a></p>
                    <?php endif; ?>

                </div>
                <!-- End Nav -->

                <br class="cl">

            </div>
        </div>
    </div>
</header>