<footer id="bottom">
    <div class="wrapper">
        <p>Copyright &copy; 2012. All Rights Reserved. <b><a
                        href="http://business.wingrin.com">WinGrin for
                    Business</a> | <a href="http://www.wingrin.com">WinGrin
                    Competitions</a></b></p>
    </div>
</footer>