<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">

    <fieldset class="campaignsetup">
        <div class="row termsandconditions">
            <div class="span14 offset1">

                <div class="row">
                    <div class="span3">
                        <div class="clearfix">
                            <label class="sampletc" for="condition_sample_id">Start
                                with sample:</label>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="clearfix">
                            <?php echo $this->element->condition_sample_id; ?>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="clearfix">
                            <?php echo $this->element->preview_button; ?>
                        </div>
                    </div>
                </div>

                <div class="row form-stacked">
                    <div class="span14">
                        <div class="clearfix">
                            <?php echo $this->element->condition_content; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span14 offset1">
                <div class="actions"
                     style="padding: 5px 0 5px 5px; margin-top: 40px;">
                    <div style="float:left;  margin-top: 16px; margin-left: 20px;">
                        <a href="<?php echo $this->url(
                            array('module'         => 'user',
                                  'controller'     => 'competitions',
                                  'action'         => 'questions',
                                  'competition_id' => $this->element->competition_id->getValue(
                                  )), null, true
                        ) ?>">&larr; Back</a>
                    </div>
                    <div style="margin-left:430px;" class="termsandconditions">
                        <?php if ($this->element->order_status->getValue()
                            == ORDER_STATUS_PENDING
                            && $this->element->condition_id->getValue() != null
                        ): ?>
                            <?php echo $this->element->save; ?>
                            <a href="<?php echo $this->url(
                                array('module'         => 'user',
                                      'controller'     => 'payment',
                                      'action'         => 'bypass',
                                      'competition_id' => $this->element->competition_id->getValue(
                                      )), null, true
                            ) ?>" class="btn success large">Publish</a>
                        <?php else: ?>
                            <?php echo $this->element->save; ?>
                            <a href="#"
                               class="btn success large disabled btn-publish"
                               rel="popover"
                               data-placement="right"
                               data-content="You need to save each step of the configuration before you can publish"
                               data-original-title="Complete setup first">Publish</a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>

        <?php echo $this->element->competition_id; ?>
        <?php echo $this->element->condition_id; ?>

    </fieldset>
</form>

<script>
    $(function () {
        $("a[rel=popover]")
            .popover({
                offset: 10
            })
            .click(function (e) {
                e.preventDefault()
            })
    })
</script>