<h6>Select ConstantContact list for new leads</h6>
<table width="100%" class="full no-style no-border" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align: top;">
            <label>List:</label><?php echo $this->formSelect('mail_list_id', $this->mailListId, null, $this->mailLists); ?>
            <?php echo $this->formHidden('mail_provider_id', 'constant_contact'); ?>
        </td>
        <td>
            <img src="<?php echo $this->logoUrl; ?>" alt="">
        </td>
    </tr>
</table>
