<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Terms and Conditions</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">

        <section class="column width8 blue">
            <div class="content-box corners">
                <header>
                    <h3>&nbsp;</h3>
                </header>
                <section class="content-box-table">

                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>