<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Contact Form</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'help',
                              'action' => 'documentation'), null, true
                    ) ?>"><span>Documentation</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'help',
                              'action' => 'contact'), null, true
                    ) ?>"><span>Contact</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Contact Us</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
    </div>
</div>