<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Help</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'help',
                              'action' => 'documentation'), null, true
                    ) ?>"><span>Documentation</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('module' => 'user', 'controller' => 'help',
                              'action' => 'contact'), null, true
                    ) ?>"><span>Contact</span></a></li>
            </ul>
            <?php echo $this->helpMenu; ?>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3><?php echo $this->documentation->subject; ?></h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->documentation->body; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
