<div id="pagetitle">
    <h1><?php echo $this->message ?></h1>
</div>

<div class="container" style="width:400px;margin-top:90px;margin-bottom:160px;">
    <div class="containerinner">

        <?php if (isset($this->exception)): ?>
            <b><?php echo $this->exception->getMessage() ?></b>
        <?php endif ?>
        <br/><br/>
        <?php if ($this->layout()->getLayout() == 'layout'): ?>
            <div class="tc">
                <a href="<?php echo $this->url(
                    array('controller' => 'dashboard'), null, true
                ) ?>">Dashboard</a>
            </div>
            <div class="tc">
                <a href="#">Help</a>
            </div>
        <?php elseif ($this->layout()->getLayout() == 'user_layout'): ?>
            <div class="tc">
                <a href="<?php echo $this->url(
                    array('module' => 'user', 'controller' => 'dashboard'),
                    null, true
                ) ?>">Dashboard</a>
            </div>
            <div class="tc">
                <a href="#">Help</a>
            </div>
        <?php endif; ?>
    </div>
</div>


