<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>User settings</h1>
        <div class="help fr">
            <?php if ($this->isSaved == true): ?>
                <span class="label success">Saved</span>
            <?php endif; ?>
            &nbsp;
        </div>
    </div>
</div>

<div class="container">
    <div class="containerinner">
        <div class="row">
            <div class="span14 offset1">
                <div class="mycampaignsheader">
                    <h2>My Settings</h2>
                </div>
            </div>
        </div>
        <?php echo $this->form; ?>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".password").pstrength();
    });
</script>