<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">

    <fieldset>
        <div class="row">
            <div class="span7 offset1">

                <div class="clearfix">
                    <?php echo $this->element->email; ?>
                </div>

                <div class="clearfix">
                    <?php echo $this->element->firstname; ?>
                </div>

                <div class="clearfix">
                    <?php echo $this->element->lastname; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->phone; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->country; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->timezone; ?>
                </div>
            </div>
            <div class="span6">
                <h3>Change password</h3>
                <div class="clearfix">
                    <?php echo $this->element->current_password; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->new_password; ?>
                </div>
                <div class="clearfix">
                    <?php echo $this->element->confirm_password; ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span14 offset1">
                <div class="actions"
                     style="padding: 0 0 5px 0; margin-top: 40px;">
                    <div style="margin-left:430px;">
                        <?php echo $this->element->save; ?>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>