<form enctype="multipart/form-data"
      action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <?php echo $this->element->external_site_id; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->site_name; ?>
            </td>
        </tr>
        <tr>
            <td>
                <label for="site_url" class="required">Site Url:</label><br/>
                <span class="http_label">http://</span><?php echo $this->element->site_url; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->upload_form; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->images_types_list; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->site_bio; ?>
            </td>
        </tr>
        <tr>
            <td class="tr">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->site_id; ?>
    <?php echo $this->element->competition_id; ?>
</form>