<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Site Configuration &rarr; <span><?php echo $this->siteUrl; ?></span>
        </h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'sites'), null, true
                    ) ?>"><span>Search</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'sites', 'action' => 'edit',
                              'id'         => $this->siteId), null, true
                    ) ?>"><span>General Configuration</span></a></li>
            </ul>
            <div class="content-box corners content-box-opened">
                <header style="cursor: s-resize;">
                    <h3>Site Campaigns</h3>
                </header>
                <section>
                    <?php if (count($this->campaignsList) > 0): ?>
                        <?php foreach ($this->campaignsList as $campaign): ?>
                            <span class="fl mr"><a href="<?php echo $this->url(
                                    array('controller' => 'campaigns',
                                          'action'     => 'edit',
                                          'id'         => $campaign->campaign_id),
                                    null, true
                                ) ?>"><?php echo $campaign->campaign_name; ?></a></span>
                            <span class="fl"><?php echo $campaign->getFormatedStartDate(
                                ); ?></span>
                            <div class="clear"></div>
                        <?php endforeach; ?>
                    <?php else: ?>
                        None
                    <?php endif; ?>
                </section>
            </div>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>General Configuration</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
<script type="text/javascript">
    $(function () {
        $("a.lightbox").lightBox({
            imageLoading: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-ico-loading.gif",
            imageBtnClose: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-close.gif",
            imageBtnPrev: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-prev.gif",
            imageBtnNext: "<?php echo Zend_Controller_Front::getInstance()
                ->getBaseUrl()?>/img/lightbox/lightbox-btn-next.gif"
        });
    });
</script>