<table class="top_competition_menu">
    <tr>
        <?php if ($this->selected == 'listing'): ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion',
                          'action'         => 'listing',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>" class="selected"><span class="label label-blue">1</span>&nbsp;WinGrin
                    Listing</a>
            </td>
        <?php else: ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion',
                          'action'         => 'listing',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>"><span class="label label-silver">1</span>&nbsp;WinGrin
                    Listing</a>
            </td>
        <?php endif; ?>
        <?php if ($this->selected == 'broadcast'): ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion',
                          'action'         => 'broadcast',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>" class="selected"><span class="label label-blue">2</span>&nbsp;Broadcast</a>
            </td>
        <?php else: ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion',
                          'action'         => 'broadcast',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>"><span class="label label-silver">2</span>&nbsp;Broadcast</a>
            </td>
        <?php endif; ?>
        <?php if ($this->selected == 'offer'): ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion', 'action' => 'offer',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>" class="selected"><span class="label label-blue">3</span>&nbsp;Follow
                    up offers</a>
            </td>
        <?php else: ?>
            <td>
                <a href="<?php echo $this->url(
                    array('module'         => 'user',
                          'controller'     => 'promotion', 'action' => 'offer',
                          'competition_id' => $this->parentView->competitionId),
                    null, true
                ) ?>"><span class="label label-silver">3</span>&nbsp;Follow up
                    offers</a>
            </td>
        <?php endif; ?>
    </tr>
</table>