<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?> &rarr;
            <span><?php echo $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "competitions/step_navigation.phtml",
                    array('selected' => 'promotion', 'parentView' => $this)
                ); ?>
            <?php else: ?>
                <?php echo $this->partial(
                    "competitions/simple_navigation.phtml",
                    array('selected' => 'listing', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
        </aside>
        <section class="column width6 blue" id="page_content_section">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "promotion/configure_steps.phtml",
                    array('selected' => 'listing', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
            <div class="content-box corners">
                <header>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="60%">
                                <h3>General Configuration</h3>
                            </td>
                            <td width="10%" style="vertical-align: middle;">
                                <img src="<?php echo Zend_Controller_Front::getInstance(
                                )->getBaseUrl(); ?>/img/information_big.png"
                                     alt="" style="vertical-align: middle;"/>&nbsp;<a
                                        href="#" class="white"
                                        onclick="helpPopupView(); return false;">Help</a>
                            </td>
                            <?php if ($this->isLocked == true): ?>
                                <td width="5%" style="vertical-align: middle;">
                                    <img src="<?php echo Zend_Controller_Front::getInstance(
                                    )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                                </td>
                                <td width="25%" class="lock_label">
                                    This competition is complete
                                </td>
                            <?php endif; ?>
                        </tr>
                    </table>
                </header>
                <section class="content-box-table" id="page_content_container">
                    <?php if ($this->showTopErrorBox == true): ?>
                        <div class="box box-error">Please check errors and try
                            again
                        </div>
                    <?php endif; ?>
                    <?php echo $this->postDetailsPageContent->body; ?><br/><br/>
                    <?php echo $this->form; ?>
                </section>
                <section class="content-box-table"
                         id="preview_content_container"
                         style="display: none;"></section>
            </div>
        </section>
        <?php echo $this->partial(
            "competitions/popups.phtml", array('parentView' => $this)
        ); ?>
    </div>
    <!-- End of Wrapper -->
    <script type="text/javascript">
        var ajaxImageUploadUrl = "<?php echo $this->url(
            array('module' => 'user', 'controller' => 'sites',
                  'action' => 'ajax-image-upload'), null, true
        )?>";
        var ajaxDeleteImageUrl = "<?php echo $this->url(
            array('module' => 'user', 'controller' => 'sites',
                  'action' => 'ajax-delete-image'), null, true
        )?>";

        $(function () {
            <?php if($this->isPostDetailsLoaded == false): ?>
            $('#promotion_part_container').hide();
            <?php endif; ?>

            reloadLightbox();
        });

        function reloadLightbox() {
            $("a.lightbox").lightBox({
                imageLoading: "<?php echo Zend_Controller_Front::getInstance()
                    ->getBaseUrl()?>/img/lightbox/lightbox-ico-loading.gif",
                imageBtnClose: "<?php echo Zend_Controller_Front::getInstance()
                    ->getBaseUrl()?>/img/lightbox/lightbox-btn-close.gif",
                imageBtnPrev: "<?php echo Zend_Controller_Front::getInstance()
                    ->getBaseUrl()?>/img/lightbox/lightbox-btn-prev.gif",
                imageBtnNext: "<?php echo Zend_Controller_Front::getInstance()
                    ->getBaseUrl()?>/img/lightbox/lightbox-btn-next.gif"
            });
        }

        function allowPostDetails() {
            if ($('#promotion_part_container').is(":hidden")) {
                $('#promotion_part_container').show();
            } else {
                $('#promotion_part_container').hide();
            }
        }

        function uploadImage() {

            $('#loaded_image_container').empty();
            var loadingBarImage = '<img src="<?php echo Zend_Controller_Front::getInstance(
            )->getBaseUrl(); ?>/img/loader.gif" alt="Uploading...."/>';
            $('#loaded_image_container').append(loadingBarImage);

            $("#post_details_form").ajaxForm({
                url: ajaxImageUploadUrl,
                dataType: 'json',
                success: uploadImageCompleted

            }).submit();
        }

        function uploadImageCompleted(result) {
            $('#loaded_image_container').empty();
            //$('#image_file').parent().find('ul.errors').empty();
            //alert(result.owner_id);
            if (result.error == false) {
                var uploadedImage = '<a href="' + result.image_url + '" class="lightbox" id="img_' + result.image_id + '" style="border: 0 none;"><img src="' + result.thumbnail_url + '" alt="" class="thumbnail"/></a>';
                $('#loaded_image_container').append(uploadedImage);

                $('#image_data_container').empty();

                var imageName = '<b class="big">' + result.image_name + '</b><br/>';
                $('#image_data_container').append(imageName);

                var imageSize = '<small><b>' + result.image_size + 'kB</b></small>'
                $('#image_data_container').append(imageSize);

                var deleteImageLink = '&nbsp;<a href="#" onclick="deleteImage(\'' + result.owner_id + '\', \'' + result.image_name + '\'); return false;">remove</a>';
                $('#image_data_container').append(deleteImageLink);

                var showImageLink = '&nbsp;&middot;&nbsp;<a href="#" onclick="$(\'#img_' + result.image_id + '\').click(); return false;">show</a>'
                $('#image_data_container').append(showImageLink);

                reloadLightbox();

            } else {
                //$('#loaded_image_container').append(currentUploadedImage);
                var errorMessage = '<li>' + result.error_message + '</li>';
                //$('#image_file').parent().find('ul.errors').append(errorMessage);
            }

            $("#post_details_form").ajaxFormUnbind();
        }

        function deleteImage(ownerId, imageName) {
            $.ajax({
                url: ajaxDeleteImageUrl,
                dataType: 'json',
                data: 'owner_id=' + ownerId + '&image_name=' + imageName,
                success: deleteImageCompleted
            });
        }

        function deleteImageCompleted() {
            $('#loaded_image_container').empty();
            $('#image_data_container').empty();
        }
    </script>
</div>