<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1><?php echo $this->heading; ?> &rarr;
            <span><?php echo $this->siteUrl; ?></span></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "competitions/step_navigation.phtml",
                    array('selected' => 'promotion', 'parentView' => $this)
                ); ?>
            <?php else: ?>
                <?php echo $this->partial(
                    "competitions/simple_navigation.phtml",
                    array('selected' => 'offer', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
        </aside>
        <section class="column width6 blue" id="page_content_section">
            <?php if ($this->stepsNavigation == true): ?>
                <?php echo $this->partial(
                    "promotion/configure_steps.phtml",
                    array('selected' => 'offer', 'parentView' => $this)
                ); ?>
            <?php endif; ?>
            <div class="content-box corners">
                <header>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="60%">
                                <h3>General Configuration</h3>
                            </td>
                            <td width="10%" style="vertical-align: middle;">
                                <img src="<?php echo Zend_Controller_Front::getInstance(
                                )->getBaseUrl(); ?>/img/information_big.png"
                                     alt="" style="vertical-align: middle;"/>&nbsp;<a
                                        href="#" class="white"
                                        onclick="helpPopupView(); return false;">Help</a>
                            </td>
                            <?php if ($this->isLocked == true): ?>
                                <td width="5%" style="vertical-align: middle;">
                                    <img src="<?php echo Zend_Controller_Front::getInstance(
                                    )->getBaseUrl(); ?>/img/lock.png" alt=""/>
                                </td>
                                <td width="25%" class="lock_label">
                                    This competition is complete
                                </td>
                            <?php endif; ?>
                        </tr>
                    </table>
                </header>
                <section class="content-box-table" id="page_content_container">
                    <?php if ($this->showTopErrorBox == true): ?>
                        <div class="box box-error">Please check errors and try
                            again
                        </div>
                    <?php endif; ?>
                    <?php echo $this->offerPageContent->body; ?><br/><br/>
                    <?php echo $this->form; ?>
                </section>
                <section class="content-box-table"
                         id="preview_content_container"
                         style="display: none;"></section>
            </div>
        </section>
        <?php echo $this->partial(
            "competitions/popups.phtml", array('parentView' => $this)
        ); ?>
    </div>
    <!-- End of Wrapper -->
    <script type="text/javascript">
        $(function () {
            <?php if($this->isSecondChanceOfferLoaded == false): ?>
            $('#offer_part_container').hide();
            <?php endif; ?>
        });

        function allowSecondChanceOffer() {
            if ($('#offer_part_container').is(":hidden")) {
                $('#offer_part_container').show();
            } else {
                $('#offer_part_container').hide();
            }
        }
    </script>
</div>