<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      id="<?php echo $this->element->getAttrib('id'); ?>"
      enctype="<?php echo $this->element->getAttrib('enctype'); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <?php echo $this->element->allow_post_details; ?><label
                        for="allow_post_data">I want my competition listed on
                    wingrin.com</label>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0" id="promotion_part_container">
        <tr>
            <td>
                <span class="title">About Your Competition</span>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->post_name; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->post_content; ?>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <span class="title">About Your Site</span>
                <span style="margin-left: 100px;">
                    <img src="<?php echo Zend_Controller_Front::getInstance()
                        ->getBaseUrl(); ?>/img/information_big.png" alt=""
                         style="vertical-align: middle;"/>
                    The following information is from your <a
                            href="<?php echo $this->url(
                                array('module' => 'user',
                                      'controller' => 'sites',
                                      'action' => 'edit',
                                      'site_id' => $this->element->site_id->getValue(
                                      )), null, true
                            ) ?>">site profile</a> and can also be edited here
                </span>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->site_name; ?>
            </td>
        </tr>
        <tr>
            <td>
                <label for="site_url" class="required">Site Url:</label><br/>
                <span class="http_label">http://</span><?php echo $this->element->site_url; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->site_bio; ?>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->upload_logo; ?>
            </td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td class="tr">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->competition_id; ?>
    <?php echo $this->element->post_details_id; ?>
    <?php echo $this->element->site_id; ?>
</form>