<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <?php echo $this->element->mail_promotion; ?><label
                        for="mail_promotion">Send my competition to the wingrin
                    mailing list</label>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->twitter_promotion; ?><label
                        for="twitter_promotion">Tweet about my
                    competition</label>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->facebook_promotion; ?><label
                        for="facebook_promotion">List my competition on the
                    wingrin facebook page</label>
            </td>
        </tr>
        <tr>
            <td class="tr">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->competition_id; ?>
</form>