<form action="<?php echo $this->element->getAction(); ?>"
      method="<?php echo $this->element->getMethod(); ?>"
      method="<?php echo $this->element->getMethod(); ?>">
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td>
                <?php echo $this->element->allow_second_chance_offer; ?><label
                        for="allow_second_chance_offer">Send a second chance
                    offer to participants</label>
            </td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0" id="offer_part_container">
        <tr>
            <td>
                <?php echo $this->element->offer_summary; ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php echo $this->element->offer_details; ?>
            </td>
        </tr>
    </table>
    <table width="100%" class="full no-style no-border" cellpadding="0"
           cellspacing="0">
        <tr>
            <td class="tr">
                <?php echo $this->element->save; ?>
            </td>
        </tr>
    </table>
    <?php echo $this->element->competition_id; ?>
    <?php echo $this->element->post_details_id; ?>
</form>