<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Customise sidebar - <?php echo $this->site->getSite_Name(); ?>
            :<?php echo $this->site->getSite_Url(); ?></h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first"><a href="<?php echo $this->url(
                        array('controller' => 'customise'), null, true
                    ) ?>"><span>Sites</span></a></li>
                <li class=""><a href="<?php echo $this->url(
                        array('controller' => 'customise', 'action' => 'style'),
                        null, true
                    ) ?>"><span>Select style</span></a></li>
                <li class="active"><a href="<?php echo $this->url(
                        array('controller' => 'customise', 'action' => 'edit'),
                        null, true
                    ) ?>"><span>Edit</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Select sidebar style</h3>
                </header>

                <section class="content-box-table">
                    <h4>Select style</h4>
                    <hr/>
                    <table class="full no-style no-border">
                        <tr>
                            <td valign="top">
                                <div id="thumbs" class="navigation">
                                    <ul class="thumbs noscript">
                                        <li>
                                            <a class="thumb" name="leaf"
                                               href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg"
                                               title="Title #0">
                                                <img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg"
                                                     alt="Title #0"/>
                                            </a>
                                            <div class="caption">
                                                <div class="download">
                                                    <a href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_b.jpg">Download
                                                        Original</a>
                                                </div>
                                                <div class="image-title">Title
                                                    #0
                                                </div>
                                                <div class="image-desc">
                                                    Description
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="thumb" name="drop"
                                               href="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9.jpg"
                                               title="Title #1">
                                                <img src="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9_s.jpg"
                                                     alt="Title #1"/>
                                            </a>
                                            <div class="caption">
                                                Any html can be placed here ...
                                            </div>
                                        </li>

                                        <li>
                                            <a class="thumb" name="bigleaf"
                                               href="http://farm3.static.flickr.com/2093/2538168854_f75e408156.jpg"
                                               title="Title #2">
                                                <img src="http://farm3.static.flickr.com/2093/2538168854_f75e408156_s.jpg"
                                                     alt="Title #2"/>
                                            </a>
                                            <div class="caption">
                                                <div class="download">
                                                    <a href="http://farm3.static.flickr.com/2093/2538168854_f75e408156_b.jpg">Download
                                                        Original</a>
                                                </div>
                                                <div class="image-title">Title
                                                    #2
                                                </div>
                                                <div class="image-desc">
                                                    Description
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td valign="top" style="vertical-align: top;">
                                <div id="gallery" class="content">
                                    <div id="controls" class="controls"></div>
                                    <div class="slideshow-container">
                                        <div id="loading" class="loader"></div>
                                        <div id="slideshow"
                                             class="slideshow"></div>
                                    </div>
                                    <div id="caption"
                                         class="caption-container"></div>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="full no-style no-border">
                        <tr>
                            <td valign="top">
                                <div id="thumbs1" class="navigation">
                                    <ul class="thumbs noscript">
                                        <li>
                                            <a class="thumb" name="leaf"
                                               href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg"
                                               title="Title #0">
                                                <img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg"
                                                     alt="Title #0"/>
                                            </a>
                                            <div class="caption">
                                                <div class="download">
                                                    <a href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_b.jpg">Download
                                                        Original</a>
                                                </div>
                                                <div class="image-title">Title
                                                    #0
                                                </div>
                                                <div class="image-desc">
                                                    Description
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="thumb" name="drop"
                                               href="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9.jpg"
                                               title="Title #1">
                                                <img src="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9_s.jpg"
                                                     alt="Title #1"/>
                                            </a>
                                            <div class="caption">
                                                Any html can be placed here ...
                                            </div>
                                        </li>

                                        <li>
                                            <a class="thumb" name="bigleaf"
                                               href="http://farm3.static.flickr.com/2093/2538168854_f75e408156.jpg"
                                               title="Title #2">
                                                <img src="http://farm3.static.flickr.com/2093/2538168854_f75e408156_s.jpg"
                                                     alt="Title #2"/>
                                            </a>
                                            <div class="caption">
                                                <div class="download">
                                                    <a href="http://farm3.static.flickr.com/2093/2538168854_f75e408156_b.jpg">Download
                                                        Original</a>
                                                </div>
                                                <div class="image-title">Title
                                                    #2
                                                </div>
                                                <div class="image-desc">
                                                    Description
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td valign="top" style="vertical-align: top;">
                                <div id="gallery1" class="content">
                                    <div id="controls1" class="controls"></div>
                                    <div class="slideshow-container">
                                        <div id="loading1" class="loader"></div>
                                        <div id="slideshow1"
                                             class="slideshow"></div>
                                    </div>
                                    <div id="caption1"
                                         class="caption-container"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
<script type="text/javascript" src="/js/jquery.galleriffic.js"></script>
<script type="text/javascript" src="/js/jquery.opacityrollover.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // We only want these styles applied when javascript is enabled
        $('div.navigation').css({'width': '300px', 'float': 'left'});
        $('div.content').css('display', 'block');

        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 0.67;
        $('#thumbs ul.thumbs li').opacityrollover({
            mouseOutOpacity: onMouseOutOpacity,
            mouseOverOpacity: 1.0,
            fadeSpeed: 'fast',
            exemptionSelector: '.selected'
        });

        $('#thumbs1 ul.thumbs li').opacityrollover({
            mouseOutOpacity: onMouseOutOpacity,
            mouseOverOpacity: 1.0,
            fadeSpeed: 'fast',
            exemptionSelector: '.selected'
        });

        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
            delay: 2500,
            numThumbs: 10,
            preloadAhead: 10,
            enableTopPager: true,
            enableBottomPager: true,
            maxPagesToShow: 7,
            imageContainerSel: '#slideshow',
            controlsContainerSel: '#controls',
            captionContainerSel: '#caption',
            loadingContainerSel: '#loading',
            renderSSControls: false,
            renderNavControls: false,
            playLinkText: '',
            pauseLinkText: '',
            prevLinkText: '',
            nextLinkText: '',
            nextPageLinkText: 'Next &rsaquo;',
            prevPageLinkText: '&lsaquo; Prev',
            enableHistory: false,
            autoStart: false,
            syncTransitions: true,
            defaultTransitionDuration: 900,
            onSlideChange: function (prevIndex, nextIndex) {
                // 'this' refers to the gallery, which is an extension of $('#thumbs')
                //var themeId = this.find('ul.thumbs').children().eq(nextIndex).find('a.thumb').attr('id');
                //$('#theme_id').val(themeId);

                this.find('ul.thumbs').children()
                    .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                    .eq(nextIndex).fadeTo('fast', 1.0);
            },
            onPageTransitionOut: function (callback) {
                this.fadeTo('fast', 0.0, callback);
            },
            onPageTransitionIn: function () {
                this.fadeTo('fast', 1.0);
            }
        });
        $.galleriffic.gotoImage('<?php echo $this->externalThemeId; ?>');

        var gallery1 = $('#thumbs1').galleriffic({
            delay: 2500,
            numThumbs: 10,
            preloadAhead: 10,
            enableTopPager: true,
            enableBottomPager: true,
            maxPagesToShow: 7,
            imageContainerSel: '#slideshow1',
            controlsContainerSel: '#controls1',
            captionContainerSel: '#caption1',
            loadingContainerSel: '#loading1',
            renderSSControls: false,
            renderNavControls: false,
            playLinkText: '',
            pauseLinkText: '',
            prevLinkText: '',
            nextLinkText: '',
            nextPageLinkText: 'Next &rsaquo;',
            prevPageLinkText: '&lsaquo; Prev',
            enableHistory: false,
            autoStart: false,
            syncTransitions: true,
            defaultTransitionDuration: 900,
            onSlideChange: function (prevIndex, nextIndex) {
                // 'this' refers to the gallery, which is an extension of $('#thumbs')
                //var themeId = this.find('ul.thumbs').children().eq(nextIndex).find('a.thumb').attr('id');
                //$('#theme_id').val(themeId);

                this.find('ul.thumbs1').children()
                    .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                    .eq(nextIndex).fadeTo('fast', 1.0);
            },
            onPageTransitionOut: function (callback) {
                this.fadeTo('fast', 0.0, callback);
            },
            onPageTransitionIn: function () {
                this.fadeTo('fast', 1.0);
            }
        });

    });

</script>