<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>Widget Themes</h1>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <aside class="column width2 first">
            <ul class="nav-a" style="z-index: 2; position: relative;">
                <li class="first active"><a href="<?php echo $this->url(
                        array('controller' => 'sites'), null, true
                    ) ?>"><span>Search</span></a></li>
            </ul>
        </aside>
        <section class="column width6 blue">
            <div class="content-box corners">
                <header>
                    <h3>Search Sites</h3>
                </header>
                <section class="content-box-table">
                    <?php echo $this->form; ?>
                </section>
            </div>
            <div class="content-box corners">
                <section class="content-box-table">
                    <table class="full">
                        <tr>
                            <td valign="top"><?php echo $this->paginateParamsForm; ?></td>
                            <td valign="top"
                                align="right"><?php echo $this->paginationControl(
                                    $this->paginatedSites, 'Sliding',
                                    'pagination_control.phtml'
                                ); ?></td>
                        </tr>
                    </table>
                    <table class="stylized full">
                        <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Site Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginatedSites as $site): ?>
                            <tr>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'sites',
                                              'action'     => 'edit',
                                              'id'         => $site->site_id),
                                        null, true
                                    ) ?>"><?php echo $site->site_url; ?></a>
                                    <a href="<?php echo $this->prepareUrl(
                                        $site->site_url
                                    ); ?>" class="img_link"><img
                                                src="<?php echo Zend_Controller_Front::getInstance(
                                                )->getBaseUrl(
                                                ); ?>/img/external_link.jpg"
                                                alt=""/></a>
                                </td>
                                <td><?php echo $site->site_name ?></td>
                                <td>
                                    <a href="<?php echo $this->url(
                                        array('controller' => 'customise',
                                              'action'     => 'style',
                                              'site_id'    => $site->site_id),
                                        null, true
                                    ) ?>">Customise</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div class="dataTables_info">
                        Showing <?php echo $this->itemsStart; ?>
                        to <?php echo $this->itemsEnd; ?>
                        of <?php echo $this->totalItems; ?> entries
                    </div>
                </section>
            </div>
        </section>
    </div>
    <!-- End of Wrapper -->
</div>
